@charset "utf-8";
/* CSS Document */

* { margin:0; padding:0; list-style:none; outline:none}

body,button,input,select,textarea{ font:14px/1 '\5FAE\8F6F\96C5\9ED1',Arial,'\9ED1\4F53','\5B8B\4F53';}

body{ position:relative; line-height:1;color:#333; ;background-color: #f2f2f2;}
 img{ border:none; vertical-align:middle}
button, input, select, textarea { font-size:100%;}
a, a:hover { text-decoration:none; color:#333}
a:hover{ color:#f00;}
.clearfix:after {clear: both;content: "";display: block;font-size: 0;height: 0;visibility: hidden;}
        * html .clearfix{ zoom:1;}
        *+ html .clearfix{ min-height:1px;}
.tc{ text-align:center;}
.fl{ float:left;}
.fr{ float:right;}
.pa{ position:absolute;}
.pr{ position:relative;}
.of{overflow:hidden}

		
.hd { background:#fff;clear:both;}
.hd-in { width:1200px;height:119px; margin:auto;}
.site-logo {float:left; margin-top:16px; width:340px; height:75px; background:url(../logo/mall_logo.png) no-repeat}
.site-logo a { display:block}

.search { float:right; padding-top:27px}
.search .txt { height:27px; line-height:1.7\9; padding:2px 0 2px 5px;width:433px; font-size:16px;  border:2px solid #ff7800;vertical-align:middle; color:#939393}
.search .submit { display:inline-block; width:98px; height:35px; font-size:18px; border:none; margin:0 0 0 -4px; vertical-align:middle;background:#ff7800; color:#fff;cursor:pointer}
.search .tag { padding-top:10px; font-size:12px; color:#939393}
.search .tag a { color:#939393; margin-right:7px}

.nav { height:40px;}
.nav-in ul{ width:1200px; margin:auto}
.nav li { float:left; width:20%; font-size:18px; text-align:center}
.nav a { display:block; line-height:40px; color:#fff}
.nav .curr a,.nav a:hover { background:#ff7800}

.ft { width:950px; margin:auto; color:#8c8c8c; font-size:12px; border-top:2px solid #ff7800;clear:both}
.ft a { color:#8c8c8c}
.f-lnks { padding:10px 0 12px; border-bottom:1px solid #d2d2d2;width:950px;margin:0 auto;font-size:12px;border-top:2px solid #ff7800}
.f-lnks ul { margin-right:-24px; overflow:hidden}
.f-lnks li { float:left; width:96px; margin-right:11px;  white-space:nowrap; overflow:hidden}
.f-lnks li a { line-height:1.8;}

.site-map { text-align:center; padding-top:20px}
.site-map ul { width:760px; margin:0 auto 8px}
.site-map li {float:left; padding-right:20px; height:14px; overflow:hidden; border-right:1px solid #cfcfcf}
.site-map li a { display:block; margin-left:20px; *padding-bottom:1px; *line-height:1.2; }
.site-map p { margin-bottom:8px; line-height:1.5}.site-map img { margin-right:10px} .site-map span { margin-right:26px}

.content { width:950px; margin: 0 auto 12px;}
.content-s1 { border:none; background:none}
.content-mar { margin-top:10px}
.col-left { float:left; width:670px}
.col-right { float:right; width:270px}
.flzs{margin-bottom:15px;width:670px; height:430px; display:block; overflow:hidden}
.gap-ct { margin-bottom:12px; border-top:2px solid #ff7800; background:#fff}
.gap-ct-s1 { border:none}
.gap-ct .more { float:right; line-height:47px; display:inline-block; width:40px;}
.gap-pad { padding:0 10px}
.gap-hd {}
.gap-hd-s1 { margin-top:10px; border-top:2px solid #e4e4e4;height:40px}
.gap-hd-s2 {height:40px;border-bottom:2px solid #e4e4e4}
.gap-hd h3 { line-height:46px; font-size:22px; color:#333638; font-weight:normal}
.gap-hd .thts {line-height:46px;height:46px;float:right;font-size:14px; color:#f30;border-top:0px;}
.gap-hd .small { margin-top:-2px;_position:relative;_z-index:2;float:left; font-size:18px; border-top:2px solid #ff7800}
.gap-hd .small-2 {float:left; font-size:18px;border-bottom:2px solid #ff7800;line-height:40px;width:100px;text-align:center;_height:46px;}
.gap-hd .small-w{width:210px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;} 
.gap-hd .tabs { padding-right:10px; height:40px; border-bottom:1px solid #e4e4e4; background:#e9e9e9 }
.gap-hd .tabs span { height:38px; line-height:38px;float:left;font-size:18px; padding:0 10px; border:solid #e4e4e4; border-width:2px 0 0; border-right:1px solid #e4e4e4;  background:#fff;cursor:pointer}
.gap-hd .tabs .curr { height:39px; background:#fafafa; border-bottom:1px solid #fafafa; border-top-color:#ff7800; }
.gap-hd .tabs .more { line-height:38px}



.gap-next-ct {  padding-bottom:5px; line-height:1.5}
.gap-next-ct p{clear:both}
.gap-next-ct a{color:#0078b6;}
.pack-list {  padding-bottom:1em}
.pack-list-last { padding-bottom:0}
.pack-list ul {_padding-bottom:17px; border-bottom:1px dotted #cdcdcd}
.pack-list ul.last { border-bottom:0}
.pack-list li { float:left; text-align:center; width:160px;margin:17px 0;height:148px}
.pack-list li:first-child{clear:both}
.pack-list img { display:block; margin:0 auto 6px;width:72px;height:72px;}
.pack-list li a{display: block;width: 8em;line-height: 20px;margin: 0 auto;}

.pack-list li .btn { display:block; width:42px; height:21px; margin:8px auto 0; border-radius:4px; line-height:21px; color:#fff}
.pack-list li .btn-c1 { background:#75d25c}
.pack-list li .btn-c2 { background:#ff8c26}
.pack-list li .btn-c3 { background:#45bdf1}
.pack-list li .btn-c4 { background:#888}


.dash-list li { padding:8px 10px; overflow:hidden; zoom:1;line-height:1.2; border-top:1px dotted #cdcdcd;clear:both}
.dash-list li p { width:170px; margin-right:10px; float:left;}
.dash-list img { float:left}
.dash-list .name { width:110px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.dash-list .no-code{margin-right:9px;color:#8C8C8C}
.dash-list li div { float:right; text-align:right; color:#ababab} 
.dash-list li .btn { width:40px; height:20px; border-radius:4px; margin-top:6px; display:block; color:#fff; line-height:20px; text-align:center}
.dash-list li .btn-c1 { background:#75d25c}
.dash-list li .btn-c2 { background:#ff8c26}
.dash-list li .btn-c3 { background:#45bdf1}
.dash-list li .btn-c4 { background:#888}
.dash-list .smallLi{width:100%;text-align:left}
.dash-list .bigLi{width:100%;text-align:left;}
.dash-list .bigLi .ds1 .org{font-size:14px;}

.dash-list .hot { vertical-align:top}
.dash-list .num { float:left;margin-right:6px;}
.dash-list .org,.dash-list .lo1 ,.dash-list .lo2 ,.dash-list .lo3 { color:#ff7800}
.dash-list-l { float:left; width:315px;}
.dash-list-r { float:right; width:315px}
.dash-list-r li .btn,
.dash-list-l li .btn,
.dash-list-s1 li .btn { margin-top:0}
.dash-list-s1 .curr { position:relative;background:#fafafa}
.dash-list-s1 .curr .g-name{width:91px;float:right;}
.reser li.curr img{margin:0 15px;}
.dash-list-s1 .g-name {display: inline-block;width: 130px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.dash-list-s1 .curr .num { margin-top:25px;width:16px;}
.dash-list-s1 div {}
.dash-list-s1 img,
.dash-list-s1 .prog { display:none!important;}
.dash-list-s1 .curr img { float:left; margin-right:11px;display:block!important;width:72px;height:72px;}
.dash-list-s1 .curr div { float:none;margin-top:4px;font-size:12px;overflow:hidden;zoom:1;text-align:left;position:absolute;top:30px;left:115px;width:94px;}
.dash-list-s1 li .bigLi div{left:85px;width:auto}
.dash-list-s1 .ds1 { padding-right:8px}
.dash-list-s1 .ds1 b{color:#f60 }
.dash-list-s1 .curr .ac { display:block}
.dash-list-s1 .curr .prog { float:none; display:inline-block!important; width:83px; height:8px; overflow:hidden; background:#e1e1e1}
.dash-list-s1 .curr .ds1 { padding:0}
.dash-list-s1 .prog span { height:100px; display:inline-block; background:#5dca3f}
.dash-list-s1  li .btn-c4 { background:#888}
.dash-list-s1  li .btn-c5 { background:#ddd}

.no-dash { padding-bottom:12px}
.no-dash li { border:0; padding:5px 0}
.no-dash li p { width:230px; text-overflow:ellipsis;overflow: hidden;white-space:nowrap} 

.user_c{background:#e9e9e9}
.menu-bar { float:left; width:190px;background:#e9e9e9}
.menu-bar {} 
.menu-bar li { float:left; height:45px; font-size:18px; border-bottom:1px solid #d8d8d8; width:100%; background:url(../images/dot_s2.png) no-repeat 33px center}
.menu-bar li a { display:block; text-align:center; line-height:45px; }
.menu-bar .curr { background:#ff7800 url(../images/dot_s1.png) no-repeat 33px center}
.menu-bar .curr a { color:#fff;}

.main { overflow:hidden; zoom:1; background:#f3f3f3}
.mall-list { padding:0 19px}
.mall-list li { padding:18px 0; border-bottom:1px dotted #cdcdcd;overflow: hidden;}
.mall-list .last { border-bottom:0}
.mall-list .thumb { float:left; margin-right:15px;width:72px;height:72px;}
.mall-list .dim-pic { float:right;width:100px;height:100px;}
.mall-list .r { overflow:hidden; zoom:1}
.mall-list h4 { line-height:1.5;font-size:18px; font-weight:normal; margin-bottom:7px}
.mall-list p { line-height:20px}
.mall-list p .intro { display:block; margin-top:7px; color:#0f7de3}
.mall-list .label { color:#929292;}
.mall-list .num { color:#e00}
.mall-list .dim { margin-top:9px; font-size:16px}
.mall-list .code { margin:0 5px; font-size:20px; color:#e00}
.mall-list .btn { display:inline-block; text-align:center; width:120px;height:35px; line-height:35px; border-radius:5px; color:#fff}
.mall-list .btn-s1 { width:auto; background:#e9e9e9; padding:0 12px;  color:#0f7de3}

.mall-list .btn-c1 { background:#46c923}
.mall-list .btn-c2 { background:#d6d6d6}
.mall-list .btn-c3 { background:#ff7800}
.mall-list .btn-a {  padding:0 18px; font-size:12px; line-height:24px; height:24px; width:80px; background:#6acdea}
.mall-list .btn-c5 { background:#6acdea}


.pager { margin:10px auto; padding-top:10px;text-align:center;border-top:#eee dashed 1px;}
.pager a,.pager b { margin-right:6px; height:21px; line-height:21px; color:#929292; padding:0 8px; display:inline-block}
.pager b{ background:#ff8c26; color:#fff}
.pager span.num {display:none;}

.portal { width:950px; margin:0 auto; height:40px; line-height:40px; color:#898989}
.portal a { margin:0 6px; color:#898989}

.game-info { }
.game-info .icon { display:block; margin:0 auto 12px;;}
.game-info h5 { line-height:2; margin-bottom:6px; font-size:16px;}

.game-info .txt { text-indent:2em; color:#898989; line-height:1.5}
.game-info .btn { display:block;height:30px; margin-top:10px;text-align:center; line-height:30px; color:#fff; border-radius:5px;}
.game-info .btn span { margin:0 6px -2px 0; display:inline-block}
.game-info .btn-s1 { background:#68c316}
.game-info .btn-s2 { background:#f3831f}
.game-info .btn-s3{ background:#36a9ea}
.game-info .btn-area { padding-bottom:10px }
.game-info .icon1 { width:14px; height:14px;  background:url(../images/icon_s1.png) no-repeat}
.game-info .icon2 { width:16px; height:16px; background:url(../images/icon_s2.png) no-repeat;}
.game-info .icon3 { width:16px; height:13px;  background:url(../images/icon_s3.png) no-repeat}
.big_lh_div{display:none}
.game-int { padding:12px 0 5px}
.game-int .icon { float:left; margin:0 16px 0 12px;}
.game-int .icon img{height:72px;width:72px;}
.game-int dl { float:left; }
.game-int dl .tit { font-size:22px; line-height:1.8}
.full{width:100%;height:100%;position:absolute;background:#000000;opacity:0.5;filter:alpha(opacity=50);top:0;left:0;z-index:10002;}
.game-show-message{z-index:10003;width:400px;border-radius:10px;background:#fff;position:fixed;margin-left:-200px;top:150px;left:50%;_position:absolute;_left:50%;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+150))}
.game-show-message .closeIcon{display:inline-block;width:12px;height:12px;background:url(../images/close-icon.png) no-repeat;float:right;margin:14px;}
.game-show-message p{line-height:40px;padding:0 15px}
.game-show-message .msgContent{line-height:50px;border-bottom:1px dashed #cdcdcd;margin:0 15px;overflow:hidden;padding:7px 0}
.game-show-message .msgContent .kaContent{height:35px;line-height:35px;width:100%;display:block;}
.game-show-message .msgContent .kaContent span{float:left;width:80px;font-size:18px;}
.game-show-message .msgContent .kaContent a{float:right;width:50px;}
.game-show-message .msgContent .kaContent input,
.game-show-message .msgContent .kaContent .em{width:220px;line-height:35px;float:left;color:red;display:inline-block;font-size:20px;border:0px;}
.game-show-message .msgContent .er-div {width:100%;height:30px;line-height:30px;display:block;float:left;overflow:hidden;}
.game-show-message .msgContent .er-div a .fl{float:left;}
.game-show-message .msgContent .code{display:none;width:100%;}
.game-show-message .msgContent .code img{display:block;width:80px;height:80px;float:right;margin-right:10px;}
.game-show-message a{color:#0078b6}

.gray{color:#898989}
.game-show-btns{padding:0 15px 10px 15px;margin-top:10px;overflow:hidden;text-align:center;}
.game-show-btns .btn { display: inline-block;border-radius: 5px;font-size: 14px;text-align: center;height: 30px;line-height: 30px;}
.game-show-btns .btn-s1 {width:100px;background:#46c923;padding:0 12px;color:#fff}
.game-show-btns .btn-s2 {width:100px;background:#888888;padding:0 12px;color:#fff}
.game-int dd { line-height:30px;overflow:hidden; zoom:1; margin-bottom:6px; }
.game-int .lb { float:left; color:#898989;background:transparent;line-height:30px;padding-left:0}
.game-int .per {  font-style:normal; color:#ff7800}
.game-int .progress { margin:12px 10px 0 0; float:left; width:120px; height:8px; background:#e1e1e1; overflow:hidden}
.game-int .progress span { float:left; height:100%; background:#5dca3f}
.game-int .tis {color:#898989;}
.game-int .syl{ height:30px;line-height:30px;overflow:hidden;float:left;}
.game-int .syl b{ float:left; font-weight:bold; color:#cc0000;padding-left:10px}
.game-int .syl_xs{ float:left; width:420px; height:14px; margin:8px 2px 0 0;background:url(../images/barbg2.gif) no-repeat;overflow:hidden; position:relative;}
.game-int .syl_xs em{ display:block; float:left; height:14px;}
.game-int .syl_xs em span{ display:block; height:14px;background:url(../images/barbg.gif) no-repeat;}
.game-int .syl i{ float:left;padding-left:10px; color:#360;overflow:hidden;}

.game-int dd label { margin-right:16px}
.game-int dd .check { margin:0 3px 2px 0; vertical-align:middle}
.game-int dd .txt { margin-right:18px; vertical-align:text-bottom; height:23px; border:1px solid #e8e8e8; background:#f5f5f5; width:85px;}
.game-int .btn { display:inline-block; padding:0 35px; border-radius:5px; font-size:18px; text-align:center; height:35px; line-height:35px; color:#fff;}
.game-int .btn-s1 {margin-right:20px; background:#46c923}
.game-int .btn-s2 { background:#ff7800}
.game-int .btn-s3 { background:#00a3ff}
.game-int .btn-s4 { background:#d6d6d6}
.game-int .btn-s5 { color:#0f7de3; background:#e9e9e9; margin:0 10px; padding:0 15px; font-size:15px}
.game-int .btn-a { margin-left:10px; padding:0 18px; font-size:12px; line-height:24px; height:24px; background:#6acdea}

.game-int .dim { display:inline-block; line-height:1.5; margin-left:10px; font-size:20px; color:#ee0000}
.game-int .num { color:#e00; font-size:16px; margin:0 5px}
.game-int .am { color:#156ed1}
.dim-tip { position:absolute; width:128px; height:121px; top:-33px; background:url(../images/dim_box.png) no-repeat 0 0}
.dim-tip img { display:block; margin:7px 0 0 15px }

.focus { padding:2px; background:#000; height:240px; overflow:hidden}
.focus ul li a{position:absolute;display:block;width:183px;height:79px;top:0;left:0;background:#000000;opacity:0.5;filter:alpha(opacity=50)}
.focus ul li .focusLi{opacity:0;filter:alpha(opacity=0)}
.focus-ct {float:left;display:none}
.focus-ct .bigImg{width:480px;height:240px;}
.focus ul li .smallImg{width:183px;height:78px;}
.focus-ct .selected{display:block}
.focus ul { float:right; width:183px;}
.focus li {position:relative; float:left; width:100%; margin-bottom:2px}
.a-z {display:none; margin-bottom:22px; padding:5px 0 10px; border-bottom:1px solid #e9e9e9}
.a-z .a-z-box{float:left;width:590px;}
.a-z-tab { height:47px; overflow:hidden; border-bottom:2px solid #d2d2d2}
.a-z-tab p, .a-z-tab h3 {float:left;line-height:47px;}
.a-z-tab span { display:inline-block; margin-left:20px;cursor:pointer; }
.a-z-tab .curr { color:#ff7800; background:url(../images/arrow.png) no-repeat center bottom}
.a-z li { height:32px; line-height:32px;border-top:1px dashed #f1f1f1;overflow:hidden}
.a-z li.none {border-top:0px}
.a-z .lb { float:left;width:23px;margin-top:7px;border-radius:4px; height:19px;padding-left:0; line-height:19px; margin-bottom:-4px; overflow:hidden; background:#ff7800; color:#fff; text-align:center}
.a-z .lb, .a-z a { display:inline-block; margin-right:24px}


.rank-panel { width:216px; float:left; margin:0 10px 0 0;border-top:2px solid #ff7800}
.rank-panel .ac { display:inline-block; padding-top:5px; display:none}
.rank-panel .ac em,.rank-panel .ac b { font-style:normal; color:#ff7800}
.rank-panel-last { margin-right:0}
.rank-panel div .btn{ margin-top:0}

.date-tab { padding-top:10px; float:right}
.date-tab a { float:left; width:50px; font-size:12px; height:24px; line-height:24px; text-align:center;}
.date-tab .curr,.date-tab .curr1 { background:#333; color:#fff}

.list-cap { clear:both; height:30px; line-height:30px; background:#fafafa}
.list-cap span { float:left; text-align:center; }
.list-cap .s1 { width:100px;}
.list-cap .s2 {width:66px;}

/***************************************************left****************************************/
.allgift{width:670px;border-top:2px solid #ff7800;background:#ffffff; display:block;margin-bottom:10px;}
.allgift .pager{margin:10px;}
.allgift .noviceContainer{height:120px;line-height:100px;}
.giftTit{width:670px;margin:0px auto 10px auto;padding-top:10px; height:34px; background:#FAFAFA; border-bottom:1px solid #ddd;}
.giftTit h2{font-size: 20px;line-height:20px;color:#333638;margin-left:23px;}
.sxuan{width:290px;line-height:20px;height:20px;margin:0px;float:right}
.sxuan a { float:left; width:70px; font-size:14px; height:24px; line-height:24px; text-align:center;margin:0px;padding:0px;}
.sxuan .curr {border-radius:5px; background:#333; color:#fff}
.sxuan b{color:#369}


.game-ul-list{padding:18px 10px 19px 10px;margin:0 auto;}
.game-ul-list li img{border-radius:12px;width:72px;height:72px;}
.game-ul-list li{float:left;width:120px;margin:1px 21px;text-align:center;line-height:20px;display:inline;position: relative;}
.game-ul-list .btns{display:block;width:42px;height:22px;margin:0 auto;border-radius:5px;color:#fff}
.allgift .list-1 li .btns{position:absolute;bottom:0;left:40px}
.allgift .list-1 li .gray{position: absolute;left: 27px;bottom: 22px;}
.allgift .list-1 li{height:155px}
.allgift .list-2 li{height: 135px;}
.allgift .list-2 li .btns{position:absolute;bottom:0;left:40px}
/*领取 申请*/
.game-ul-list .btns-1{background:#75d25c}
/*淘号*/
.game-ul-list .btns-2{background:#ff8c26}
/*预定*/
.game-ul-list .btns-3{background:#45bdf1}
/*超时*/
.game-ul-list .btns-4{background:#888}

.search2{padding:10px;width:650px;}
.search2 h2{font-size: 20px;line-height: 26px;}
.searchResult{padding:10px;width:640px;border-top:1px dashed #cdcdcd;}
.Result_img img{float: left;width:120px;height:120px;}
.Result_text{margin-left:15px;width:504px;}
.searchResult span{display: block;}
.dowload,.goPrefecture,.goBBS{margin:10px 0 0 20px;width:123px;height:30px;float: left;}
.Result_title{display:block;width:163px;font-size: 17px;color: #333333;line-height:33px;height:33px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; }
.game_kind{display:block;margin-top:8px;width:74px;font-size: 14px;color: #333333;line-height: 24px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.game_introduce{width:494px;line-height:20px;font-size: 14px;color:#898989;overflow: hidden;}
.dowload{background:url(../images/aasa.png) -41px 0px no-repeat;}
.goPrefecture{background:url(../images/aasa.png) -41px -30px no-repeat;}
.goBBS{background: url(../images/aasa.png) -41px -60px no-repeat;}
.getGift .taohao{background-position: 1px -69px;}
.getGift .yuding{background-position: 1px 0px;}
.remain{font-size:12px;}
/************************************************right**************************************/

.right{width:270px;}
.right .rank-panel{width:270px;margin-top:10px}
.right .rank-panel .small{font-weight:bold;font-size:18px;}
.right .rank-panel .dash-list .g-name{width:185px;display:inline-block;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.right .rank-panel .dash-list .curr .g-name{width:145px}
.gift_reserve,.gift_Ranklist{width:270px;border-top:2px solid #ff7800;background:#ffffff;}
.gift_Ranklist{margin-top:10px;}
.gift_reserve h2{font-size: 18px;line-height:44px;padding:0 12px;}
.gift_reserve ul li{padding:0 12px;height:36px;line-height:36px;border-top:1px dotted #cdcdcd;vertical-align: middle;}
.gift_reserve_name{width:156px;float:left;font-size: 13px;color:#333333;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.gift_reserve_img{margin:7px 0;display:block;width:42px;height:22px;background: url(../images/aasa.png) 1px 0px no-repeat;float:right;}

.ranklist_title{padding:0 12px;height:44px;}
.ranklist_title a{margin-top:11px;display: block;width:30px;height:25px;line-height:25px;font-size:14px;text-align: center;}
.ranklist_title a.new:hover{color:#fff}
.old{background:#e9e9e9;color: #111111;}
.new{background: #333638;color: #FFFFFF;}
.gift_Ranklist h2{font-size: 18px;line-height:44px;float: left;}
.gift_Ranklist ul li{border-top:1px dotted #cdcdcd; vertical-align:middle;}
.ranklist1{padding:10px;height:70px;display:none;}

.gift_Ranklist .ranklist2 .btns2,.gift_Ranklist .ranklist1 .btns1{display:inline-block;width:42px;height:22px;border-radius:5px;text-align:center;line-height:22px;color:#fff}
.gift_Ranklist .ranklist2 .btns2{float:right}
/*领取 申请*/
.gift_Ranklist .btn-s8{background:#75d25c}
/*淘号*/
.gift_Ranklist .btn-s9{background:#ff8c26}
/*预定*/
.gift_Ranklist .btn-s10{background:#45bdf1}
.rank{line-height: 72px;width:20px;text-align: center;}
.rank_img img{margin-left:10px;width:72px;height:72px;float:left;}
.other{font-size: 14px;color:#333333;}
.top{font-size: 14px;color: #ff7800;}
.ranklist_text{margin-left:10px;}
.ranklist_text span{line-height:20px;}
.ranklist_name{line-height:25px;display: block;font-size: 13px;color:#333333;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 130px;}
.ranklist_time{margin-top:5px;display: block;width:100px;font-size: 12px;color: #898989;}
.ranklist2{height:22px;line-height: 22px;padding:10px;}
.ranklist2_name{line-height:22px;margin-left:10px;display:inline-block;font-size: 13px;color:#333333; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 130px;}
.zhoulist{display: none;}
.rank2{width:20px;text-align: center;}
#banner{width:950px;margin:0 auto 12px;overflow:hidden}
#props{width:670px;float:left;}
.tabs{height:51px;width:670px;border-bottom:1px solid #e4e4e4;border-top:2px solid #e4e4e4;background:#fafafa;}
#props .tabs .active{height:52px;border-bottom:none;background:#fff;border-top:2px solid #ff7800;border-left: 1px solid #ccc;}
.tabs li{cursor:pointer;position:relative;width:112px;height:51px;margin-top:-2px;_margin-top:-2px;float:left;border:1px solid #ccc;border-top:2px solid #ccc;margin-left:-1px;text-align:center;font-size:16px;line-height:50px;}
.tabs ul{height:50px;position:absolute;}
#props ul li.active:first-child{border-left:none;}
.allProps{background:#fff;clear:both;}
.allProps .line{width:110px;margin:0px 25px;display:inline;}
.allProps .line img{width:72px;height:72px;}
.allProps li{padding:15px;width:640px;border-bottom:1px dashed #cdcdcd;text-align:center;overflow:hidden;}
.allProps li p{line-height:30px;}
.allProps li span{width:110px;height:23px;margin:0 auto;display:block;color:#fff;line-height:23px;background:url(../images/desc_bg.png) no-repeat center;}
.of{overflow:hidden}
.contents{width:950px;margin:0 auto;border-bottom:1px solid #ff7800;border-top:2px solid #ff7800;}
.noviceContainer{background:#fff;padding:0 20px;margin-bottom:15px;height: 300px;line-height: 150px;text-align: center;}
.noviceTile{font-size:19px;line-height:43px;}
.specialColor{color:#ff7800;}
.list_title{font-size:16px;line-height:34px;}
.detail{margin-left:16px;font-size:14px;line-height:24px;}
.noviceContainer ul li{padding:10px 0;border-top:1px dotted #cdcdcd;}
.showFixed{position:fixed;+top:0!important;top:0;left:0;z-index:9999;top:expression(eval(document.documentElement.scrollTop-40));}
.adver-1{width:670px;height:85px;}
.adver-2{width:270px;height:435px;}

/*0701*/
.yzmInp,.yzmImg{float:left;}
.yzmInp{width:140px;padding:0 5px;height:28px;border:1px solid #ccc;line-height:28px;margin-right:10px;}
.yzmImg{display:block;border:1px solid #ccc;height:28px;}
.yzmImg img{width:130px;height:28px;}
.game-int dd.yzmTips{margin-bottom:12px;line-height:20px;font-size:12px;color:#999;}
.game-int dd.yzmTips a{color:#ff6e00;}
.game-int .btn-sGray{background:#b8b8b8; cursor:default;}

/************************************************my-item-add-css**************************************/
.zclip{filter:alpha(opacity=0);opacity:0;}
/************************************************my-item-add-css**************************************/

/*0724*/
.phoneNum{display:block; text-align:center;font-size:34px;color:#ff6e00;}
.yzTips{text-align:center;font-size:12px;line-height:24px!important;color:#999;margin:0 15px;padding-bottom:15px!important;}
.yzForm{margin:5px 15px; text-align:center;padding:15px 0 0;border-top:1px dashed #cdcdcd;}
.yzInput,.yzBtn{display:inline;}
.yzInput{width:180px;height:30px; border:1px solid #ccc;padding:0 5px;}
.yzBtn{background-color:#46c923;color:#fff;padding:0 12px;width:100px; border:none;height:32px;border-radius:5px;}
.wrongTips{color:#cd0000;line-height:30px!important; text-align:center;}
.highlight{color:#ff6e00;}
.finish{font-size:22px;width:370px; text-align:center; padding:10px 15px!important;}
.otherGift{border-top:1px dashed #cdcdcd;margin:5px 15px 0;padding:10px 0 0}
.otherGift ul{width:360px;height:120px;margin:10px auto 5px;}
.otherGift ul li{width:100px;margin:0 10px;float:left;text-align:center;}
.otherGift ul li img{margin-bottom:5px;width:72px;height:72px;}

#thlb{display:none;position:relative;z-index:1;clear:both;}
#clti{display:none;position:absolute;top:0px;left:0px;z-index:999999;background:#fff url(../images/loading-s.gif) center 10px no-repeat;width:100%; height:300px; margin:auto; line-height:20px;filter:alpha(Opacity=80);-moz-opacity:0.8;opacity: 0.8;}

.zxrk_main{ width:649px;border-bottom:1px solid #ddd; margin-bottom:10px;font-size:12px;float:left;clear:both;padding:0px}
.zxrk_table tr td{ border:1px solid #ddd; border-left:0; border-bottom:0px;text-align:center; height:34px;line-height:34px; color:#555;margin:0px;padding:0px}
.zxrk_table tr .td{width:49px; border-left:1px solid #ddd; }
.zxrk_table tr .td1{ width:200px;}
.zxrk_table tr .td2{ width:150px;}
.zxrk_table tr .td3{ width:150px;}
.zxrk_table tr .td4{ width:100px;}
.zxrk_table tr td a{ display:block; width:42px; height:21px; margin:8px auto 0; border-radius:4px; line-height:21px; color:#fff}
.zxrk_table tr td a.btn1{background:#46C923}
.zxrk_table tr td a.btn2{background:#888}
#plist{width:100%;padding:10px 0px;text-align:center;}
#plist a,#plist b{display:inline-block;padding:3px 8px;margin:0px 5px;}
#plist a:hover,#plist b{color:#fff;}
#plist a:hover{text-decoration:none;background-color:#f6505c;}
#plist b{background-color:#404952;}
#plist span.num{display:none;}