@charset "utf-8";
/* CSS Document */

ul li{list-style:none;}
li{list-style:none;}
img{border:none;}
a{color:#333; text-decoration:none; cursor:pointer;}
em{font-style:normal;}
.clearfix,.comment_box dl{zoom:1;}
.clearfix:after,.comment_box dl:after{clear:both; height:0px; font-size:0px; visibility:hidden;display:block;content:" ";}


#main{width:1200px; height:auto; margin:0 auto; overflow:hidden;}
.maint{width:1200px; height:auto; margin-top:20px; overflow:hidden;}
.maint_l{float:left; width:891px; height:auto; overflow:hidden;}
.maint_r{float:right; width:289px; overflow:hidden;}

#focus{position: relative;height:341px;width:891px;margin:0px auto 20px;}
#focus .bd{position: relative}

#focus .btn-prev, #focus .btn-next{display: none;position: absolute;top:40%;width:58px;height:57px;z-index: 2}
#focus .btn-prev{left:0px;background:url(../../img/yxk_bg.png) no-repeat 0 0;}
#focus .btn-next{right:0px;background:url(../../img/yxk_bg.png) no-repeat -62px 0;}
#focus .btn-prev:hover{background:url(../../img/yxk_bg.png) no-repeat -124px 0px;}
#focus .btn-next:hover{background:url(../../img/yxk_bg.png) no-repeat -186px 0px;}

#focus .focus-bar-box{width: 100%;height: 341px;position: relative;overflow: hidden;}
#focus .focus-bar{width: 10000px}
#focus .focus-bar li{float: left;width:891px;height: 341px}
#focus .focus-bar li a{width: 100%;height: 100%;display: block}
#focus .focus-bar li img{width: 100%;min-height: 100%}
#focus .ft{position: absolute;left: 0;bottom: 0;z-index: 1;width:891px;height:47px}
#focus .ftbg{position: absolute;top: 0;left: 0;z-index: -1;width:891px;height:47px;background:#000; filter:Alpha(Opacity=50); opacity:0.5;}
#focus .change{position: absolute;right:15px;bottom:20px;height:5px;overflow:hidden;}

#focus .change a{float: left;width:19px;height:5px;margin-right:6px;background:#fff;cursor: pointer;filter:Alpha(Opacity=90); opacity:0.9;}
#focus .change a.on{background:#fe6553;filter:Alpha(Opacity=100); opacity:1;}

#focus .hd{position: absolute;left: 0;bottom: 0;z-index:2;width:650px;height:47px}
#focus .focus-title{overflow: hidden;position: absolute;top: 0;left: 0;height:47px;padding: 0 10px 0 10px;line-height:47px;font-size:18px; width:630px;}
#focus .focus-title a{display: none;color: #fff;}

.global_box{ width:891px; height:auto; background:#fff; margin-bottom:20px; overflow:hidden;}
.global_tit{ font-size:20px; color:#333; font-weight:bold; padding:13px 20px; height:27px; line-height:27px;overflow:hidden;}
.global_tit .more{display:inline-block; font-size:14px; font-weight:normal; color:#666; float:right;}
.global_tit .more:hover{color:#3385ff;}
.global_list{ height:293px; overflow:hidden;}
.global_list ul li{float:left; width:80px; margin:0 10px 30px 20px; height:120px; text-align:center; font-size:14px; position:relative; overflow:hidden; _display:inline;}
.global_list ul li a img{ margin-bottom:5px;width:80px; height:80px; border-radius:12px; _height:79px;}
.global_list ul li span{display:inline-block;line-height:30px; height:30px; color:#666; overflow:hidden;}
.global_list ul li span.az{background:#fe6553; width:80px; margin:0 auto; color:#fff;  display:none; cursor:pointer;}

.yxhj{ width:891px; height:420px; overflow:hidden;}
.yxhj dt{ float:left; width:851px; overflow:hidden;}
.yxhj dd{float:left; width:270px; height:160px; margin:0 0px 20px 20px; position:relative; overflow:hidden; _display:inline;}
.yxhj dd img{width:270px; height:160px;}
.yxhj dd .bt{ width:260px; padding:0 5px; text-align:center; height:37px; line-height:37px; color:#fff; font-size:16px; position:absolute; bottom:0px; left:0px;background:rgba(0,0,0,0.5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#80000000,endColorstr=#80000000);}
.yxhj dd .ckxq{width:270px; height:160px; position:absolute; top:100%; right:0px;left:0px;background:rgba(0,0,0,0.5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#80000000,endColorstr=#80000000); -webkit-transition:top .4s;
    -moz-transition:top .4s;
    -ms-transition:top .4s;
    -o-transition:top .4s;
    transition:top .4s;}
.yxhj dd.hover .ckxq{ top:0px;}
.yxhj dd .ckxq a{display:inline-block; width:100%; height:100%;}
.yxhj dd .ckxq p{ font-size:24px; text-align:center; width:100%; color:#fff; margin:25px 0 20px 0; font-weight:bold; display:inline-block;}
.yxhj dd .ckxq span{display:block; width:84px; height:30px; line-height:30px;color:#fff; font-size:16px; background:#fe6553; margin:0 auto; text-align:center; overflow:hidden;}

.maint_r1{width:289px; height:341px; margin-bottom:20px; background:#fff; overflow:hidden;}
.maint_r1 dl dt{ width:249px; float:left; padding-bottom:0px; overflow:hidden;}
.maint_r1 dl dd{ float:left; height:105px; width:249px; padding:20px 0px; border-bottom:1px dashed #e9e9e9; margin-left:20px; overflow:hidden;}
.maint_r1 dl dd .pic{ width:105px; height:105px; float:left; position:relative;}
.maint_r1 dl dd .pic img{width:105px; height:105px;}
.maint_r1 dl dd .info{float:left; margin-left:20px; width:120px; overflow:hidden;}
.maint_r1 dl dd .info h5{ font-size:18px; font-weight:bold; height:28px; line-height:30px; overflow:hidden;}
.maint_r1 dl dd .info h5 a{ color:#666;}
.maint_r1 dl dd .info .dx{ color:#999; height:22px; line-height:22px; margin-bottom:3px; overflow:hidden;}
.maint_r1 dl dd .info .bnt{ display:inline-block; width:75px; height:24px; border:1px solid #fe6553; color:#fe6553; line-height:23px; text-align:center; font-size:14px; overflow:hidden;}
.maint_r1 dl dd .info .bnt:hover{width:77px; height:26px; line-height:25px; border:none; color:#fff; background:#fe6553;}
.maint_r1 dl dd .info .stars{float:none; margin:5px 0;}

.stars{ height:15px; width:76px; float:left; background:url(../../img/yxk_bg.png) no-repeat; overflow:hidden;}
.stars.star1{ background-position:-311px -1px;}
.stars.star2{ background-position:-295px -1px;}
.stars.star3{ background-position:-280px -1px;}
.stars.star4{ background-position:-265px -1px;}
.stars.star5{ background-position:-250px -1px;}

.stars.star1b{ background-position:-63px -571px;}
.stars.star2b{ background-position:-48px -571px;}
.stars.star3b{ background-position:-32px -571px;}
.stars.star4b{ background-position:-17px -571px;}
.stars.star0b{ background-position:-79px -571px;}

.maint_r2{ height:346px; width:289px; background:#fff; margin-bottom:20px; overflow:hidden;}
.maint_r2 ul{padding:0 20px; width:249px; overflow:hidden;}
.maint_r2 ul li{float:left; width:100%; border-top:1px dashed #e9e9e9; margin-top:-1px; height:34px; line-height:34px; font-size:14px; overflow:hidden;}
.maint_r2 ul li a{color:#666;}
.maint_r2 ul li a:hover{ color:#fe6553;}

.maint_r3,.maint_r4,.maint_r5{width:289px; height:auto; background:#fff; margin-bottom:20px; overflow:hidden;}

.maint_r3_box{ width:249px; height:auto; margin:-10px 20px 0; overflow:hidden;}
.maint_r3_box dl{ width:249px; height:auto; float:left;border-top:1px dashed #e9e9e9; margin-top:-1px; padding:9px 0; overflow:hidden;}
.maint_r3_box dl dt{height:23px; line-height:23px; font-size:14px; overflow:hidden;}
.maint_r3_box dl dt .tit{ color:#333; display:inline-block; float:left; width:190px; overflow:hidden;}
.maint_r3_box dl .bnt{ display:inline-block; font-size:12px; height:20px; width:48px; line-height:20px; color:#fe6553; text-align:center; border:1px solid #fe6553; float:right;}
.maint_r3_box dl dd .bnt{ background:#fe6553; color:#fff; width:58px; height:26px; line-height:26px; border:none; font-size:14px; font-weight:bold;}
.maint_r3_box dl dd .bnt:hover{background:#ff5945;}

.maint_r3_box dl dd{ height:75px; margin:6px 0; display:none; overflow:hidden;}
.maint_r3_box dl dd .pic{ float:left; display:inline-block; width:75px; height:75px; overflow:hidden; position:relative;}
.maint_r3_box dl dd .pic img{ width:75px; height:75px; border-radius:14px; _height:74px;}
.maint_r3_box dl dd .info{float:left; width:160px; height:75px; margin-left:10px; overflow:hidden;}
.maint_r3_box dl dd .info h5{ height:23px; line-height:21px; font-size:16px; font-weight:normal; overflow:hidden;}
.maint_r3_box dl dd .info h5 a{color:#666;}
.maint_r3_box dl dd .info h5 a:hover{color:#fe6553;}
.maint_r3_box dl dd .info p{color:#999; height:26px; line-height:26px; overflow:hidden;}
.maint_r3_box dl dd .info p span{color:#666;}

.cover_105,.cover_80,.cover_75,.cover_125,.cover_100{position:absolute; left:0px; top:0px; background:url(../../img/yxk_bg.png) no-repeat; display:inline-block;}
.cover_105{background-position:-1px -63px; width:105px; height:105px;}
.cover_80{background-position:-115px -63px; width:80px; height:80px;}
.cover_75{background-position:-202px -63px; width:75px; height:75px;}
.cover_125{background-position:0px -178px; width:125px; height:125px;}
.cover_100{background-position:-135px -202px; width:100px; height:100px;}

.maint_r4 dl{}
.maint_r4 dl dt{padding-bottom:0px;}
.maint_r4 dl dd{ height:80px; padding:13px 0;border-bottom:1px dashed #e9e9e9; width:249px; margin:0 20px;overflow:hidden;}
.maint_r4 dl dd .pic{ float:left; display:inline-block; width:75px; height:75px; margin-top:5px; overflow:hidden; position:relative;}
.maint_r4 dl dd .pic img{ width:75px; height:75px; border-radius:14px; _height:74px;}
.maint_r4 dl dd .info{float:left; width:160px; height:80px; margin-left:10px; position:relative; overflow:hidden;}
.maint_r4 dl dd .info h5{ height:44px; font-size:14px; font-weight:normal; overflow:hidden;}
.maint_r4 dl dd .info h5 a{color:#666; display:inline-block;line-height:21px;}
.maint_r4 dl dd .info h5 a:hover{ color:#fe6553;}
.maint_r4 dl dd .info .dx{color:#999; height:26px; line-height:26px; width:110px; overflow:hidden;}
.maint_r4 dl dd .info .stars{ margin:2px 0;}
.maint_r4 dl dd .score{ position:absolute; top:43px; right:0px; width:auto; padding:0 3px; color:#fe6553; overflow:hidden;}
.maint_r4 dl dd .score i{font-size:20px;}
.maint_r4 dl dd .score i span{ font-size:32px;}

.maint_r5{ padding-bottom:5px;}
.maint_r5 .title{ font-size:20px; color:#999; font-weight:bold; padding:13px 20px 10px 20px; height:27px; line-height:27px;overflow:hidden;}
.maint_r5 .title .more{display:inline-block; font-size:14px; font-weight:normal; color:#666; float:right;}
.maint_r5 .title ul{float:left; width:200px;}
.maint_r5 .title ul li{float:left; width:100px; cursor:pointer;}
.maint_r5 .title ul li.cur{ color:#fe6553;}

.maint_r5 dl{width:249px; margin:0 20px; color:#333; font-size:14px; position:relative;}
.maint_r5 dl dt{padding-left:5px; height:36px;line-height:36px; border-bottom:1px solid #e9e9e9;overflow:hidden;}
.maint_r5 dl dd{padding-left:5px; height:36px;line-height:36px; border-bottom:1px dashed #e9e9e9;overflow:hidden;font-size:14px;}
.maint_r5 dl ul li{ float:left; height:36px; line-height:36px; color:#333; text-align:center;overflow:hidden;}
.maint_r5 dl dt ul li{height:36px; line-height:36px; color:#333;}

.maint_r5 dl dd.bbn{border-bottom:none;}
.maint_r5 dl li.lt_red{color:red;}
.maint_r5 dl li{_display:inline-block;}
.maint_r5 dl li.time{width:20%; text-align:center;min-width:40px; }
.maint_r5 dl li.name{width:55%; text-align:center; }
.maint_r5 dl li.status{width:25%; text-align:center;}
.maint_r5 dl dd li.time{ color:#999;}

.maint_r5 dl li.name a{ color:#333;}
.maint_r5 dl li.name a:hover{color:#fe6553;}
.maint_r5 .more{display:inline-block; position:absolute; right:0px; top:-35px; font-size:14px; color:#666;}
.maint_r5 .more:hover{color:#3385ff;}

.mainb{ width:1200px; background:#fff; margin:0 auto; padding-bottom:8px; overflow:hidden;}
.phb_box{ width:363px; float:left; margin:0 17px 0 20px; overflow:hidden; _display:inline;}
.phb_box .global_tit{ padding-bottom:5px; padding-left:0px;}
.phb_n{ width:363px; height:auto; overflow:hidden;}
.phb_n dl{ padding:10px 0; border-bottom:1px dashed #e9e9e9; overflow:hidden; _position:relative;}
.phb_n dl dt{ width:100%; float:left; height:21px; overflow:hidden;}
.phb_n dl .game{float:left; font-size:14px; color:#333; width:280px; overflow:hidden;}
.phb_n dl .qs{float:right; width:16px; height:20px; background:url(../../img/yxk_bg.png)  no-repeat; display:inline-block; margin-right:15px; overflow:hidden;}
.phb_n dl .qs.ss{ background-position:-252px -28px;}
.phb_n dl .qs.sp{ background-position:-296px -28px;}
.phb_n dl .qs.xj{ background-position:-274px -30px;}
.iosphb dl .qs.ss{ background-position:-317px -28px;}
.pcphb dl .qs.ss{ background-position:-338px -28px;}

.phb_n dl dd{ height:75px; width:100%; float:left; margin:2px 0; overflow:hidden; display:none;}

.phb_n dl .num{ float:left; width:21px; height:21px; text-align:center;  line-height:21px; background:#c4d0db; font-size:14px; color:#fff; margin-right:15px; overflow:hidden;}
.phb_n dl .num.up{ background:#1bbc9b;}
.phb_n dl dd .num{height:75px; line-height:75px;}
.iosphb dl .num.up{ background:#53c5e7;}
.pcphb dl .num.up{ background:#fe6553;}

.phb_n dl dd .pic{width:75px; height:75px; float:left; position:relative;}
.phb_n dl dd .pic img{ width:75px; height:75px; _height:74px;}
.phb_n dl dd .info{ float:left; width:190px; margin-left:15px;}
.phb_n dl dd .info h5{ height:25px; line-height:23px; font-size:16px; font-weight:normal; overflow:hidden;}
.phb_n dl dd .info h5 a{color:#666;}
.phb_n dl dd .info h5 a:hover{color:#fe6553;}
.phb_n dl dd .info .dx{color:#999; height:26px; line-height:26px; width:190px; overflow:hidden;}
.phb_n dl dd .info .stars{ margin:5px 0;}
.phb_n dl dd .qs{margin-top:26px;}

#foot{ width:100%; background:#243445; border-bottom:1px solid #303f4f; border-top:2px solid #049dff; padding:15px 0 15px 0; margin-top:20px; clear:both; overflow:hidden;}
.footer{ width:1200px; height:auto; margin:0 auto;}
.footer .menu{ margin-top:10px; width:1200px; color:#297fb8;}
.footer .menu .logo_foot{ float:left; width:200px; height:80px;}
.footer .menu_r{ float:right; width:700px; text-align:right;}
.footer .menu_r ul { margin:15px 0 10px 0;}
.footer .menu_r ul a{color:#297fb8;}
.footer .menu_r ul a:hover{color:#ffd325;}
.footer .menu_r ul span{ padding:0 5px 0 10px; color:#297fb8; display:inline-block;}
.footer .menu_r p{ line-height:25px;}
.footer .menu_r p a{color:#297fb8; }
#foot.fixed{ position:fixed; left:0px; bottom:0px;_position:absolute;_top:expression(eval(document.documentElement.scrollTop));}


/*合集*/
.location{ height:30px; line-height:30px;color:#666; font-size:14px; padding-left:5px; margin:9px 0 5px 0; overflow:hidden;}
.location span{margin:0 5px;}
.location a{color:#666;}

.hj_box{width:1200px; height:auto; overflow:hidden;}
.hj_box_n{background:#fff; padding:15px; height:264px; margin-bottom:20px;}
.hj_box_nl{float:left; width:877px; height:264px; overflow:hidden;}
.hj_box_nr{float:right; width:293px; height:264px; overflow:hidden;}
.hj_box_nr .tit{font-size:24px; font-weight:bold; color:#666; padding-left:25px; overflow:hidden;}
.hj_box_nr .count{ width:100px; height:34px; line-height:26px; padding-left:25px; background:url(../../img/yxk_bg.png) no-repeat -136px -156px; color:#fff; font-size:14px; font-weight:bold; margin:13px 0 7px 0; overflow:hidden;}
.hj_box_nr .text{font-size:16px; color:#666; padding-left:25px; line-height:25px; overflow:hidden;}

.page{ width:100%; margin:0 auto; text-align:center; font-size:16px;}
.page .a1{border:1px solid #f6f6f6;display:inline-block;padding:8px 14px;}
.page a{color:#666;margin: 0 2px;padding:8px 14px;border:1px solid #f6f6f6; background:#fff; display:inline-block;}
.page a:hover,.page a.bg,.page span a:hover{background:#3385ff; color:#fff;border:1px solid #3385ff;}

.page span a{ border:1px solid #f6f6f6; padding:8px 14px;}
.page a.none,.page a.none:hover{
    color: #999;
    background: #fff;
    border: 1px solid #f6f6f6; cursor:default;
}

.hj_list{}
.hj_list dt{ width:1170px;float:left; }
.hj_list dd{height:125px; padding:25px 0; width:100%; float:left; margin-bottom:20px; background:#fff; overflow:hidden;}
.hj_list dd .pic{width:125px; height:125px; float:left; position:relative; margin:0 25px; overflow:hidden; _display:inline;}
.hj_list dd .pic img{width:125px; height:125px;}
.hj_list dd .bnt{color:#3385ff; border:1px solid #3385ff; text-align:center; width:114px; height:38px; line-height:38px; display:inline-block; float:right; font-size:20px; margin:58px 50px 0 0px; overflow:hidden;}
.hj_list dd .bnt:hover,.hj_list dd .bnt.on{ background:#3385ff; color:#fff; border:none; width:116px; height:40px; line-height:40px;}

.hj_list dd .info{float:left; width:820px; color:#555; height:125px;}
.hj_list dd .info h5{font-size:20px; font-weight:bold;}
.hj_list dd .info h5 a{color:#555;}
.hj_list dd .info .xx{ color:#666; width:820px; margin:5px 0 2px 0; height:20px; font-size:14px; overflow:hidden;}
.hj_list dd .info .xx span{display:inline-block; float:left; line-height:20px;}
.hj_list dd .info .xx .stars{margin-top:1px;}
.hj_list dd .info .xx em{display:inline-block; width:1px; background:#bfbfbf; height:17px; margin:3px 15px 0; float:left; overflow:hidden;}
.hj_list dd .info .text{ font-size:16px; clear:both; line-height:25px;}

/*游戏库*/
.sub_nav{background:#fff; width:1200px; margin:0 auto 20px; overflow:hidden;}
.sub_nav p{border-top:1px solid #f6f6f6; font-size:14px; color:#666;  padding:15px 0 15px 95px; line-height:27px; margin-top:-1px; position:relative;}
.sub_nav p span,.sub_nav p a{ display:inline-block; height:27px;margin:5px 0;/*728*/}
.sub_nav p span{position:absolute;left: 25px;top: 14px;}
.sub_nav p a{ padding:0 10px;}
.sub_nav p a:hover,.sub_nav p a.on{ background:#3385ff; color:#fff;}

.yxk_box{ width:1200px; height:auto; background:#fff; overflow:hidden;}
.yx_list{}
.yx_list .kk{ float:left; width:600px; height:100px; padding:30px 0; border:1px solid #f6f6f6; border-left:none; margin:-1px -1px 0 0px; overflow:hidden;}
.yx_list .kk .pic{width:100px; height:100px; float:left; position:relative; margin:0 25px 0 30px; overflow:hidden; _display:inline;}
.yx_list .kk .pic img{width:100px; height:100px; _width:99px;}
.yx_list .kk .bnt{color:#3385ff; border:1px solid #3385ff; text-align:center; width:86px; height:31px; line-height:31px; display:inline-block; float:right; font-size:16px; margin:58px 50px 0 0px; overflow:hidden;}
.yx_list .kk .bnt:hover,.yx_list .kk .bnt.on{ background:#3385ff; color:#fff; border:none; width:88px; height:33px; line-height:33px;}

.yx_list .kk .info{float:left; width:275px; color:#555; height:100px; overflow:hidden;}
.yx_list .kk .info h5{font-size:20px; font-weight:normal; margin-bottom:17px;}
.yx_list .kk .info h5 a{color:#666;}
.yx_list .kk .info h5 a:hover{color:#3385ff;}
.yx_list .kk .info .text{ font-size:14px; clear:both; line-height:25px; height:50px; overflow:hidden;}

.yxk_box .page{margin:30px auto;}

/*下载页*/
.show_main{width:1200px; height:auto; overflow:hidden;}
.show_l{float:left; width:298px; height:auto; background:#fff; border:1px solid #fff; border-right-color:#f6f6f6; z-index:2;position:relative;/*3.24*/}
.show_r{float:left; width:900px; height:auto; background:#fff; position:relative; z-index:1; overflow:hidden; _width:898px;}

.show_l1{ border-bottom:1px solid #f6f6f6; padding:45px 0 15px 0; position:relative; _height:176px;}
.show_l1 .tit{ color:#666; font-size:24px; width:100%; text-align:center; font-weight:bold;}
.show_l1 .pic{width:125px; height:125px; margin:10px auto; position:relative;}
.show_l1 .fenshu{position:absolute; right:17px; top:5px; display:inline-block; font-size:18px; color:#e84c3d;}
.show_l1 .fenshu em{font-size:30px; font-style:italic;}

.show_l2{ border-bottom:1px solid #f6f6f6; padding:20px 30px;}
.show_l2 ul li{float:left; width:238px; height:49px; margin:10px auto; position:relative; _z-index:999;}
.show_l2 ul li.az{ background:#29c96c;}
.show_l2 ul li.ios{ background:#3385ff; cursor:pointer; z-index:999;}
.show_l2 ul li.pc{ /*background:#e84c3d;12.24*/ height:60px; background:url(../../img/pczs_bg.png) no-repeat;}
.show_l2 ul li.xp{ background:#ff983b; height:60px;}
.show_l2 ul li.xp a{line-height:60px;}
.show_l2 ul li.az.hover{background:#25bf66;}
.show_l2 ul li.ios.hover{background:#3180f5;}
.show_l2 ul li.pc.hover{/*background:#dd493b;12.24*/ background-position:0 -62px;}
.show_l2 ul li.xp.hover{background:#fa9337;}
.show_l2 ul li.none,.show_l2 ul li.none.hover,.show_l2 ul .ios.none,.show_l2 ul .ios.none.hover{ background:#aab2bd; cursor:default;}
.show_l2 ul li a{display:block; width:188px; height:60px;/*12.24*/ line-height:49px; font-size:20px; color:#fff; float:left; overflow:hidden;}
.show_l2 ul li .icon{margin:9px 20px 0; background:url(../../img/yxk_bg.png) no-repeat; float:left; overflow:hidden;}
.show_l2 ul li .icon.az{background-position:-381px -63px; width:23px; height:30px; }
.show_l2 ul li .icon.ios{background-position:-342px -100px; width:25px; height:30px; }
.show_l2 ul li .icon.pc{background-position:-344px -69px; width:28px; height:23px; margin-top:13px;}
.show_l2 ul li .icon.xp{background-position:-312px -524px; width:48px; height:48px; margin:6px 8px 0 8px;}
.show_l2 ul li.none a{cursor:default;}

/*12.24*/
.show_l2 ul li.pc span{display:none;}
.show_l2 ul li .ewm.pc{border:none; height:60px;}

.show_l2 ul li.ios .tit{float:left;font-size:20px; color:#fff; line-height:49px;}
.show_l2 ul li.ios .jt{ display:inline-block; width:13px; height:8px; background:url(../../img/yxk_bg.png) no-repeat -64px -443px; margin:20px 0 0 10px; float:left;}
.show_l2 .ios_box{width:238px; padding:0px 0 0 0; position:absolute; left:0px; top:49px; z-index:9999; display:none;}
.show_l2 .ios_box div{float:left; width:220px; border-bottom:1px solid #438eff; background:#e7eef4; height:25px; line-height:25px; padding:7px 10px 7px 8px; position:relative; cursor:default; }
.show_l2 .ios_box div a{ width:140px; margin-left:12px; line-height:25px; height:25px; display:inline-block;font-size:14px; color:#999; overflow:hidden; cursor:default;}
/*.show_l2 .ios_box div a:hover,.show_l2 .ios_box div.onn a{ color:#3385ff;}*/
.show_l2 .ios_box div .tb{width:23px; height:23px; display:inline-block; float:right; background:url(../../img/yxk_bg.png) no-repeat -357px -455px; margin-top:1px;}
.show_l2 .ios_box div.onn{cursor:pointer; background:#5a9cff;}
.show_l2 .ios_box div.onn .tb{ background-position:-357px -427px;}
.show_l2 .ios_box div.onn:hover{background:#438eff;}
.show_l2 .ios_box div.onn a{cursor:pointer; color:#fff;}

.show_l2 ul li.ios.hover .ios_box{display:block;}
.show_l2 ul li.ios.hover .jt{ background-position:-85px -441px;}


.show_l2 .ewm,.show_l2 .ios_tb{ width:49px; float:right; height:49px; border-left:1px solid #24b862; cursor:pointer; overflow:hidden;}
.show_l2 .ios_tb{ border-left:1px solid #2d78e8;}
.show_l2 .ewm.pc{ border-left:1px solid #d74638;}
.show_l2 .ewm.xp{ border-left:1px solid #ec8e39; height:60px;}
.show_l2 .ewm.xp span{margin-top:18px;}
.show_l2 ul li.none .ewm,.show_l2 ul .ios.none .ios_tb{border-left:1px solid #98a0ac; cursor:default;}
.show_l2 .ewm span,.show_l2 .ios_tb span{display:block; width:25px; height:25px; background:url(../../img/yxk_bg.png) no-repeat -379px -104px; margin:12px auto 0; overflow:hidden;}
.show_l2 .ewm_box{position:absolute; top:-22px; left:243px; width:175px; height:175px; background:url(../../img/yxk_bg.png) no-repeat -240px -192px; text-align:center; overflow:hidden; display:none; z-index:9999;}
.show_l2 .ewm_box img{width:122px; height:122px; display:block;margin: 17px 0 7px 28px; +margin: 17px 0 7px 10px;}
.show_l2 .ewm_box span{font-size:14px; color:#666; font-weight:bold;}
.show_l2 .ios_box div .ewm_box{left:236px;}
.show_l2 ul .ios.none .ios_tb,.show_l2 ul .ios.none.hover .ios_tb{ cursor:default;}

/*3.13*/
.show_l2 .ewm.pc span{background-position:-318px -483px; height:26px; margin-top:11px;}


.show_l3{padding:20px 30px; width:238px; overflow:hidden;}
.show_l3 .text{color:#666; font-size:14px; height:auto; line-height:30px;}
.show_l3 .text span{ margin-right:15px;}
.show_l3 .newdigg{ height:28px; line-height:28px; margin:10px auto; overflow:hidden;}
.show_l3 .newdigg div{height:28px; width:113px; float:left; background:url(../../img/yxk_bg.png) no-repeat; float:left; cursor:pointer; overflow:hidden;}
.show_l3 .newdigg .digg_good{ background-position:0px -313px;}
.show_l3 .newdigg .digg_bad{ background-position:-122px -313px; margin-left:11px;}
.show_l3 .newdigg div p{ height:28px; width:57px; text-align:center; font-size:14px; color:#666; overflow:hidden;}

/*728*/
.show_l3.dd{ padding:20px 5px; width:288px;}
.show_l3.dd .text{float:left; width:127px; padding-left:15px; height:30px; overflow:hidden;}
.show_l3.dd .newdigg{float:left;  padding-left:20px;}


.show_r1{ padding:0 30px;}
.show_r1 .title{ font-size:18px; color:#333; height:38px; line-height:25px; margin:25px 0 5px 0; overflow:hidden;}
.show_r1 .title a{display:inline-block; float:right; width:125px; height:38px; background:url(../../img/yxk_bg.png) no-repeat -222px -425px; line-height:38px; color:#fff; font-size:20px; text-align:center; overflow:hidden;}
.gamejs{clear:both;overflow: hidden;}
.gamejs p{ color:#666; font-size:14px; line-height:32px;}

.gamejs .qqq{width: 160px; margin-bottom:10px; overflow:hidden;}
.gamejs .qqq span{ font-size:16px; color:#636363; line-height:22px; float:left;}
.gamejs .qqq  a{float:left;height: 22px;width: 90px;background: none;line-height: 22px;}

.more_btn{float: right; width:60px;height:24px; background:url(../../img/yxk_bg.png) no-repeat -282px -132px;color: #fff;cursor: pointer;line-height: 25px;overflow: hidden;font-size:14px; margin-top:15px; text-indent:-9999px;}
.more_btn.bbj{ background-position:-282px -158px;}
#j_app_desc{overflow: hidden; zoom: 1;color:#666; font-size:14px; line-height:32px;}


.show_r2{ width:839px; margin:15px 30px 39px; background:#fcfcfc; overflow:hidden;}
/*内页图片滚动*/

.cion_box1 {position:relative; color:#666;}
.cion_box2 { border:1px solid #c8c8c8; margin-top:13px;padding-bottom:5px; background-color:#fffffa;}
.cion_box2 .title { height:30px;  padding-left:25px; line-height:30px; font-size:14px; font-weight:bold; color:#737373; background-color:#fdf4ca;}

/*ss*/
.ss_box { position:relative; height:auto; width:490px; margin:0 auto; margin-top:17px; overflow:hidden; }
.ss_box2 { width:490px; overflow:hidden; position:relative; }
.ss_box2 ul { width:9999px !important;}
.ss_box2 li { float:left; width:450px; height:320px; display:inherit; text-align:center; overflow:hidden; }
.ss_body a{display:inline-block; cursor:default;}

.ss_box .tabcen_ul { height:auto; display:block; overflow:hidden; padding-top:8px;}
.ss_box .tabcen_ul li{ width:490px !important; overflow:hidden; height:auto;display:table-cell; vertical-align:middle;text-align:center;float:none; *float:left;}
.ss_box .tabcen_ul li a { *display:inline;}
.ss_box .tabcen_ul li img { max-width:490px; max-height:480px; vertical-align:middle;}
.cion_fy { position:absolute;display:block; bottom:44%;z-index:999; border:1px solid #f6f6f6;width:44px; height:110px; background:#fff;}
.cion_box1 .left_btn1{left:15px;}
.cion_box1 .right_btn1{right:15px;}
.cion_fy span{ background:url(../../img/yxk_bg.png) no-repeat -353px -140px; width:19px; height:33px; display:inline-block;margin:39px 0 0 12px;}
.cion_box1 .right_btn1 span{ background-position:-384px -140px; margin-left:14px;}
.cion_box1 .left_btn1:hover span{ background-position:-1px -347px;}
.cion_box1 .right_btn1:hover span{background-position:-32px -347px;}
.ss_ul { height:20px; margin:20px auto; overflow:hidden;}
.ss_ul ul { height:19px; display:block; position:relative; float:left; left:50%; }
.ss_ul li { padding:0 5px; text-align:center; float:left;  position:relative; right:50%; padding-top:2px;  }
.ss_ul a { display:inline-block; width:12px; height:12px; background:url(../../img/yxk_bg.png) no-repeat -1px -393px; }
.ss_ul .on a, .ss_ul a:hover { background-position:-20px -393px; }

/*图片滚动结束*/


.bg_list {zoom:1;width:799px; height:auto; margin:20px auto;position:relative; z-index:0; overflow:hidden;}
.mrd_bl,.mrd_br{ width:47px; height:47px; position:absolute; top:40%; background:url(../../img/yxk_bg.png) no-repeat;cursor:pointer;overflow:hidden; text-indent:-9999px; z-index:999;}
.mrd_bl,.mrd_bl.mrd_left { left:0px; background-position:-65px -466px;}
.mrd_br,.mrd_br.mrd_r {right:0px;background-position:-167px -466px; }
.mrd_bl:hover,.mrd_bl.mrd_left:hover{background-position:-116px -466px;}
.mrd_br:hover,.mrd_br.mrd_r:hover {background-position:-218px -466px; }
.mrd_bl.mrd_blon{background:none;}
.mrd_br.mrd_bron {background:none;}
.mrd_pic {width:799px;height:auto; height:470px; margin:0 auto;overflow:hidden;display:block;position:relative;}
.mrd_pic ul{position:absolute;}
.mrd_pic li { width:auto; height:auto;float:left; margin-right:20px;overflow:hidden;}
.mrd_pic li a{display:inline-block;width:auto; height:auto; cursor:default; position:relative; }
.mrd_pic li a img { display:block; width:auto; max-height:470px;}
.mrd_pic li a.cur{}
.mrd_pic li a span{ display:none; height:30px; width:177px; padding:0 5px; text-align:right; line-height:30px;color:#fff; font-size:14px; background:rgba(0,0,0,0.5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#80000000,endColorstr=#80000000);}
.mrd_pic li a:hover span,.mrd_pic li a.hover span{display:block;position:absolute; left:0px; bottom:0px;}
.bg_list{-moz-user-focus:ignore; -moz-user-input:disabled;-moz-user-select:none;  }



.show_r3{ margin-bottom:20px;}
.detail_tag{height:48px; border-bottom:1px solid #f6f6f6; margin-bottom:20px;}
.detail_tag ul{float:left; margin-left:-1px;}
.detail_tag ul li,.detail_tag p{position: relative;z-index:0;float: left;width:120px;height:47px;margin: 0 -1px -1px 0;border: 1px solid #f6f6f6; border-bottom:none;text-align: center;line-height:47px; cursor:pointer; font-size:18px; color:#333;}
.detail_tag ul li.dq{border-top: 2px solid #3385ff; background:#fff;}

.nrbox{width:100%;}
.nrbox ul li{width:414px; float:left; font-size:14px; margin-left:35px; line-height:30px; height:30px; overflow:hidden; _display:inline;}
.nrbox ul li a{color:#666;}
.nrbox ul li a:hover{ color:#3385ff;}
#k1k{margin-top:-4px;}
.yxlb{ width:869px; margin:0 0 0 30px; overflow:hidden;}
.yxlb_box{width:400px; height:146px; background:#f6f6f6; margin-right:21px; padding-left:9px; float:left;}
.yxlb_box h5{font-size:18px; font-weight:normal; height:25px; line-height:25px; margin:15px 0 10px 0;}
.yxlb_box h5 a{color:#333;}
.yxlb_box_b{ height:85px; overflow:hidden;}
.yxlb_box_b .lbxx{float:left; width:290px; line-height:27px; font-size:14px; color:#666;}
.yxlb_box_b .bnt{float:right; margin-right:20px; display:inline-block; width:80px; height:31px; line-height:31px; background:#3385ff; color:#fff; font-size:18px; text-align:center; overflow:hidden;}
.yxlb_box_b .bnt:hover{ background:#3180f5;}

.kckf{ float:left; width:450px; margin-left:-1px; margin-bottom:21px;}
.kckf_tit{ height:25px; line-height:25px; margin-bottom:15px; overflow:hidden;}
.kckf_tit b{ display:inline-block; width:6px; height:23px; float:left; background:#e84c3d; margin:1px 10px 0 30px;}
.kckf_tit span{float:left; display:inline-block; font-size:18px; color:#333;}
.kckf_nr{ border-left:1px solid #f6f6f6; padding:0 42px;}
.kckf_nr p{ color:#666; font-size:14px; height:35px; line-height:35px;}
.kckf_nr .time{float:right;}
.kckf_nr a{ font-size:14px; color:#666;}
.kckf_nr a:hover{ color:#e84c3d;}


.show_r4{ margin-bottom:25px; clear:both; overflow:hidden;}
.show_r4 .title{ font-size:18px; color:#666; margin:15px 0 10px 30px;}
.show_r4 ul{ padding-left:30px;}
.show_r4 ul li{width:100px; float:left; height:130px; position:relative; text-align:center; font-size:14px; margin-right:6px; overflow:hidden;}
.show_r4 ul li a{color:#666;}
.show_r4 ul li img{width:80px; height:80px; margin:10px 10px 3px 10px; _width:79px; _height:79px;}
.show_r4 ul li .cover_80{left:10px; top:10px;}
.show_r4 ul li span{ line-height:26px; display:inline-block; height:26px; overflow:hidden;}
.show_r4 ul li .down{ width:80px; height:25px; text-align:center; line-height:25px; color:#fff; background:#3385ff; display:none;}

.show_r4 ul li.hover{background:#f6f6f6;}
.show_r4 ul li.hover span{display:none;}
.show_r4 ul li.hover .down{display:inline-block;}
.show_r4 ul li.hover .cover_80{background-position:-60px -352px;}

.show_r5{ width:839px; height:auto; margin:0 auto; clear:both;}
.show_r5 h5,.show_r5 .pld_tit{ font-size:18px; color:#333; font-weight:normal; overflow:hidden;}
.comment1{ height:148px; margin:20px auto; overflow:hidden;}
.comment1 dl{ height:148px;}
.comment1 dl dt,.comment_box dl dt{float:left; width:56px; height:56px; position:relative;}
.comment1 dl dt img, .comment_box dl dt img{width:56px; height:56px; _height:55px;}
.cover_56{position:absolute; display:inline-block; width:56px; height:56px; left:0px; top:0px; background:url(../../img/yxk_bg.png) no-repeat -150px -351px;}
.comment1 dl dd,.hfkk{float:right; width:755px; border:2px solid #e5e5e5; height:145px; border-bottom:1px solid #e5e5e5;}
.comment1 dl dd textarea,.hfkk textarea{width:739px;height:94px; padding:5px 8px;background:#fff; outline:medium none; border:none; float:left;}

.comment1 dl dd .div2,.hfkk .div2{width:756px; height:40px;background:#f9f9f9; border-top:1px solid #f6f6f6; float:left;overflow:hidden;}
.comment1 dl dd .div2_l,.hfkk .div2_l{float:left; width:60px; height:27px; margin:6px 0 0 14px;_display:inline;}
.comment1 dl dd .div2_l .ico,.hfkk .div2_l .ico{display:inline-block; background:url(../../img/yxk_bg.png) no-repeat -391px -26px; line-height:32px; height:27px; padding-left:25px; color:#666; overflow:hidden; }
.comment1 dl dd .div2_r,.hfkk .div2_r{float:right; width:170px; text-align:right;}

.comment1 dl dd .div2_r .button,.hfkk .button{ float:right; width:95px; height:40px; text-align:center; font-size:18px;background:#3385ff; border:none; outline:medium none; color:#fff; cursor:pointer;}
.comment1 dl dd .div2_r .button:hover, .hfkk .button:hover{ background:#3180f5;}

/*表情*/
.qqFace{margin-top:4px;background:#fff;padding:2px;border:1px #dfe6f6 solid;}
.qqFace table{ z-index:1001;}
.qqFace table td{padding:0px;}
.qqFace table td img{cursor:pointer;border:1px #fff solid;}
.qqFace table td img:hover{border:1px #0066cc solid;}

.comment_box{}
.comment_box .title{border-bottom:2px solid #3385ff; font-size:18px; color:#333; height:45px; line-height:45px;}
.comment_box dl{border-bottom:1px dashed #f6f6f6; padding:15px 0; height:auto; clear:both; overflow:hidden;}
.comment_box dd{ width:768px; float:right; height:auto; overflow:hidden;}
.dd_t,.dd_c .text_box .tit{ font-size:14px; color:#3385ff; height:20px; line-height:20xp; overflow:hidden;}
.dd_t .time,.dd_c .text_box .tit .num{float:right; color:#999; font-size:14px;}
.dd_c{ height:auto; overflow:hidden;}
.dd_c .text{ font-size:14px; color:#333; margin:12px 0;}
.dd_c .text_box{ border:1px solid #e5e5e5; background:#f9f9f9; padding:10px 15px 10px 85px; margin-top:-1px; position:relative;}
.dd_c .text_box .tx{ position:absolute; left:15px; top:10px; width:56px; height:56px;}
.dd_c .text_box .cover_56{background-position:0 -462px;}
.dd_c .text_box.hover{background:#fff;}
.dd_c .text_box.hover .cover_56{background-position:-150px -351px;}
/*.dd_c .text_box .dd_b{ display:none;}
.dd_c .text_box.hover .dd_b{display:block;}*/
.zupl{background:#fdfdfd;height: 30xp;height:28px;line-height:28px;width:98px;margin: 15px auto;overflow: hidden;text-align: center;font-size: 14px; border:1px solid #f6f6f6; color:#666;}

.dd_b{ height:20px; line-height:20px; margin-top:15px; overflow:hidden;}
.dd_bl{float:left; width:300px; color:#999; font-size:12px;}
.dd_br{float:right; width:300px; text-align:right; font-size:14px;}
.dd_br a,.dd_br span{color:#666; margin-left:10px; cursor:pointer;}
.dd_br a:hover, .dd_br span:hover{text-decoration:underline;}

.hfkk{height:125px; margin-top:15px;}
.hfkk textarea{height:74px;}

.dd_c .text_box .hfkk{width:730px; clear:both; float:none;}
.dd_c .text_box .hfkk textarea{width:714px;}
.dd_c .text_box .hfkk .div2{width:730px;}

.comment_box.hot .title{border-bottom-color:#e84c3d;}
.comment_box.hot .dd_t,.comment_box.hot .dd_c .text_box .tit{color:#e84c3d;}

.comment_box .page{margin:20px auto;}
.guding{position:fixed;top:-10px; padding-top:10px; width:298px; border:1px solid #fff; border-right-color:#f6f6f6; background:#fff; z-index:2; _padding-top:0px;_position:absolute;_top:expression(eval(document.documentElement.scrollTop));}

.guding2{position:fixed; bottom:155px;width:298px; border-right-color:#f6f6f6; background:#fff; z-index:2; }


.banner{width:1200px;margin:15px 0 -2px 0; overflow:hidden;}
.banner img{width:1200px; height:110px;}

.linkbox{ height:auto; width:1200px; margin:20px auto 0; background:#fff; overflow:hidden;}
.linkbox.xqyd{width:900px; margin-left:300px;}
.linktit{height:43px; width:100%;line-height:43px;border-bottom:2px solid #3385ff; font-size:18px; color:#333;}
.linktit span{font-style:normal; float:left; height:43px; display:inline-block;color:#333; font-size:18px; padding:0 8px 0 8px;}

.link_arrow{float:right; margin:14px 15px 5px; width:40px; height:22px;display: inline-block;}
.link_arrow a{ display:block; float:left; overflow:hidden; width:16px; height:16px; background:#4e4e4e url(../../img/yxk_bg.png) no-repeat;text-indent:-9999px;_display:inline;}
.link_arrow a.link_right{ background-position:-272px -475px;}
.link_arrow a.link_left{ background-position:-290px -475px;margin:0 6px 0 0;}
.link_arrow a.disable{ background-color:#919191;}

.partner_con{width:1180px; margin:10px; max-height:60px;overflow:hidden;position: relative; clear:both;}
.partner_con ul li {float:left;overflow:hidden;width:118px;height:30px;font-size: 12px;line-height:30px;}
.partner_con ul li a{margin-right:8px;word-break:break-all;}
.linkbox.xqyd .linktit{width:839px; margin:0 auto;}
.linkbox.xqyd .partner_con{width:839px; margin:10px auto;}
.linkbox.xqyd .partner_con ul li{width:105px;}


.showcase{padding-top:20px;padding-bottom:20px; margin:0 20px;}
.showcase .s-content{width:10000px}
.showcase .scrollbar{overflow:hidden}
.showcase .scrollbar .s-box{height:250px;margin-bottom:20px;_width:838px;*position:relative;*overflow:hidden}
.showcase .scrollbar li{float:left;position:relative;height:250px;margin-right:18px;overflow:hidden}
.showcase .scrollbar li.last{margin-right:0}.showcase .scrollbar li img{max-height:250px;_height:250px}
.showcase .scrollbar li span{position:absolute;top:0;left:0;display:block;width:100%;height:45px}
.showcase .scrollbar li .bg{background:#000;opacity:.50;filter:alpha(opacity=50)}
.showcase .scrollbar li .info{line-height:45px;text-indent:45px;font-size:18px;color:#fff}
.showcase .scrollbar li.picture span{display:none;width:45px}
.showcase .scrollbar li.picture .info{background:url(../../img/find.png) no-repeat;_background:url(../../img/find.gif) no-repeat; cursor:pointer;}
.showcase .scrollbar li.picture .info:hover{background:url(../../img/find_h.png) no-repeat;}
.showcase .scrollbar li.active span{display:block}
.showcase .scrollbar li .video-bg{position:absolute;top:0;left:0;width:100%;height:100%;display:block;background:#000;opacity:.50;filter:alpha(opacity=50)}
.showcase .scrollbar li.active .video-bg{opacity:.70;filter:alpha(opacity=70)}
.showcase .scrollbar li .video-info{position:absolute;top:0;left:0;padding-top:72px;width:100%;height:178px;text-align:center}
.showcase .scrollbar li .video-info span{position:static}
.showcase .scrollbar li .video-info .video-icon{width:50px;height:50px;display:block;margin:0 auto;background:url(../../img/video-icon.png) center center no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../../img/video-icon.png)}
.showcase .scrollbar li .video-info .video-title{width:auto;height:auto;line-height:30px;font-size:20px;color:#fff;display:block;padding:18px 18px 0 18px;white-space:normal}
.showcase .scrollbar .track{display:none;position:relative;margin:0 4px;height:6px;background-color:#d4d4d4;font-size:0px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
.showcase .scrollbar .track div{width:110px;height:6px;background-color:#e84c3d;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
.showcase .slider{position:relative;display:none}
.showcase .slider .s-box{position:relative;width:605px;height:375px;margin:0 auto 20px;overflow:hidden}
.showcase .slider .s-box li{float:left;position:relative;width:605px;text-align:center}
.showcase .slider .trigger{position:absolute;top:0;right:0px;width:45px;height:45px;border:1px solid #f6f6f6;background:#fff url(../../img/bs.png) center no-repeat;text-indent:-333em}
.showcase .slider .prev,.showcase .slider .next{position:absolute;top:30%;display:block;width:44px;height:110px;border:1px solid #f6f6f6;background:#fff url(../../img/slider_arrow.png) 12px center no-repeat;text-indent:-333em}
.showcase .slider .prev{left:0px}
.showcase .slider .prev:hover{background-position:-83px center}
.showcase .slider .next{right:0px;background-position:-33px center}
.showcase .slider .next:hover{background-position:-128px center}
.showcase .slider .s-nav{text-align:center;height:30px}
.showcase .slider .s-nav .picture,.showcase .slider .s-nav .video{margin:0 7px}
.showcase .slider .s-nav .picture span,.showcase .slider .s-nav .video span{display:inline-block;width:30px;height:30px;background-image:url(../../img/slider_nav.png);background-repeat:no-repeat; cursor:pointer;}
.showcase .slider .s-nav .picture span{background-position:-40px 0}
.showcase .slider .s-nav .picture .active{background-position:-122px 0}
.showcase .slider .s-nav .video span{background-position:0 0}
.showcase .slider .s-nav .video .active{background-position:-82px 0}

.ylhz_qq{float:right; line-height:44px; font-size:14px; color:#e84c3d;}

/*多渠道弹窗*/
#fade{display:none;background:#000;filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity:0.6;opacity: 0.6;position: fixed; left: 0; top: 0; z-index: 10;width: 100%; height: 100%;z-index: 9999; _background:none; _height:0px;}

#popup{ display:none;position:fixed;width:340px; height:auto;left:45%;top:35%;margin-left:-200px;z-index:10000;background-color:#fff;_position:absolute;}
#popup .tit{height:36px; background:#f6f6f6; overflow:hidden;}
#popup .tit span{float:right; display:inline-block; width:26px; height:26px; margin:5px 5px 0 0; background:url(../../img/yxk_bg.png) no-repeat 0 -522px; cursor:pointer; overflow:hidden;}
#popup .qdbox{ padding:5px 5px 25px 5px; height:auto;}
#popup .qdbox div{ width:134px; height:37px; float:left; margin:20px 0 0 20px; position:relative; z-index:999;}
#popup .qdbox a{width:98px; height:37px; display:inline-block; padding-right:36px; text-align:center; line-height:37px; font-size:16px; background:url(../../img/yxk_bg.png) no-repeat -34px -523px; color:#2aca6a; position:relative;}
#popup .qdbox a em{width:36px; height:37px; display:inline-block; top:0px; right:0px; position:absolute;}
#popup .qdbox a:hover{color:#fff; background-position:-170px -523px;}
#popup .ewm_k{position:absolute; top:-26px; left:134px; width:175px; height:175px; background:url(../../img/yxk_bg.png) no-repeat -240px -192px; text-align:center; overflow:hidden; display:none; z-index:9999;}
#popup .ewm_k img{width:122px; height:122px; display:block;margin: 17px 0 7px 28px; +margin: 17px 0 7px 10px;}
#popup .ewm_k span{font-size:14px; color:#666; font-weight:bold;}
#popup .qdbox div.hover{z-index:9999;}

/*150429*/
*html{ _background-image:url(about:blank); _background-attachment:fixed; }
.bottombar { cursor:pointer;
position: fixed;
height: 60px;
z-index: 1001;
bottom: 0;
left: 0;
width: 100%;
min-width: 990px;
background:url(../../img/bottombar.png) no-repeat center 0;
box-shadow: 2px 0 10px hsl(0, 0%, 20%);
_position:absolute;
_bottom:expression(eval(document.documentElement.scrollBottom));
}
.warpper {
margin: 0 auto;
width: 1000px;
}

.bottombar_close {
float: right;
width: 32px;
height: 32px;
overflow: hidden;
/*4.29
background:url(../../img/bottom_closs.jpg);
*/
display: inline;
margin:14px 29px 0 0;
cursor: pointer;
}

.bottombar_ewm {
float: right;
width: 31px;
height: 31px;
background:url(../../img/bottom_ewm.jpg) no-repeat;
display: none;
margin: 15px 10px 0 0;
position: relative;
}
.bottombar_erweima {
width: 138px;
height: 173px;
position: absolute;
background:url(../../img/bottom_ewmd.png) no-repeat;
top: -188px;
left: -54px;
display: none;
}

.bottombar_anddwn {
width:110px; text-align:center;
height:40px; line-height:34px; font-size:18px;
overflow: hidden;
/*4.29
background:url(../../img/dwxz.png) no-repeat;
*/
display: inline-block;
float: right;
margin:10px 48px 0 0; color:#fff; cursor:pointer; text-indent:-9999px;
}
.bottombar_anddwn:hover{color:#fff;}