<extend name="Base/base"/>
<block name="body">
    <ul class="breadcrumb">
        <li><a href="{:U('/')}"><i class="fa icon-home"></i></a></li>
        <li>修改信息</li>
    </ul>
    <div class="headline">
        <h2>修改信息</h2>
        <ul class="list-unstyled list-inline pull-right">
            <li><a href="{$_SERVER['HTTP_REFERER']}"><button class="btn btn-info"><i class="icon-hand-left"></i>&nbsp;返回上一页</a></li></button>
            <li></li>
        </ul>
    </div>
    <div>
        <form action="{:U('Public/index')}" method="post" class="form-horizontal" role="form">
            
            <div class="form-group">
                <label class="col-md-2 control-label">密码</label>
                <div class="col-md-4">
                    <input type="password" class="form-control" name='pwd' id="pwd">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">确认密码</label>
                <div class="col-md-4">
                    <input type="password" class="form-control" id="repwd">
                </div>
                <span id="pnote" style="display:none;color:red">俩次输入的密码不一致</span>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-6">
                    <input type="submit" value="保存" id="submitaa">
                </div>
            </div>
        </form>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        $(function(){
            $("#repwd").blur(function(){
                var pwd   = $("#pwd").val();
                var repwd = $(this).val();
                if(pwd!=repwd){
                    $("#pnote").show().fadeOut(4000);
                    $("#submitaa").attr("disabled",true);
                }else{
                    $("#submitaa").removeAttr("disabled");
                }
            });
            name=$("#username").val();
            $("#username").blur(function(){
                var newname = $(this).val();
                // alert(name);
                // alert(newname);
                if(name!=newname){
                    $.ajax({
                        url:"{:U('Public/check')}",
                        type:'post',
                        data:{'name':newname},
                        success:function(data){
                            if(data){
                                $("#unote").show().fadeOut(4000);
                            }
                        },
                    });
                }
            });
            
        });
    </script>
</block>