<extend name="Public:main" />

<block name="main">
<div id="main" class="layout">
  <div class="kaifu">
    <!-- <div class="kc_btit kf_btit"><a href="http://www.985sy.com/test/" class="k_qhb">最新开测表</a>游戏开服</div> -->
    <div class="kc_tit kc_tit1"><a href="__MODULE__/Index/More" class="more" target="_blank">+ 查看更多</a>今日开服</div>
    <div class="kc_con">
        <table>
        <tbody>
          <tr>
            <th width="120">游戏名称</th>
            <th width="100">开服时间</th>
<th width="80">适用平台</th>
            <th width="100">服务区名</th>
            <th width="120">游戏类型</th>
            <th width="100">专区地址</th>
            <th width="100">领卡发号</th>
            <th width="120">下载游戏</th>
          </tr>
            <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/47.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="__PUBLIC__/Home/img/201703131489401598.jpg" alt="宠物小精灵"></a>
              </div>
              <p><a href="http://www.985sy.com/app/47.htm" target="_blank" title="宠物小精灵">宠物小精灵</a></p>
            </td>
            <td>06-30 09:00</td>
<td><img src="__PUBLIC__/Home/img/tu_an.jpg"> </td>
            <td>918区</td>
            <td>卡牌 动漫</td>
            <td><a href="http://www.985sy.com/app/47.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/47.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a class="k_ios_d_wu" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/47.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/52.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="__PUBLIC__/Home/img/201703151489561636.jpg" alt="神奇宝贝绿宝石"></a>
              </div>
              <p><a href="http://www.985sy.com/app/52.htm" target="_blank" title="神奇宝贝绿宝石">神奇宝贝绿宝石</a></p>
            </td>
            <td>06-30 09:00</td>
<td><img src="__PUBLIC__/Home/img/tu_an.jpg"> </td>
            <td>890区</td>
            <td>动漫 卡牌 挂机</td>
            <td><a href="http://www.985sy.com/app/52.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/52.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a class="k_ios_d_wu" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/52.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/167.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="__PUBLIC__/Home/img/201706301498789630.jpg" alt="快打三国BT"></a>
              </div>
              <p><a href="http://www.985sy.com/app/167.htm" target="_blank" title="快打三国BT">快打三国BT</a></p>
            </td>
            <td>06-30 10:00</td>
<td><img src="__PUBLIC__/Home/img/tu_an.jpg"> </td>
            <td>1区</td>
            <td>策略 三国 横版</td>
            <td><a href="http://www.985sy.com/app/167.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/167.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a class="k_ios_d_wu" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/167.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/53.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="__PUBLIC__/Home/img/201703151489571952.jpg" alt="波多忍者村"></a>
              </div>
              <p><a href="http://www.985sy.com/app/53.htm" target="_blank" title="波多忍者村">波多忍者村</a></p>
            </td>
            <td>06-30 10:00</td>
<td><img src="__PUBLIC__/Home/img/tu_an.jpg"> </td>
            <td>42区</td>
            <td>卡牌 动漫</td>
            <td><a href="http://www.985sy.com/app/53.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/53.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a class="k_ios_d_wu" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/53.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/74.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="__PUBLIC__/Home/img/201704011491011854.jpg" alt="我要挂机-GM版"></a>
              </div>
              <p><a href="http://www.985sy.com/app/74.htm" target="_blank" title="我要挂机-GM版">我要挂机-GM版</a></p>
            </td>
            <td>06-30 10:00</td>
<td><img src="__PUBLIC__/Home/img/tu_an.jpg"> <img src="__PUBLIC__/Home/img/tu_ios.jpg"></td>
            <td>79区</td>
            <td>挂机</td>
            <td><a href="http://www.985sy.com/app/74.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/74.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a href="http://www.985sy.com/down/apple/74.htm" class="k_ios_d" target="_blank" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/74.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/31.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="__PUBLIC__/Home/img/201704111491894896.jpg" alt="新少年三国"></a>
              </div>
              <p><a href="http://www.985sy.com/app/31.htm" target="_blank" title="新少年三国">新少年三国</a></p>
            </td>
            <td>06-30 10:00</td>
<td><img src="__PUBLIC__/Home/img/tu_an.jpg"> <img src="__PUBLIC__/Home/img/tu_ios.jpg"></td>
            <td>97区</td>
            <td> 竖版 卡牌 </td>
            <td><a href="http://www.985sy.com/app/31.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/31.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a href="http://www.985sy.com/down/apple/31.htm" class="k_ios_d" target="_blank" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/31.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/94.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="__PUBLIC__/Home/img/201704191492592893.jpg" alt="三国志BT(神机三国)"></a>
              </div>
              <p><a href="http://www.985sy.com/app/94.htm" target="_blank" title="三国志BT(神机三国)">三国志BT(神机三国)</a></p>
            </td>
            <td>06-30 10:00</td>
<td><img src="__PUBLIC__/Home/img/tu_an.jpg"> <img src="__PUBLIC__/Home/img/tu_ios.jpg"></td>
            <td>82区</td>
            <td>策略 卡牌</td>
            <td><a href="http://www.985sy.com/app/94.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/94.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a href="http://www.985sy.com/down/apple/94.htm" class="k_ios_d" target="_blank" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/94.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/114.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="__PUBLIC__/Home/img/201705091494294311.jpg" alt="龙珠GT"></a>
              </div>
              <p><a href="http://www.985sy.com/app/114.htm" target="_blank" title="龙珠GT">龙珠GT</a></p>
            </td>
            <td>06-30 10:00</td>
<td><img src="__PUBLIC__/Home/img/tu_an.jpg"> </td>
            <td>23区</td>
            <td>卡牌 动漫</td>
            <td><a href="http://www.985sy.com/app/114.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/114.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a class="k_ios_d_wu" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/114.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/119.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="__PUBLIC__/Home/img/201705121494556119.jpg" alt="宠物小精灵GO"></a>
              </div>
              <p><a href="http://www.985sy.com/app/119.htm" target="_blank" title="宠物小精灵GO">宠物小精灵GO</a></p>
            </td>
            <td>06-30 10:00</td>
<td><img src="__PUBLIC__/Home/img/tu_an.jpg"> </td>
            <td>24区</td>
            <td>卡牌 动漫</td>
            <td><a href="http://www.985sy.com/app/119.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/119.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a class="k_ios_d_wu" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/119.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/122.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="__PUBLIC__/Home/img/201705141494752063.jpg" alt="型月大乱斗"></a>
              </div>
              <p><a href="http://www.985sy.com/app/122.htm" target="_blank" title="型月大乱斗">型月大乱斗</a></p>
            </td>
            <td>06-30 10:00</td>
<td><img src="__PUBLIC__/Home/img/tu_an.jpg"> <img src="__PUBLIC__/Home/img/tu_ios.jpg"></td>
            <td>20区</td>
            <td>卡牌 动漫</td>
            <td><a href="http://www.985sy.com/app/122.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/122.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a href="http://www.985sy.com/down/apple/122.htm" class="k_ios_d" target="_blank" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/122.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                  </tbody>
      </table>
      </div>
    <div class="kc_tit kc_tit2"><a href="http://www.985sy.com/servermore/2/" class="more" target="_blank">+ 查看更多</a>即将开服</div>
    <div class="kc_con">
        <table>
        <tbody>
          <tr>
             <th class="text_left">游戏名称</th>
            <th width="100">开服时间</th>
<th width="80">适用平台</th>
            <th width="100">服务区名</th>
            <th width="120">游戏类型</th>
            <th width="100">专区地址</th>
            <th width="100">领卡发号</th>
            <th width="120">下载游戏</th>
          </tr>
                    <tr>
            <td class="text_left"><a href="http://www.985sy.com/app/32.htm" target="_blank" title="苍穹BT">苍穹BT</a></td>
            <td>07-01 10:00</td>
<td><img src="__PUBLIC__/Home/img/tu_an.jpg"> <img src="__PUBLIC__/Home/img/tu_ios.jpg"></td>
            <td>88区</td>
            <td>3D 即时 动作 </td>
            <td><a href="http://www.985sy.com/app/32.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/32.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
            <td><a href="http://www.985sy.com/down/apple/32.htm" class="k_ios_d" target="_blank" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/32.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td class="text_left"><a href="http://www.985sy.com/app/108.htm" target="_blank" title="勇者大陆">勇者大陆</a></td>
            <td>07-01 10:00</td>
<td><img src="__PUBLIC__/Home/img/tu_an.jpg"> <img src="__PUBLIC__/Home/img/tu_ios.jpg"></td>
            <td>27区</td>
            <td>MU 魔幻 3D </td>
            <td><a href="http://www.985sy.com/app/108.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/108.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
            <td><a href="http://www.985sy.com/down/apple/108.htm" class="k_ios_d" target="_blank" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/108.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td class="text_left"><a href="http://www.985sy.com/app/87.htm" target="_blank" title="三国群英传BT">三国群英传BT</a></td>
            <td>07-01 10:00</td>
<td><img src="__PUBLIC__/Home/img/tu_an.jpg"> </td>
            <td>110区</td>
            <td>策略 动作</td>
            <td><a href="http://www.985sy.com/app/87.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/87.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
            <td><a class="k_ios_d_wu" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/87.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td class="text_left"><a href="http://www.985sy.com/app/91.htm" target="_blank" title="大圣72变">大圣72变</a></td>
            <td>07-01 10:00</td>
<td><img src="__PUBLIC__/Home/img/tu_an.jpg"> <img src="__PUBLIC__/Home/img/tu_ios.jpg"></td>
            <td>42区</td>
            <td>卡牌 挂机</td>
            <td><a href="http://www.985sy.com/app/91.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/91.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
            <td><a href="http://www.985sy.com/down/apple/91.htm" class="k_ios_d" target="_blank" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/91.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td class="text_left"><a href="http://www.985sy.com/app/76.htm" target="_blank" title="少年三国2">少年三国2</a></td>
            <td>07-01 10:00</td>
<td><img src="__PUBLIC__/Home/img/tu_an.jpg"> <img src="__PUBLIC__/Home/img/tu_ios.jpg"></td>
            <td>120区</td>
            <td>策略 卡牌</td>
            <td><a href="http://www.985sy.com/app/76.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/76.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
            <td><a href="http://www.985sy.com/down/apple/76.htm" class="k_ios_d" target="_blank" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/76.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td class="text_left"><a href="http://www.985sy.com/app/96.htm" target="_blank" title="全民武侠">全民武侠</a></td>
            <td>07-01 10:00</td>
<td><img src="__PUBLIC__/Home/img/tu_an.jpg"> <img src="__PUBLIC__/Home/img/tu_ios.jpg"></td>
            <td>93区</td>
            <td>竖版 武侠 卡牌</td>
            <td><a href="http://www.985sy.com/app/96.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/96.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
            <td><a href="http://www.985sy.com/down/apple/96.htm" class="k_ios_d" target="_blank" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/96.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td class="text_left"><a href="http://www.985sy.com/app/95.htm" target="_blank" title="雪鹰争霸">雪鹰争霸</a></td>
            <td>07-01 10:00</td>
<td><img src="__PUBLIC__/Home/img/tu_an.jpg"> <img src="__PUBLIC__/Home/img/tu_ios.jpg"></td>
            <td>42区</td>
            <td>动作 策略 RPG</td>
            <td><a href="http://www.985sy.com/app/95.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/95.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
            <td><a href="http://www.985sy.com/down/apple/95.htm" class="k_ios_d" target="_blank" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/95.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td class="text_left"><a href="http://www.985sy.com/app/104.htm" target="_blank" title="全明星幻想">全明星幻想</a></td>
            <td>07-01 10:00</td>
<td><img src="__PUBLIC__/Home/img/tu_an.jpg"> <img src="__PUBLIC__/Home/img/tu_ios.jpg"></td>
            <td>30区</td>
            <td>卡牌 动漫</td>
            <td><a href="http://www.985sy.com/app/104.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/104.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
            <td><a href="http://www.985sy.com/down/apple/104.htm" class="k_ios_d" target="_blank" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/104.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td class="text_left"><a href="http://www.985sy.com/app/141.htm" target="_blank" title="暴走少女">暴走少女</a></td>
            <td>07-01 10:00</td>
<td><img src="__PUBLIC__/Home/img/tu_an.jpg"> <img src="__PUBLIC__/Home/img/tu_ios.jpg"></td>
            <td>18区</td>
            <td>动作  策略 挂机</td>
            <td><a href="http://www.985sy.com/app/141.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/141.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
            <td><a href="http://www.985sy.com/down/apple/141.htm" class="k_ios_d" target="_blank" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/141.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td class="text_left"><a href="http://www.985sy.com/app/126.htm" target="_blank" title="梦三国无双">梦三国无双</a></td>
            <td>07-01 10:00</td>
<td><img src="__PUBLIC__/Home/img/tu_an.jpg"> <img src="__PUBLIC__/Home/img/tu_ios.jpg"></td>
            <td>22区</td>
            <td>竖版 卡牌 策略 </td>
            <td><a href="http://www.985sy.com/app/126.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/126.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
            <td><a href="http://www.985sy.com/down/apple/126.htm" class="k_ios_d" target="_blank" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/126.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                  </tbody>
      </table>
       </div>
    <div class="kc_tit kc_tit3"><a href="http://www.985sy.com/servermore/3/" class="more" target="_blank">+ 查看更多</a>已经开服</div>
    <div class="kc_con">
        <table>
        <tbody>
          <tr>
            <th class="text_left">游戏名称</th>
            <th width="100">开服时间</th>
<th width="80">适用平台</th>
            <th width="100">服务区名</th>
            <th width="120">游戏类型</th>
            <th width="100">专区地址</th>
            <th width="100">领卡发号</th>
            <th width="120">下载游戏</th>
          </tr>
                    <tr>
            <td class="text_left"><a href="http://www.985sy.com/app/26.htm" target="_blank" title="金庸群侠传">金庸群侠传</a></td>
            <td>06-29 14:00</td>
<td><img src="__PUBLIC__/Home/img/tu_an.jpg"> <img src="__PUBLIC__/Home/img/tu_ios.jpg"></td>
            <td>48区</td>
            <td>卡牌 武侠</td>
            <td><a href="http://www.985sy.com/app/26.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/26.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
            <td><a href="http://www.985sy.com/down/apple/26.htm" class="k_ios_d" target="_blank" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/26.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                  <tr>
            <td class="text_left"><a href="http://www.985sy.com/app/66.htm" target="_blank" title="魔兽纪元">魔兽纪元</a></td>
            <td>06-29 14:00</td>
<td><img src="__PUBLIC__/Home/img/tu_an.jpg"> </td>
            <td>42区</td>
            <td>即时 3D 动作</td>
            <td><a href="http://www.985sy.com/app/66.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/66.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
            <td><a class="k_ios_d_wu" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/66.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                  <tr>
            <td class="text_left"><a href="http://www.985sy.com/app/44.htm" target="_blank" title="皇途霸业">皇途霸业</a></td>
            <td>06-29 11:00</td>
<td><img src="__PUBLIC__/Home/img/tu_an.jpg"> <img src="__PUBLIC__/Home/img/tu_ios.jpg"></td>
            <td>40区</td>
            <td>传奇</td>
            <td><a href="http://www.985sy.com/app/44.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/44.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
            <td><a href="http://www.985sy.com/down/apple/44.htm" class="k_ios_d" target="_blank" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/44.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                  <tr>
            <td class="text_left"><a href="http://www.985sy.com/app/54.htm" target="_blank" title="龙の谷">龙の谷</a></td>
            <td>06-29 11:00</td>
<td><img src="__PUBLIC__/Home/img/tu_an.jpg"> </td>
            <td>120区</td>
            <td>即时 动作</td>
            <td><a href="http://www.985sy.com/app/54.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/54.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
            <td><a class="k_ios_d_wu" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/54.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                  <tr>
            <td class="text_left"><a href="http://www.985sy.com/app/50.htm" target="_blank" title="赤月屠龙">赤月屠龙</a></td>
            <td>06-29 11:00</td>
<td><img src="__PUBLIC__/Home/img/tu_an.jpg"> <img src="__PUBLIC__/Home/img/tu_ios.jpg"></td>
            <td>116区</td>
            <td>传奇</td>
            <td><a href="http://www.985sy.com/app/50.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/50.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
            <td><a href="http://www.985sy.com/down/apple/50.htm" class="k_ios_d" target="_blank" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/50.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                  <tr>
            <td class="text_left"><a href="http://www.985sy.com/app/63.htm" target="_blank" title="三生三世桃花劫">三生三世桃花劫</a></td>
            <td>06-29 11:00</td>
<td><img src="__PUBLIC__/Home/img/tu_an.jpg"> </td>
            <td>89区</td>
            <td>即时 仙侠</td>
            <td><a href="http://www.985sy.com/app/63.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/63.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
            <td><a class="k_ios_d_wu" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/63.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                  <tr>
            <td class="text_left"><a href="http://www.985sy.com/app/135.htm" target="_blank" title="MU卓越之剑">MU卓越之剑</a></td>
            <td>06-29 11:00</td>
<td><img src="__PUBLIC__/Home/img/tu_an.jpg"> </td>
            <td>26区</td>
            <td>动作 即时</td>
            <td><a href="http://www.985sy.com/app/135.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/135.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
            <td><a class="k_ios_d_wu" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/135.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                  <tr>
            <td class="text_left"><a href="http://www.985sy.com/app/140.htm" target="_blank" title="火影飓风传">火影飓风传</a></td>
            <td>06-29 11:00</td>
<td><img src="__PUBLIC__/Home/img/tu_an.jpg"> </td>
            <td>9区</td>
            <td>卡牌  动漫 </td>
            <td><a href="http://www.985sy.com/app/140.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/140.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
            <td><a class="k_ios_d_wu" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/140.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                  <tr>
            <td class="text_left"><a href="http://www.985sy.com/app/160.htm" target="_blank" title="皇者天下">皇者天下</a></td>
            <td>06-29 11:00</td>
<td><img src="__PUBLIC__/Home/img/tu_an.jpg"> </td>
            <td>6区</td>
            <td>即使 动作 角色</td>
            <td><a href="http://www.985sy.com/app/160.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/160.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
            <td><a class="k_ios_d_wu" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/160.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                  <tr>
            <td class="text_left"><a href="http://www.985sy.com/app/8.htm" target="_blank" title="倚天无极">倚天无极</a></td>
            <td>06-29 11:00</td>
<td><img src="__PUBLIC__/Home/img/tu_an.jpg"> <img src="__PUBLIC__/Home/img/tu_ios.jpg"></td>
            <td>118区</td>
            <td>传奇</td>
            <td><a href="http://www.985sy.com/app/8.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/8.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
            <td><a href="http://www.985sy.com/down/apple/8.htm" class="k_ios_d" target="_blank" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/8.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                </tbody>
      </table>
       </div>
  </div>
</div>
<div id="footer">
  <div class="f_content">
    <p>本站作品版权归原作者享有，如无意之中侵犯了您的版权，请联系我们，本网站将应您的要求删除。<a href="http://www.miitbeian.gov.cn/" target="_blank">陕ICP备16018422号-1</a>
</p>
<div style="display:none">
<script src="__PUBLIC__/Home/img/stat.php" language="JavaScript"></script><script src="__PUBLIC__/Home/img/core.php" charset="utf-8" type="text/javascript"></script><a href="http://www.cnzz.com/stat/website.php?web_id=1260977512" target="_blank" title="站长统计">站长统计</a>
</div><p></p>
    <div><a href="http://www.985sy.com/contact/comment.htm" target="_blank">客服中心</a> |
<a href="http://www.985sy.com/contact/copyright.htm" target="_blank">版权声明</a> | <a href="http://www.985sy.com/contact/upload.htm" target="_blank">新闻投递</a> |  <a href="http://www.985sy.com/contact/address.htm" target="_blank">联系我们</a>| <a href="http://www.985sy.com/sitemap_app/" target="_blank">网站地图</a> | <a href="http://www.985sy.com/rss.htm" target="_blank">RSS</a></div>
    <p class="f_copyright">
Copyright © 2013 www.985sy.com <a href="http://www.985sy.com/">985手游</a> All rights reserved.  
</p>
  </div>
</div>
</block>