<extend name="Public:main" />

<block name="main">
<div id="main" class="layout">
  <div class="kaifu">
    <div class="kc_btit kf_btit"><a href="http://www.985sy.com/test/" class="k_qhb">最新开测表</a>游戏开服</div>
    <div class="kc_tit kc_tit1">今日开服</div>
    <div class="kc_con">
        <table>
        <tbody>
          <tr>
            <th width="120">游戏名称</th>
            <th width="130">开服时间</th>
<th width="80">适用平台</th>
            <th width="80">服务区名</th>
            <th width="120">游戏类型</th>
            <th width="120">专区地址</th>
            <th width="120">领卡发号</th>
            <th>下载游戏</th>
          </tr>
            <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/47.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="./PC新开服页面_files/201703131489401598.jpg" alt="宠物小精灵"></a>
              </div>
              <p><a href="http://www.985sy.com/app/47.htm" target="_blank" title="宠物小精灵">宠物小精灵</a></p>
            </td>
            <td>06-30 09:00</td>
<td><img src="./PC新开服页面_files/tu_an.jpg"> </td>
            <td>918区</td>
            <td>卡牌 动漫</td>
            <td><a href="http://www.985sy.com/app/47.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/47.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a class="idown_ios_wu rel=" nofollow"=""><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/47.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/52.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="./PC新开服页面_files/201703151489561636.jpg" alt="神奇宝贝绿宝石"></a>
              </div>
              <p><a href="http://www.985sy.com/app/52.htm" target="_blank" title="神奇宝贝绿宝石">神奇宝贝绿宝石</a></p>
            </td>
            <td>06-30 09:00</td>
<td><img src="./PC新开服页面_files/tu_an.jpg"> </td>
            <td>890区</td>
            <td>动漫 卡牌 挂机</td>
            <td><a href="http://www.985sy.com/app/52.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/52.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a class="idown_ios_wu rel=" nofollow"=""><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/52.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/167.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="./PC新开服页面_files/201706301498789630.jpg" alt="快打三国BT"></a>
              </div>
              <p><a href="http://www.985sy.com/app/167.htm" target="_blank" title="快打三国BT">快打三国BT</a></p>
            </td>
            <td>06-30 10:00</td>
<td><img src="./PC新开服页面_files/tu_an.jpg"> </td>
            <td>1区</td>
            <td>策略 三国 横版</td>
            <td><a href="http://www.985sy.com/app/167.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/167.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a class="idown_ios_wu rel=" nofollow"=""><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/167.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/53.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="./PC新开服页面_files/201703151489571952.jpg" alt="波多忍者村"></a>
              </div>
              <p><a href="http://www.985sy.com/app/53.htm" target="_blank" title="波多忍者村">波多忍者村</a></p>
            </td>
            <td>06-30 10:00</td>
<td><img src="./PC新开服页面_files/tu_an.jpg"> </td>
            <td>42区</td>
            <td>卡牌 动漫</td>
            <td><a href="http://www.985sy.com/app/53.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/53.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a class="idown_ios_wu rel=" nofollow"=""><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/53.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/74.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="./PC新开服页面_files/201704011491011854.jpg" alt="我要挂机-GM版"></a>
              </div>
              <p><a href="http://www.985sy.com/app/74.htm" target="_blank" title="我要挂机-GM版">我要挂机-GM版</a></p>
            </td>
            <td>06-30 10:00</td>
<td><img src="./PC新开服页面_files/tu_an.jpg"> <img src="./PC新开服页面_files/tu_ios.jpg"></td>
            <td>79区</td>
            <td>挂机</td>
            <td><a href="http://www.985sy.com/app/74.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/74.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a href="http://www.985sy.com/down/apple/74.htm" target="_blank" class="idown_ios" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/74.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/31.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="./PC新开服页面_files/201704111491894896.jpg" alt="新少年三国"></a>
              </div>
              <p><a href="http://www.985sy.com/app/31.htm" target="_blank" title="新少年三国">新少年三国</a></p>
            </td>
            <td>06-30 10:00</td>
<td><img src="./PC新开服页面_files/tu_an.jpg"> <img src="./PC新开服页面_files/tu_ios.jpg"></td>
            <td>97区</td>
            <td> 竖版 卡牌 </td>
            <td><a href="http://www.985sy.com/app/31.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/31.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a href="http://www.985sy.com/down/apple/31.htm" target="_blank" class="idown_ios" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/31.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/94.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="./PC新开服页面_files/201704191492592893.jpg" alt="三国志BT(神机三国)"></a>
              </div>
              <p><a href="http://www.985sy.com/app/94.htm" target="_blank" title="三国志BT(神机三国)">三国志BT(神机三国)</a></p>
            </td>
            <td>06-30 10:00</td>
<td><img src="./PC新开服页面_files/tu_an.jpg"> <img src="./PC新开服页面_files/tu_ios.jpg"></td>
            <td>82区</td>
            <td>策略 卡牌</td>
            <td><a href="http://www.985sy.com/app/94.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/94.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a href="http://www.985sy.com/down/apple/94.htm" target="_blank" class="idown_ios" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/94.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/114.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="./PC新开服页面_files/201705091494294311.jpg" alt="龙珠GT"></a>
              </div>
              <p><a href="http://www.985sy.com/app/114.htm" target="_blank" title="龙珠GT">龙珠GT</a></p>
            </td>
            <td>06-30 10:00</td>
<td><img src="./PC新开服页面_files/tu_an.jpg"> </td>
            <td>23区</td>
            <td>卡牌 动漫</td>
            <td><a href="http://www.985sy.com/app/114.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/114.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a class="idown_ios_wu rel=" nofollow"=""><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/114.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/119.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="./PC新开服页面_files/201705121494556119.jpg" alt="宠物小精灵GO"></a>
              </div>
              <p><a href="http://www.985sy.com/app/119.htm" target="_blank" title="宠物小精灵GO">宠物小精灵GO</a></p>
            </td>
            <td>06-30 10:00</td>
<td><img src="./PC新开服页面_files/tu_an.jpg"> </td>
            <td>24区</td>
            <td>卡牌 动漫</td>
            <td><a href="http://www.985sy.com/app/119.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/119.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a class="idown_ios_wu rel=" nofollow"=""><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/119.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/122.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="./PC新开服页面_files/201705141494752063.jpg" alt="型月大乱斗"></a>
              </div>
              <p><a href="http://www.985sy.com/app/122.htm" target="_blank" title="型月大乱斗">型月大乱斗</a></p>
            </td>
            <td>06-30 10:00</td>
<td><img src="./PC新开服页面_files/tu_an.jpg"> <img src="./PC新开服页面_files/tu_ios.jpg"></td>
            <td>20区</td>
            <td>卡牌 动漫</td>
            <td><a href="http://www.985sy.com/app/122.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/122.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a href="http://www.985sy.com/down/apple/122.htm" target="_blank" class="idown_ios" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/122.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/142.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="./PC新开服页面_files/201705311496220419.jpg" alt="可以这很魔兽"></a>
              </div>
              <p><a href="http://www.985sy.com/app/142.htm" target="_blank" title="可以这很魔兽">可以这很魔兽</a></p>
            </td>
            <td>06-30 10:00</td>
<td><img src="./PC新开服页面_files/tu_an.jpg"> <img src="./PC新开服页面_files/tu_ios.jpg"></td>
            <td>15区</td>
            <td>卡牌 动作 即时</td>
            <td><a href="http://www.985sy.com/app/142.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/142.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a href="http://www.985sy.com/down/apple/142.htm" target="_blank" class="idown_ios" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/142.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/132.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="./PC新开服页面_files/201706131497361034.jpg" alt="山海经传说"></a>
              </div>
              <p><a href="http://www.985sy.com/app/132.htm" target="_blank" title="山海经传说">山海经传说</a></p>
            </td>
            <td>06-30 10:00</td>
<td><img src="./PC新开服页面_files/tu_an.jpg"> <img src="./PC新开服页面_files/tu_ios.jpg"></td>
            <td>17区</td>
            <td>卡牌 动作 3D</td>
            <td><a href="http://www.985sy.com/app/132.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/132.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a href="http://www.985sy.com/down/apple/132.htm" target="_blank" class="idown_ios" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/132.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/138.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="./PC新开服页面_files/201705291496049732.jpg" alt="隋唐无双"></a>
              </div>
              <p><a href="http://www.985sy.com/app/138.htm" target="_blank" title="隋唐无双">隋唐无双</a></p>
            </td>
            <td>06-30 10:00</td>
<td><img src="./PC新开服页面_files/tu_an.jpg"> </td>
            <td>4区</td>
            <td>动作 3D RPG</td>
            <td><a href="http://www.985sy.com/app/138.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/138.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a class="idown_ios_wu rel=" nofollow"=""><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/138.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/139.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="./PC新开服页面_files/201705291496066634.jpg" alt="魔兽降临"></a>
              </div>
              <p><a href="http://www.985sy.com/app/139.htm" target="_blank" title="魔兽降临">魔兽降临</a></p>
            </td>
            <td>06-30 10:00</td>
<td><img src="./PC新开服页面_files/tu_an.jpg"> <img src="./PC新开服页面_files/tu_ios.jpg"></td>
            <td>54区</td>
            <td>动作 卡牌 3D</td>
            <td><a href="http://www.985sy.com/app/139.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/139.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a href="http://www.985sy.com/down/apple/139.htm" target="_blank" class="idown_ios" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/139.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/152.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="./PC新开服页面_files/201706091496987762.jpg" alt="像素骑士团 "></a>
              </div>
              <p><a href="http://www.985sy.com/app/152.htm" target="_blank" title="像素骑士团 ">像素骑士团&nbsp;</a></p>
            </td>
            <td>06-30 10:00</td>
<td><img src="./PC新开服页面_files/tu_an.jpg"> <img src="./PC新开服页面_files/tu_ios.jpg"></td>
            <td>10区</td>
            <td>挂机 冒险</td>
            <td><a href="http://www.985sy.com/app/152.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/152.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a href="http://www.985sy.com/down/apple/152.htm" target="_blank" class="idown_ios" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/152.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/154.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="./PC新开服页面_files/201706121497240153.jpg" alt="万神之王"></a>
              </div>
              <p><a href="http://www.985sy.com/app/154.htm" target="_blank" title="万神之王">万神之王</a></p>
            </td>
            <td>06-30 10:00</td>
<td><img src="./PC新开服页面_files/tu_an.jpg"> </td>
            <td>5区</td>
            <td>横版 即时 动作</td>
            <td><a href="http://www.985sy.com/app/154.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/154.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a class="idown_ios_wu rel=" nofollow"=""><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/154.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/43.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="./PC新开服页面_files/201703091489064825.jpg" alt="永恒奇迹"></a>
              </div>
              <p><a href="http://www.985sy.com/app/43.htm" target="_blank" title="永恒奇迹">永恒奇迹</a></p>
            </td>
            <td>06-30 10:00</td>
<td><img src="./PC新开服页面_files/tu_an.jpg"> </td>
            <td>355区</td>
            <td>即时 动作 RPG</td>
            <td><a href="http://www.985sy.com/app/43.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/43.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a class="idown_ios_wu rel=" nofollow"=""><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/43.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/163.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="./PC新开服页面_files/201706221498126066.jpg" alt="超级地城之光BT"></a>
              </div>
              <p><a href="http://www.985sy.com/app/163.htm" target="_blank" title="超级地城之光BT">超级地城之光BT</a></p>
            </td>
            <td>06-30 10:00</td>
<td><img src="./PC新开服页面_files/tu_an.jpg"> </td>
            <td>5区</td>
            <td>即时 Q版</td>
            <td><a href="http://www.985sy.com/app/163.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/163.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a class="idown_ios_wu rel=" nofollow"=""><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/163.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/19.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="./PC新开服页面_files/201703201489977855.jpg" alt="沙城传奇"></a>
              </div>
              <p><a href="http://www.985sy.com/app/19.htm" target="_blank" title="沙城传奇">沙城传奇</a></p>
            </td>
            <td>06-30 11:00</td>
<td><img src="./PC新开服页面_files/tu_an.jpg"> <img src="./PC新开服页面_files/tu_ios.jpg"></td>
            <td>42区</td>
            <td>传奇</td>
            <td><a href="http://www.985sy.com/app/19.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/19.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a href="http://www.985sy.com/down/apple/19.htm" target="_blank" class="idown_ios" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/19.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/157.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="./PC新开服页面_files/201706131497337292.jpg" alt="酷酷爱魔兽"></a>
              </div>
              <p><a href="http://www.985sy.com/app/157.htm" target="_blank" title="酷酷爱魔兽">酷酷爱魔兽</a></p>
            </td>
            <td>06-30 11:00</td>
<td><img src="./PC新开服页面_files/tu_an.jpg"> <img src="./PC新开服页面_files/tu_ios.jpg"></td>
            <td>5区</td>
            <td>角色 3D</td>
            <td><a href="http://www.985sy.com/app/157.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/157.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a href="http://www.985sy.com/down/apple/157.htm" target="_blank" class="idown_ios" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/157.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/41.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="./PC新开服页面_files/201704011491015725.jpg" alt="大话叁之神将在世"></a>
              </div>
              <p><a href="http://www.985sy.com/app/41.htm" target="_blank" title="大话叁之神将在世">大话叁之神将在世</a></p>
            </td>
            <td>06-30 11:00</td>
<td><img src="./PC新开服页面_files/tu_an.jpg"> <img src="./PC新开服页面_files/tu_ios.jpg"></td>
            <td>25区</td>
            <td>回合 仙侠</td>
            <td><a href="http://www.985sy.com/app/41.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/41.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a href="http://www.985sy.com/down/apple/41.htm" target="_blank" class="idown_ios" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/41.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/118.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="./PC新开服页面_files/201705111494485368.jpg" alt="梦幻加强版"></a>
              </div>
              <p><a href="http://www.985sy.com/app/118.htm" target="_blank" title="梦幻加强版">梦幻加强版</a></p>
            </td>
            <td>06-30 11:00</td>
<td><img src="./PC新开服页面_files/tu_an.jpg"> <img src="./PC新开服页面_files/tu_ios.jpg"></td>
            <td>23区</td>
            <td>Q版 回合 </td>
            <td><a href="http://www.985sy.com/app/118.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/118.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a href="http://www.985sy.com/down/apple/118.htm" target="_blank" class="idown_ios" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/118.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/134.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="./PC新开服页面_files/201705241495609098.jpg" alt="探墓风云"></a>
              </div>
              <p><a href="http://www.985sy.com/app/134.htm" target="_blank" title="探墓风云">探墓风云</a></p>
            </td>
            <td>06-30 11:00</td>
<td><img src="./PC新开服页面_files/tu_an.jpg"> </td>
            <td>59区</td>
            <td>3D 即时 动作</td>
            <td><a href="http://www.985sy.com/app/134.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/134.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a class="idown_ios_wu rel=" nofollow"=""><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/134.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/136.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="./PC新开服页面_files/201705251495711299.jpg" alt="圣斗士2"></a>
              </div>
              <p><a href="http://www.985sy.com/app/136.htm" target="_blank" title="圣斗士2">圣斗士2</a></p>
            </td>
            <td>06-30 11:00</td>
<td><img src="./PC新开服页面_files/tu_an.jpg"> </td>
            <td>54区</td>
            <td>卡牌 动作 竖版</td>
            <td><a href="http://www.985sy.com/app/136.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/136.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a class="idown_ios_wu rel=" nofollow"=""><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/136.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/39.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="./PC新开服页面_files/201703201489979381.jpg" alt="大裁决（传奇1.76）"></a>
              </div>
              <p><a href="http://www.985sy.com/app/39.htm" target="_blank" title="大裁决（传奇1.76）">大裁决（传奇1.76）</a></p>
            </td>
            <td>06-30 11:00</td>
<td><img src="./PC新开服页面_files/tu_an.jpg"> <img src="./PC新开服页面_files/tu_ios.jpg"></td>
            <td>51区</td>
            <td>传奇</td>
            <td><a href="http://www.985sy.com/app/39.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/39.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a href="http://www.985sy.com/down/apple/39.htm" target="_blank" class="idown_ios" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/39.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/56.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="./PC新开服页面_files/201703161489646035.jpg" alt="忍者萌剑传-满V"></a>
              </div>
              <p><a href="http://www.985sy.com/app/56.htm" target="_blank" title="忍者萌剑传-满V">忍者萌剑传-满V</a></p>
            </td>
            <td>06-30 11:00</td>
<td><img src="./PC新开服页面_files/tu_an.jpg"> <img src="./PC新开服页面_files/tu_ios.jpg"></td>
            <td>24区</td>
            <td>Q版 动作 卡牌</td>
            <td><a href="http://www.985sy.com/app/56.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/56.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a href="http://www.985sy.com/down/apple/56.htm" target="_blank" class="idown_ios" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/56.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/105.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="./PC新开服页面_files/201704271493302898.jpg" alt="合金子弹"></a>
              </div>
              <p><a href="http://www.985sy.com/app/105.htm" target="_blank" title="合金子弹">合金子弹</a></p>
            </td>
            <td>06-30 11:00</td>
<td><img src="./PC新开服页面_files/tu_an.jpg"> </td>
            <td>10区</td>
            <td>横版  射击</td>
            <td><a href="http://www.985sy.com/app/105.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/105.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a class="idown_ios_wu rel=" nofollow"="><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/105.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/28.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="./PC新开服页面_files/201703201489982418.jpg" alt="真三国战纪"></a>
              </div>
              <p><a href="http://www.985sy.com/app/28.htm" target="_blank" title="真三国战纪">真三国战纪</a></p>
            </td>
            <td>06-30 11:00</td>
<td><img src="./PC新开服页面_files/tu_an.jpg"> <img src="./PC新开服页面_files/tu_ios.jpg"></td>
            <td>50区</td>
            <td>横版 动作 </td>
            <td><a href="http://www.985sy.com/app/28.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/28.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a href="http://www.985sy.com/down/apple/28.htm" target="_blank" class="idown_ios" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/28.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/98.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="./PC新开服页面_files/201704211492739377.jpg" alt="霸斩屠龙"></a>
              </div>
              <p><a href="http://www.985sy.com/app/98.htm" target="_blank" title="霸斩屠龙">霸斩屠龙</a></p>
            </td>
            <td>06-30 11:00</td>
<td><img src="./PC新开服页面_files/tu_an.jpg"> <img src="./PC新开服页面_files/tu_ios.jpg"></td>
            <td>36区</td>
            <td>传奇</td>
            <td><a href="http://www.985sy.com/app/98.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/98.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a href="http://www.985sy.com/down/apple/98.htm" target="_blank" class="idown_ios" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/98.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                    <tr>
            <td>
              <div class="k_now">
                <a href="http://www.985sy.com/app/103.htm" target="_blank" class="app_72"><i class="app_img_72"></i><img src="./PC新开服页面_files/201704251493125859.jpg" alt="格斗之皇"></a>
              </div>
              <p><a href="http://www.985sy.com/app/103.htm" target="_blank" title="格斗之皇">格斗之皇</a></p>
            </td>
            <td>06-30 11:00</td>
<td><img src="./PC新开服页面_files/tu_an.jpg"> <img src="./PC新开服页面_files/tu_ios.jpg"></td>
            <td>29区</td>
            <td>动作 格斗</td>
            <td><a href="http://www.985sy.com/app/103.htm" target="_blank" class="k_jrzq">进入专区</a></td>
            <td><a href="http://www.985sy.com/packs/list/103.htm" target="_blank" class="k_lqlb">领取礼包</a></td>
            <td><a href="http://www.985sy.com/down/apple/103.htm" target="_blank" class="idown_ios" rel="nofollow"><span>苹果下载</span></a><a href="http://www.985sy.com/down/android/103.htm" class="k_an_d" target="_blank" rel="nofollow"><span>安卓下载</span></a></td>
          </tr>
                  </tbody>
      </table>
  <div class="fenye"><span class="page_prev">上一页</span><span class="page_cur">1</span><a href="http://www.985sy.com/servermore/1/index_2.htm">2</a><a href="http://www.985sy.com/servermore/1/index_2.htm" class="page_next">下一页</a></div>
      </div>
  </div>
</div>
<div id="footer">
  <div class="f_content">
    <p>本站作品版权归原作者享有，如无意之中侵犯了您的版权，请联系我们，本网站将应您的要求删除。<a href="http://www.miitbeian.gov.cn/" target="_blank">陕ICP备16018422号-1</a>
<script type="text/javascript" src="./PC新开服页面_files/kefu.js"></script>
</p><div id="floatTools" class="float0831">
  <div id="divFloatToolsView" class="floatR">
    <div class="tp"></div>
    <div class="cn">
      <ul>
        <li class="top">
          <h3 class="titZx">QQ咨询</h3>
        </li>
        <li><span class="icoZx">在线咨询</span> </li>
        <li><a class="icoTc" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1942329047&site=qq&menu=yes" rel="nofollow">返利咨询</a> </li>
        <li><a class="icoTc" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3201994506&site=qq&menu=yes" rel="nofollow">礼包咨询</a> </li>
		<li><a class="icoTc" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3067175948&site=qq&menu=yes" rel="nofollow">开服咨询</a> </li>
		<li><a class="icoTc" target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=61ea82e8b1d81b757b0e7d934a2554b7bcb58372c03b53fb210e0201ce83fc63" rel="nofollow">玩家QQ群1</a> </li>
		<li><a class="icoTc" target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=fca39f7651e47a00004f02c2b952e2ddf27cb077467c60ecbc7d71ddfb604c76" rel="nofollow">玩家QQ群2</a> </li>
        <li class="bot"><a class="icoTc" target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=7b97144dc7693412953f40946ead58ab44f2a7c7361477fdc8e3803b5ba1d11f" rel="nofollow">玩家QQ群3</a> </li>
      </ul>
    </div>
  </div>
</div>
<div style="display:none">
<script src="./PC新开服页面_files/stat.php" language="JavaScript"></script><script src="./PC新开服页面_files/core.php" charset="utf-8" type="text/javascript"></script><a href="http://www.cnzz.com/stat/website.php?web_id=1260977512" target="_blank" title="站长统计">站长统计</a>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?649b174b13028992c1cd159ab1f4dbf5";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</div><p></p>
    <div><a href="http://www.985sy.com/contact/comment.htm" target="_blank">客服中心</a> |
<a href="http://www.985sy.com/contact/copyright.htm" target="_blank">版权声明</a> | <a href="http://www.985sy.com/contact/upload.htm" target="_blank">新闻投递</a> |  <a href="http://www.985sy.com/contact/address.htm" target="_blank">联系我们</a>| <a href="http://www.985sy.com/sitemap_app/" target="_blank">网站地图</a> | <a href="http://www.985sy.com/rss.htm" target="_blank">RSS</a></div>
    <p class="f_copyright">
Copyright © 2013 www.985sy.com <a href="http://www.985sy.com/">985手游</a> All rights reserved.  
</p>
  </div>
</div>
</block>