<block name="title">
  <title>{$Game['gamename']}_{$Game['gamename']}公益服_{$Game['gamename']}变态版无限元宝服_{$Game['gamename']}官网_115手机游戏</title>
</block>

<block name="keywords">
    <meta name="keywords" content="{$Game['gamename']}sf,{$Game['gamename']}公益服,{$Game['gamename']}无限元宝,{$Game['gamename']}破解版,{$Game['gamename']}变态版,{$Game['gamename']}官网">
</block>
<block name="description">
    <meta name="description" content="{$Game['gamename']}官网提供最新{$Game['gamename']}私服,变态版{$Game['gamename']}公益服,及{$Game['gamename']}游戏攻略,礼包激活码等,为喜爱手游私服的玩家提供免费的手机游戏私服下载。">
</block>
<extend name="Public:main" />
<block name="main">
<script>(function(){
var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?a50d44c60179352ea47c1cdf43d91fb4":"https://jspassport.ssl.qhimg.com/11.0.1.js?a50d44c60179352ea47c1cdf43d91fb4";
document.write('<script src="' + src + '" id="sozz"><\/script>');
})();
</script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/Index/appdetail.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/Index/swiper.min.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/Index/style3.css">
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/qr.js"></script>  
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.qrcode.min.js"></script> 



 
        <!--nav:end-->
        <div id="wrap" style="background-color: #f7f7f7;">
            <div class="ngGprs">
                <span class="gprs"></span>您的位置：<a href="#" target="_blank">游戏库</a>&nbsp;›&nbsp;{$Game['gamename']}
            </div>

            <div id="content_container" class="content_container content_gamedetail">
                <div class="leftContainer">
                    <div class="detail_container margin-top-20">
                        <div class="inner">
                            <div class="iconOuter">
                                <img id="iconImg" src="__PUBLIC__/Upload/Product/{$Game['logo']}" class="dcion icon " alt="{$Game['gamename']}">
                            </div>
                            <div class="detailInfo " id="detailInfo">
                                <div class="gametitle">{$Game['gamename']}&nbsp;&nbsp;&nbsp;<a href="javascript:;" class="getBtn" title="{$Game['gamename']}"><?php 
                                      // dump($Game['duction']);die;
                                      $duction=explode(",",$Game['duction']);
                                      // dump($duction);die;
                                      for($i=0;$i<count($duction);$i++){
                                      echo $duction[$i]?>
                                  <?php }?>
                                  </a></div>
                                <div class="verline normalline" style="margin-top: 10px;">评分：{$Game['score']} <span style="position:absolute;left:150px;">大小：{$Game['gamesize']} </span></div>
                                <div class="downline normalline" style="margin-top: 10px;">日期：<?php echo date("Y-m-d",$Game['gametime']);?><span style="position:absolute;left:150px;">次数：{$Game['downloadcount']}次下载</span></div>
                            </div>
                    <script>
                     
                    </script>
                   <!--  <div id="qrcodeCanvas">
                        
                    </div> -->
                        <div class="apkbtnOuter">
                                <a id="apkbtn" href="__MODULE__/Downapk/<?php echo $Game['id']?>" rel="nofollow" class="apkbtn _btn " style="background-position: 0px 0px;"></a>
                                <div class="apkbtn2" style="display:none;border-radius: 10px;width: 122px;height: 122px;padding: 15px;background: #eee;position: absolute;top: 40px;z-index: 9;left: 6px;">
                                  <div id="qrcodeCanvas">
                                      
                                  </div>
                                   <!--  <img style="width: 120px;height: 120px;" src="" alt="" id="apkrwm"> -->
                                </div>
                            </div>
                        <?php if(!empty($Game['iosdownload'])){?>
                        <div class="iosbtnOuter">
                                <a href="__MODULE__/Downios/<?php echo $Game['id']?>" class="iosbtn _btn " id="iosbtn"></a>
                                <a class="btn-help" target="_blank"><!-- 下载教程 --></a>
                                <div class="iosbtn2" style="border-radius: 10px; width: 122px; height: 122px; padding: 15px; position: absolute; top: 40px; z-index: 9; display: none; background: rgb(238, 238, 238);">
                                    <div id="qrcodeCanvas1">
                                      
                                  </div>
                                </div>
                            </div>
                        <?php }?>

                        <script>
                            $("#apkbtn").hover(function(){
                                $(".apkbtn2").css('display','block');
                            },function(){
                                $(".apkbtn2").css('display','none');
                            });
                            $("#iosbtn").hover(function(){
                                $(".iosbtn2").css('display','block');
                            },function(){
                                $(".iosbtn2").css('display','none');
                            });

                            url= window.location.host;
                            //安卓二维码
                            apk=$("#apkbtn").attr("href");

                            $(document).ready(function() {
                               $("#qrcodeCanvas").qrcode({
                                   render : "canvas",    //设置渲染方式，有table和canvas，使用canvas方式渲染性能相对来说比较好
                                   text : "http://"+url+apk,    //扫描二维码后显示的内容,可以直接填一个网址，扫描二维码后自动跳向该链接
                                   width : "120",               //二维码的宽度
                                   height : "120",              //二维码的高度
                                   background : "#ffffff",       //二维码的后景色
                                   foreground : "#000000",        //二维码的前景色
                                   src: "__PUBLIC__/Home/img/box.png",             //二维码中间的图片
                               });
                           });

                            //安卓二维码
                            ios=$("#iosbtn").attr("href");

                            $(document).ready(function() {
                               $("#qrcodeCanvas1").qrcode({
                                   render : "canvas",    //设置渲染方式，有table和canvas，使用canvas方式渲染性能相对来说比较好
                                   text : "http://"+url+ios,    //扫描二维码后显示的内容,可以直接填一个网址，扫描二维码后自动跳向该链接
                                   width : "120",               //二维码的宽度
                                   height : "120",              //二维码的高度
                                   background : "#ffffff",       //二维码的后景色
                                   foreground : "#000000",        //二维码的前景色
                                   src: "__PUBLIC__/Home/img/box.png",             //二维码中间的图片
                               });
                           });


                        </script> 
             <div class="kefubtnOuter">
                <a id="kefubtn" target="_blank" href="__MODULE__/Lb/Lbxq/gamename/{$Game['id']}" rel="nofollow" class="kefubtn _btn " style="background-position: 0px 0px;"></a>
                            </div>

                            <div class="mark_containerOuter">
                                <div id="markImg" class="mark_container ">
                                    <a href="" target="_blank">
                                        <img src="__PUBLIC__/Home/img/rank_syb.png" class="markImg" alt="排行榜">
                                    </a>
                                    <!--<img src="http://pan.baidu.com/share/qrcode?w=150&h=150&url=http://m.3733.com/showgame-1-860-0.html" class="markImg" alt="永恒奇迹" />-->
                                    <!--<div class="text" style="-webkit-transform:scale(0.95);width: 150px;margin-left:-4px">扫一扫下载游戏</div>-->
                                </div>

                            </div>
                            <div class="clear"></div>

                            <div class="clear"></div>
                            <div class="spline" style="margin-top:40px;"></div>

                            <div class="gameimgs">
                                <div class="swiper-container swiper-container-horizontal">
                                    <div class="swiper-wrapper" >
                                    <?php 
                                        $img=explode(',',$Game['imgall']);
                                        foreach($img as $k=>$v){
                                    ?>
                                        <div class="swiper-slide " style="width: 273.333px; margin-right: 10px;"><img width="240" src="<?php echo $v?>"></div> 
                                    <?php }?>
                                   </div>
                                    <!-- Add Pagination -->
                                    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
                                    <!-- Add Arrows -->
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev swiper-button-disabled"></div>
                                </div>
                                <script type="text/javascript" src="__PUBLIC__/Home/js/swiper.min.js"></script>
                                <script>
            var swiper = new Swiper('.swiper-container', {
                pagination: '.swiper-pagination',
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev',
                paginationClickable: true,
                slidesPerView: 3,
                spaceBetween: 10
            });
                                </script>
                            </div>
                            <div class="spline"></div>
                            <div class="clear"></div>
                            <div class="descContent">
                                <div class="title" style="font-size:16px;">游戏介绍</div>
                                <div class="txt-normal" style="text-indent: 2em;color:rgb(127, 127, 127);font-size:14px;">
                                   {$Game['details']}
                                </div>
                            </div>
                            <div class="spline"></div>
                            <div class="descContent">
                                <div class="title" style="font-size:16px;">游戏福利</div>
                                <div class="txt-normal" style="text-indent: 2em;color:rgb(127, 127, 127);font-size:14px;">
                                    {$Game['gamets']} 
                               </div>
                            </div>
                            <div class="spline"></div>
                             <div class="descContent">
                                <div class="title" style="font-size:16px;">充值返利 <a href="<?PHP echo WEB_KFQQ;?>"><span class="comme">请在充值后24小时内尽快向客服提交返利申请哦!&gt;&gt;&gt;<img src="__PUBLIC__/Home/img/JS_qq.png" alt=""></span></a></div>
                                <div class="txt-normal" style="text-indent: 2em;color:rgb(127, 127, 127);font-size:14px;">
                                    {$Game['gamefl']}      
                                 </div>
                            </div>
                            <div class="spline"></div>
                            <div class="descContent">
                                <div class="title" style="font-size:16px;">VIP价格表</div>
                                <div id="vip_ajax"  style="text-indent: 2em;color:rgb(127, 127, 127);font-size:14px;" >
                                  {$Game['gamevip']}
                                </div>
                            </div>
        <div class="game_ii_info tabBox">

            <div class="h5_left" style="margin-top:30px;">
                <div class="news_tab" style="border-bottom: 1px solid #dcdcdc;">
                    <ul>
                        <li class="hover"><a>所有资讯</a></li>
                       <!--  <li class=""><a>新闻</a></li>
                        <li class=""><a>攻略</a></li> -->
                    </ul>
                </div>


                <div class="subject_list news_pic">
                    <dl id="news_list_1" style="display: block;">
                    <?php foreach ($News as $key => $value) {
                      # code...
                    ?>
                         <dd>
                             <div class="p1"><a href="__MODULE__/News/Content/id/<?php echo $value['id']?>"><img src="__PUBLIC__/Upload/huodong/<?php echo $value['fm']?>"></a></div>
                            <div class="p2">
                                <p><a href="__MODULE__/News/Content/id/<?php echo $value['id']?>"><?php echo $value['title']?></a></p>
                                <span><?php echo mb_substr(trim($value['intro']),0,100,"utf8");?>.....</span>
                                <em><?php echo date('Y-m-d H:i;s',$value['createtimenews']);?><a href="#">[查看全文]</a></em>
                            </div>
                        </dd>
                   <?php }?>                                                    
                                              
                    </dl>
                    
                   
                </div>

            </div>
                             
                                <div class="clear"></div>
                            </div>
                        </div>

                    </div>


</div> 
                <div class="rightContainer">
                    <div class="zrightBox fl" style="background:#fff;margin-top: 20px;">
                        <div class="zrighTit">
                            <span class="fl tit4" style="">开服表</span>
                        </div>
                        <dl class="newfu">
                            <dt>
                                <span class="bg1">日期</span><span class="bg2" >时间</span><span class="bg3" style="width:60px;">平台</span><span class="bg4" style="width:80px;">服务器</span>
                            </dt>
                                <!--今日开服-->
                          <?php foreach ($Kaifu as $key => $value) {
                                
                          ?>
                            <dd class="today" style="margin-bottom:0px;">
                                   <span class="bg1"><?php echo date('Y-m-d',$value['kfday']);?></span> 
                                   <span class="bg2" ><?php echo date('H:i',$value['kfday']);?></span>
                                <span class="bg3" style="width:60px;">
                                  <?php 
                                         $os=explode(",",$value['os']);
                                         if($os[0]==1){

                                  ?>
                                       <img src="__PUBLIC__/Home/img/Android_Lighting.gif" alt="">       
                                  <?php } if($os[1]==2  OR $os[0]==2){?>    
                                         <img src="__PUBLIC__/Home/img/iPhone_Lighting.gif" alt="">
                                   <?php }?>       
                                 
                                 
                                </span>
                                <span class="bg4" style="width:80px;"><?php echo $value['server']?></span>
                            </dd>   
                          <?php }?>                  
                        </dl>
                       
                    </div>
                 
                    
                  <style>
                      /*.title{
                            line-height:0px;
                      }*/
                  </style>
                    <div class="remenpaihang" id="remenpaihang">
                        <div class="top_line">
                            <div class="icon ricon_img1"></div>
                            <div class="titleInner">
                                <div class="title">热门排行</div>
                            </div>
                        </div>
                        <div class="content">
                            <?php 
                                $b=1;
                                foreach ($RemenGame as $key => $value) {
                                
                                
                            ?>                     
                            <div class="item item_big">
                                <div class="sort sort<?php echo $b;?>"><?php echo $b;?></div>
                                <div class="small_ph " style="display: none;">
                                    <div class="icon">
                                        <img src="__PUBLIC__/Upload/Product/<?php echo $value['logo']?>" alt="<?php echo $value['gamename']?>"> 
                                    </div>
                                    <div class="title"><?php echo $value['gamename']?></div>
                                </div>
                                <div class="big_ph hide" style="display: block;">
                                    <a href="<?php echo U('listseo/'.$value['seourl'])?>" class="icon">
                                        <img src="__PUBLIC__/Upload/Product/<?php echo $value['logo']?>" alt="<?php echo $value['gamename']?>">
                                    </a>
                                    <a href="<?php echo U('listseo/'.$value['seourl'])?>" class="title"><?php echo $value['gamename']?></a>
                                    <div class="subtip"><?php echo $value['gamesize']?>&nbsp;&nbsp;更新：<?php echo date("Y-m-d",$value['gametime']);?></div>
                                    <a href="<?php echo U('listseo/'.$value['seourl'])?>" class="setupBtn _btn" rel="nofollow"></a>
                                </div>
                            </div>
                            <div class="remen_split"></div>
                            <?php $b++; }?>
                                                        
                            <div class="ph_pos"></div>
                        </div>
                    </div>
                 <!--  -->
                    <div class="clear"></div>

                    <div class="clear"></div>
                </div>
                <div class="clear"></div>

              
            </div>                     
        </div>

</block>