<block name="title">
    <title>热门BT手游大全|手机游戏私服|满vip手游公益服|GM手游无限元宝服下载_115手机游戏</title>
</block>
<block name="keywords">
    <meta name="keywords" content="手机游戏私服,公益服,手游公益服,手机游戏无限元宝服,手游私服大全">
</block>
<block name="description">
    <meta name="description" content="115手游是中国手机游戏私服第一门户站，聚合了全网最全的手游公益服，手游私服，苹果ios公益服游戏下载,为手游私服爱好者收集了最新的手机游戏私服、公益服、手游sf、GM手游,BT手游,以及上线就送满VIP无限元宝公益服,让你好玩停不下来!">
</block> 

<extend name="Public:main" />
<block name="main">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/Index/yxk_style.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/Index/pojie_list.css">

 <script type="text/javascript">

 // function killerrors() { return true; } window.onerror = killerrors; 
</script>
        <script type="text/javascript">
            // $(document).ready(function () {
            //     $("#t_game").addClass('curr');
            //     $("#gtype_bt").addClass('selected');
            // });
        </script>
      

        <div id="main" class="zhushou_soft">
            <div class="location"> <a href="#">首页</a>&nbsp;&gt;&nbsp;
            <a href="#">游戏库</a></div>

            <ul class="select">
                <li class="select-list">
                    <dl id="select1">
                        <dt>游戏平台：</dt>
                    <dd <?php echo $_SESSION['os']==""?'class="select-all selected"':'';?>>
                        <a href="__MODULE__/Gameselectos/a">全部</a>
                    </dd>
                    <dd <?php echo $_SESSION['os']==1?'class="select-all selected"':'';?>>
                        <a href="__MODULE__/Gameselectos/1">安卓</a>
                    </dd>
                    <dd <?php echo $_SESSION['os']==2?'class="select-all selected"':'';?>>
                        <a href="__MODULE__/Gameselectos/2">IOS</a>
                    </dd>
                    </dl>
                </li>
                <li class="select-list">
                  <dl id="select1">
                    <dt>游戏类型：</dt>
                    <dd id="gtype_bt" <?php echo $_SESSION['bb']==""?'class="selected"':'';?>>
                        <a href="__MODULE__/Gameselectbb/1">BT版</a>
                    </dd>
                    <dd id="gtype_cb" <?php echo $_SESSION['bb']==19?'class="selected"':'';?>>
                            <a href="__MODULE__/Gameselectbb/2">满Vip版</a>
                    </dd>
                  </dl>
                </li>
                <li class="select-list">
                    <dl id="select1"><dt>游戏类型：</dt>
                    <dd  <?php echo $_SESSION['lx']==""?'class="selected"':'';?>>
                        <a href="__MODULE__/Gameselectlx/a">全部</a>
                    </dd>
                    <?php for($i=0;$i<17;$i++){?>
                    <dd <?php echo $_SESSION['lx']==$Gamelabel[$i]['labelid']?'class="selected"':'';?>>
                        <a href="__MODULE__/Gameselectlx/<?php echo $Gamelabel[$i]['labelid']?>"><?php echo $Gamelabel[$i]['labelname']?></a>
                    </dd>
                    <?php }?>
                    </dl>
                </li>
            </ul>            
            <div class="clearfix"></div>
            <div class="title">
                <span class="rgt">共<i>{$count}</i>款游戏，本日更新<i>{$daycount}</i></span>
                <a <?php echo $action!=2?'class="cur"':'';?> href="__MODULE__/Game/Index">最新更新</a>
                <a <?php echo  ($action==2)?'class="cur"':'';?>href="__MODULE__/Gameselectaction/2">人气最高</a>
            </div>
            <div class="pic_box">

            <?php
                // $b=1;
                 for($i=0;$i<count($Game);$i++){
                    // if($b==3 or $b==6 or $b==9){
                        // $style="margin-right: 0px;";
                    // }
                ?>
                <dl style="<?php echo $style;?>">
                    <dd>
                        <a href="<?php echo U("listseo/".$Game[$i]['seourl']);?>" title="<?php echo $Game[$i]['gamename']?>" target="_blank"><img src="__PUBLIC__/Upload/Product/<?php echo $Game[$i]['logo']?>" alt=""></a>
                        <div class="txt rgt">
                            <h3><a href="<?php echo U("listseo/".$Game[$i]['seourl']);?>" title="<?php echo $Game[$i]['gamename']?>" target="_blank"><?php echo $Game[$i]['gamename']?></a></h3>
                            <p><?php echo date("Y-m-d",$Game[$i]['gametime']);?> | <?php echo $Game[$i]['gamesize'];?></p>
                            <p>
                <?php 
                      $typeid=explode(',',$Game[$i]['label']);
                      $gamelabel1=M('Gamelabel')->find($typeid[0]);
                      $gamelabel2=M('Gamelabel')->find($typeid[1]);
                      echo $gamelabel1['labelname']."&nbsp;".$gamelabel2['labelname'];
                ?>
                            </p>
                            <p><span class="rgt"><a href="<?php echo U("listseo/".$Game[$i]['seourl']);?>" title="永恒奇迹" target="_blank">立即下载</a></span>下载量：<?php echo substr($Game[$i]['downloadcount'],0,5);?></p>
                        </div>
                    </dd>
                    <dt>福利：<?php 
                                    $duction=explode(",",$Game[$i]['duction']);

                    ?>
                        <span style="color:#666;"><?php echo $Game[$i]['duction']?></span>
                       <!--  <span style="color:blue;"><?php echo $duction[1]?></span>
                        <span style="color:green;"><?php echo $duction[2]?></span> -->
                    </dt>
                </dl>
            <?php } //$b++; }?>
                     
            </div>
            <div class="clearfix"></div>
            <div class="pages txtCtr">
                {$show}

                
            </div>
            <div class="clearfix"></div>

        </div>
        <script type="text/javascript">
            $('.pic_box dl:nth-child(3n)').css('margin-right', '0');
        </script>
</block>