<block name="title">
    <title>最新变态手游资讯_公益服手游资讯-115手机游戏</title>
</block>
<block name="keywords">
    <meta name="keywords" content="最新变态手游资讯,变态手游资讯,最新公益服手游资讯,公益服手游资讯">
</block>
<block name="description">
    <meta name="description" content="115手游资讯栏目为广大喜爱变态手游的玩家带来最新变态手游资讯,公益服手游资讯等，想要实时掌握最新变态手游资讯，请关注115手游资讯栏目">
</block>
<extend name="Public:main" />
<block name="main">
 <style>
    body{
      background:white;
    }
</style>       
        <!--main:begin-->
        <div id="wrap">
            <div class="ngGprs">
                <span class="gprs"></span>您的位置：<a href="__MODULE__/Index/Index">首页</a>&nbsp;&gt;&nbsp;<a href="__MODULE__/News/Index">所有资讯</a>
            </div>
            
            <div class="layout clearfix">
                <!--left:begin-->
                <div class="h5_left" style="border:1px solid #f3f3f3;">
                    <div class="news_tab" style="border-bottom:1px solid #f3f3f3;">
                        <ul>
                            <li 
                               <?php 

                                  if(empty($data['typeid'])){
                                    echo 'class="hover"';
                                  }
                               ?>
                            ><a href="__MODULE__/News">所有资讯</a></li>
                      <?php foreach($data['Newslabel'] as $key=>$val){?>
                            <li   <?php 
                                  
                                  if(!empty($data['typeid']) && $data['typeid']==$val['newlabelid']){
                                    echo 'class="hover"';
                                  }
                               ?> ><a  href="__MODULE__/Newstype/<?php echo $val['newlabelid']?>"><?php echo $val['newlabelname']?></a></li>
                      <?php }?>
                        </ul>
                    </div>

                    <!-- <div class="news_ad1">
                        <a target="_blank" onclick="positioncount(15)" href="http://app.3733.com/">
                            <img src="#">
                        </a>
                    </div> -->

                    <div class="subject_list news_pic">
                        <dl>
                      <?php foreach($data['news'] as $knews=>$vnews){?>
                            <dd>
                                <div class="p1"><a href="<?php echo U('Newslist/'.$vnews['id']);?>"><img src="__PUBLIC__/Upload/huodong/<?php echo $vnews['fm']?>"></a></div>
                                <div class="p2">
                                    <p><a href="<?php echo U('Newslist/'.$vnews['id']);?>"><?php echo $vnews['title']?></a></p>
                                    <span><?php echo mb_substr(strip_tags($vnews['intro']),0,80,utf8);?>...</span>
                                    <em><?php echo date('Y-m-d H:i:s',$vnews['createtimenews']);?><a href="<?php echo U('Newslist/'.$vnews['id']);?>">[查看全文]</a></em>
                                </div>
                            </dd>
                      <?php }?>
                        </dl>
                        <div class="newyiiPager">
                            <ul id="yw0" class="yiiPager">
                                {$show}
                                <!-- <span class="num">共3316条</span>&nbsp;&nbsp;&nbsp;<b>1</b>&nbsp;<a href="#/zixun/index_2.html">2</a>&nbsp;<a href="#/zixun/index_3.html">3</a>&nbsp;<a href="#/zixun/index_4.html">4</a>&nbsp;<a href="#/zixun/index_5.html">5</a>&nbsp;<a href="#/zixun/index_6.html">6</a>&nbsp;<a href="#/zixun/index_2.html">下一页</a>&nbsp;<a href="#/listinfo-6-331.html">尾页</a> -->
                            </ul>
                        </div>
                    </div>

                </div>
                <!--left:end-->
                <div class="h5_right" style="border:1px solid #f3f3f3;">
                    <!--热门新闻 -->
                    <div class="hot_news_list h5_r_bg">
                        <div class="h5_tit">
                            <p>热门资讯</p>
                        </div>
                        <ul>
                        <?php foreach($data['rmnews'] as $key=>$val22){?>
                                <li><a title="" target="_blank" href="<?php echo U('Newslist/'.$val22['id']);?>"><?php echo $val22['title']?></a></li>
                        <?php }?>              
                        </ul>
                    </div>
                    <!--热门游戏 -->
                    <!-- <div class="subject_h_g h5_r_bg">
                        <div class="h5_tit">
                            <p>热门游戏</p>
                        </div>
                        <ul>
                                                        <li class="hover">
                                <div class="p1"><a title="永恒奇迹" target="_blank" href="#/yhqj/"><img src="./最新变态手游资讯_公益服手游资讯-3733手机游戏_files/daa7ad8dfe7e3cd810f19791466ad3d8.png" alt="永恒奇迹"></a></div>
                                <div class="p2">
                                    <p><a title="永恒奇迹" target="_blank" href="#/yhqj/">永恒奇迹</a></p>
                                    <span>&nbsp;角色&nbsp;动作&nbsp;</span>
                                    <em>人气：<i>1035169</i></em>
                                </div>
                                <div class="p3"><a href="#/yhqj/" target="_blank">下载</a></div>
                            </li>
                                                        <li class="">
                                <div class="p1"><a title="梦幻加强版" target="_blank" href="#/mhjqb/"><img src="./最新变态手游资讯_公益服手游资讯-3733手机游戏_files/e5ef70708911a8ce7b340f6d5eab34c6.png" alt="梦幻加强版"></a></div>
                                <div class="p2">
                                    <p><a title="梦幻加强版" target="_blank" href="#/mhjqb/">梦幻加强版</a></p>
                                    <span>&nbsp;角色&nbsp;</span>
                                    <em>人气：<i>1010654</i></em>
                                </div>
                                <div class="p3"><a href="#/mhjqb/" target="_blank">下载</a></div>
                            </li>
                                                        <li class="">
                                <div class="p1"><a title="回合三国" target="_blank" href="#/hhsg/"><img src="./最新变态手游资讯_公益服手游资讯-3733手机游戏_files/9c4ba03a8354534acf9195e22037e578.png" alt="回合三国"></a></div>
                                <div class="p2">
                                    <p><a title="回合三国" target="_blank" href="#/hhsg/">回合三国</a></p>
                                    <span>&nbsp;角色&nbsp;策略&nbsp;</span>
                                    <em>人气：<i>996732</i></em>
                                </div>
                                <div class="p3"><a href="#/hhsg/" target="_blank">下载</a></div>
                            </li>
                                                        <li class="">
                                <div class="p1"><a title="三生道诀" target="_blank" href="#/ssdj/"><img src="./最新变态手游资讯_公益服手游资讯-3733手机游戏_files/7afaafcfa949003b15355b5888524d72.png" alt="三生道诀"></a></div>
                                <div class="p2">
                                    <p><a title="三生道诀" target="_blank" href="#/ssdj/">三生道诀</a></p>
                                    <span>&nbsp;角色&nbsp;</span>
                                    <em>人气：<i>989486</i></em>
                                </div>
                                <div class="p3"><a href="#/ssdj/" target="_blank">下载</a></div>
                            </li>
                                                        <li class="">
                                <div class="p1"><a title="宠物小精灵" target="_blank" href="#/cwxjl/"><img src="./最新变态手游资讯_公益服手游资讯-3733手机游戏_files/9f37f8c15ca36fadfe2b054ed0e21416.png" alt="宠物小精灵"></a></div>
                                <div class="p2">
                                    <p><a title="宠物小精灵" target="_blank" href="#/cwxjl/">宠物小精灵</a></p>
                                    <span>&nbsp;卡牌&nbsp;</span>
                                    <em>人气：<i>982002</i></em>
                                </div>
                                <div class="p3"><a href="#/cwxjl/" target="_blank">下载</a></div>
                            </li>
                                                        <li class="">
                                <div class="p1"><a title="探墓风云" target="_blank" href="#/tmfy/"><img src="./最新变态手游资讯_公益服手游资讯-3733手机游戏_files/b9d9dba02eecab5f575a1553462e1876.png" alt="探墓风云"></a></div>
                                <div class="p2">
                                    <p><a title="探墓风云" target="_blank" href="#/tmfy/">探墓风云</a></p>
                                    <span>&nbsp;角色&nbsp;</span>
                                    <em>人气：<i>959369</i></em>
                                </div>
                                <div class="p3"><a href="#/tmfy/" target="_blank">下载</a></div>
                            </li>
                                                        <li class="">
                                <div class="p1"><a title="皇者天下" target="_blank" href="#/hztx/"><img src="./最新变态手游资讯_公益服手游资讯-3733手机游戏_files/867e43f21497c989acbb80f9c3944b95.png" alt="皇者天下"></a></div>
                                <div class="p2">
                                    <p><a title="皇者天下" target="_blank" href="#/hztx/">皇者天下</a></p>
                                    <span>&nbsp;角色&nbsp;</span>
                                    <em>人气：<i>955871</i></em>
                                </div>
                                <div class="p3"><a href="#/hztx/" target="_blank">下载</a></div>
                            </li>
                                                        <li class="">
                                <div class="p1"><a title="X战娘VR版" target="_blank" href="#/xznvrb/"><img src="./最新变态手游资讯_公益服手游资讯-3733手机游戏_files/347931dbaca8edd57c5a481024119417.png" alt="X战娘VR版"></a></div>
                                <div class="p2">
                                    <p><a title="X战娘VR版" target="_blank" href="#/xznvrb/">X战娘VR版</a></p>
                                    <span>&nbsp;卡牌&nbsp;动作&nbsp;二次元&nbsp;</span>
                                    <em>人气：<i>949463</i></em>
                                </div>
                                <div class="p3"><a href="#/xznvrb/" target="_blank">下载</a></div>
                            </li>
                                                        <li class="">
                                <div class="p1"><a title="仙剑加强版" target="_blank" href="#/xjjqb/"><img src="./最新变态手游资讯_公益服手游资讯-3733手机游戏_files/da35b7e285dc0dba2080ce52a0fc2f85.png" alt="仙剑加强版"></a></div>
                                <div class="p2">
                                    <p><a title="仙剑加强版" target="_blank" href="#/xjjqb/">仙剑加强版</a></p>
                                    <span>&nbsp;角色&nbsp;</span>
                                    <em>人气：<i>941350</i></em>
                                </div>
                                <div class="p3"><a href="#/xjjqb/" target="_blank">下载</a></div>
                            </li>
                                                        <li class="">
                                <div class="p1"><a title="梦幻挂机" target="_blank" href="#/mhgj/"><img src="./最新变态手游资讯_公益服手游资讯-3733手机游戏_files/4c788af228d35b85944efe8f78307226.png" alt="梦幻挂机"></a></div>
                                <div class="p2">
                                    <p><a title="梦幻挂机" target="_blank" href="#/mhgj/">梦幻挂机</a></p>
                                    <span>&nbsp;角色&nbsp;</span>
                                    <em>人气：<i>926136</i></em>
                                </div>
                                <div class="p3"><a href="#/mhgj/" target="_blank">下载</a></div>
                            </li>
                                                    </ul>
                    </div> -->
                    <!--热门新闻 -->
                    <div class="hot_news_list h5_r_bg">
                        <div class="h5_tit">
                            <p>热门攻略</p>
                        </div>
                        <ul>
                          <?php foreach($data['rmgl'] as $key=>$val22){?>
                                <li><a title="" target="_blank" href="<?php echo U('Newslist/'.$val22['id']);?>"><?php echo $val22['title']?></a></li>
                          <?php }?>     
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!--main:end-->
        <script>
            $(function () {
                $("#t_news").addClass('curr');
                $('.news_tab li').click(function () {
                    var index = $(this).index();
                    $(this).addClass('hover').siblings('li').removeClass('hover');
                    $('.subject_list').eq(index).show().siblings('.subject_list').hide();
                })
                $(".get_gift li,.get_gift dd,.game_rank li,.subject_h_g li").hover(function () {
                    $(this).addClass("hover").siblings().removeClass("hover");
                })
            })
        </script>
  </block>