<block name="title">
    <title>115游戏客服_客服中心_115游戏官网</title>
</block>
<block name="keywords">
    <meta name="keywords" content="客服中心">
</block>
<block name="description">
    <meta name="description" content="115手机游戏客服中心，为您解决游戏中的充值、返利、登录失败等问题，有问题欢迎咨询客服！">
</block>

<extend name="Public:main" />
<block name="main">
<style>
    body{
      background:white;
    }
</style>
<!-- <link rel="stylesheet" href="__PUBLIC__/Home/css/base.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/list.css"> -->
<link rel="stylesheet" href="__PUBLIC__/Home/css/Index/kefu_style.css" />
<style>
    

</style>
<!-- <link rel="stylesheet" href="__PUBLIC__/Home/css/kefu_style(1).css" />
<script type="text/javascript" src="__PUBLIC__/Home/css/newsdetail.js"></script>  -->
<meta http-equiv="X-UA-Compatible" content="IE=8">
    <div class="banner banner_depth" id="J-banner">
        <div class="l-wrap l-relative">
            <div class="banner__imgs">
                <img src="__PUBLIC__/Home/img/text.png" alt="" class="banner__text" id="J-text" style="left: 2.21px; top: 87.15px;">
                <img src="__PUBLIC__/Home/img/banner_people.png" alt="" class="banner__people" id="J-people" style="left: 517.14px; top: 56.1px;">
                <img src="__PUBLIC__/Home/img/cloud.png" alt="" class="banner__cloud" id="J-cloud" style="left: -458.93px; top: -2.95px;">
                <img src="__PUBLIC__/Home/img/house.png" alt="" class="banner__house" id="J-house" style="left: 317.79px; top: 65.85px;">
            </div>
        </div>
    </div>
    <!-- end banner -->
    <div class="dialog"></div>
   
    <div class="service wrap_w">
        <div class="normal">
            <h3 style="">常用服务<span style="font-size: 14px;"></span></h3>
            <div class="normal-con clearfix">
                <a href="{$data['kfqq']}" target="_Blank">
                    <dl class="con1">
                        <dt>充值未到账</dt>
                        <dd>我购买了游戏币，钱扣了但是游戏币没到账</dd>
                    </dl>
                </a>
                <a href="{$data['kfqq']}" target="_Blank">
                    <dl class="con2">
                        <dt>消费未到账</dt>
                        <dd>我购买了游戏里面的道具，扣了元宝但是没到账</dd>
                    </dl>
                </a>
                <a href="{$data['kfqq']}" target="_Blank">
                    <dl class="con3">
                        <dt>被盗申诉</dt>
                        <dd>我的号被人盗了，我想申诉把它找回来</dd>
                    </dl>
                </a>
                <a href="{$data['kfqq']}" target="_Blank">
                    <dl class="con4">
                        <dt>更换绑定手机</dt>
                        <dd>我原来绑定的手机无法接到验证码了，我要更换绑定手机</dd>
                    </dl>
                </a>
                <a href="{$data['kfqq']}" target="_Blank">
                    <dl class="con5">
                        <dt>游戏异常</dt>
                        <dd>我发现了游戏有异常，我想辅助反馈</dd>
                    </dl>
                </a>
                <a href="{$data['kfqq']}" target="_Blank">
                    <dl class="con6">
                        <dt>游戏人物/物品丢失</dt>
                        <dd>我的游戏人物/物品无故丢失了，我想查查原因</dd>
                    </dl>
                </a>
                <a href="{$data['kfqq']}" target="_Blank">
                    <dl class="con7">
                        <dt>未绑定手机密码找回</dt>
                        <dd>我想找回账号的密码，但是我没有绑定手机</dd>
                    </dl>
                </a>
                <a href="{$data['kfqq']}" target="_Blank">
                    <dl class="con8">
                        <dt>忘记账号</dt>
                        <dd>我忘记了我的账号，我想把它找回来</dd>
                    </dl>
                </a>
                <a href="{$data['kfqq']}" target="_Blank">
                    <dl class="con9">
                        <dt>意见与建议</dt>
                        <dd>我对安锋有意见或者建议，我想反馈给安锋</dd>
                    </dl>
                </a>
            </div>
        </div>


        <div class="ctact">
            <h3>联系我们</h3>
            <div class="fg clearfix" style="background:white;">
                <dl class="fg-1">
                    <a href="{$data['kfqq']}" target="_Blank"><img src="__PUBLIC__/Home/img/QQ1.png"></a>
                    <dd style="margin-top: 9px;">在线解答您的咨询，高效、便捷<br> 工作时间：周一至周日 10:00至22:00<br></dd>
                </dl>
                <dl class="fg-2">
                    <a href="{$data['qqqun']}" target="_Blank"><img src="__PUBLIC__/Home/img/QQ.png" alt=""></a>
                    <dd style="margin-top: 9px;">上千玩家聚集于此，分享游戏体验<br> 点击即可加群，欢迎进群交流
                    </dd>
                </dl>
                <dl class="fg-3" style="background:url(<?php echo substr($data['wx'],1);?>) no-repeat 0 0;background-size: 65px auto;">
                    <dt>官方微信</dt>
                    <dd>更多精彩与福利<br> 请关注{$data['webname']}游戏官方微信
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</block>