@charset "utf-8";*{font-family:"Microsoft YaHei"!important;}
html{font:normal 14px/22px "Microsoft YaHei",Arial,Helvetica;color:#555;}
body,h1,h2,h3,h4,h5,p,dl,dt,dd,ul,li,form,td,tr{margin:0;padding:0;}
ul,li{list-style:none;}
em{font-style:normal;font-weight:bold;}
img,a img{border:0;vertical-align:middle;}
label.active{font-weight:bold;}
a{text-decoration:none;color:#333;}
a:hover{text-decoration:underline;color:#ec3845;}
button,select,textarea{font-size:100%;}
font{font-weight:bold;}
.clear{clear:both;height:0;line-height:0;font-size:0;display:block;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0;}
.layout{margin-bottom:15px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pl30{padding-left:30px;}
.ml30{margin-left:30px;}
.ml10{margin-left:10px;}
.mt20{margin-top:20px;}
.mt15{margin-top:15px;}
.mlt15{margin-left:0;margin-top:15px;}
.mt0{margin-top:0;}
.mt30{margin-top:30px;}
.line1{border-bottom:1px dotted #D9D9D9;}
.tc{text-align:center;}
.fl{float:left;}
.fr{float:right;}
.pa{position:absolute;}
.pr{position:relative;}
.of{overflow:hidden;}
.fs12{font-size:12px;}
a.red,.red{color:#ec3845;}
.orange{color:#ff4e00;}
.hui{color:#999;}
a.topMore{float:left;width:1198px;font-size:16px;height:45px;display:block;background:#FAFAFA;border:1px #D6D6D6 solid;line-height:45px;text-align:center;margin-top:20px;}
a:hover.topMore{border:1px #EB3849 solid;background:#EB3849;color:#fff;text-decoration:none;}

.mask72{background-position:0 0;height:72px;width:72px;}
.mask120{background-position:-112px 0;height:120px;width:120px;}
.mask175{background-position:0 -241px;height:175px;width:175px;}
.mask72,.mask120,.mask175{background:url("../images/spritePNG24.png") no-repeat scroll 0 0 transparent;cursor:pointer;display:block;margin:0;position:absolute;z-index:9;}
.ad1200{width:1200px;margin:10px auto 0px auto;height:90px;background-color:#fff;}
#wrap{width:1200px;margin:0px auto;position:relative;background-color:#fff;}
/*topnav*/
 #siteNav,.followSina,.followTencent,.followWx,.arrDrop,.siteNavMenu li.hover .arrDrop,.navIcon,.siteNavMenu li.hover .navIcon,.rb,.lb,.guideList li ul li a span.newIcon, .guideList li ul li a span.hotIcon,.thirdP .qq,.thirdP .sina,.menuHide .userInfo .rb{background:url(../images/siteNavBg.png) no-repeat;}
 #siteNav{background-position:0 -115px;background-repeat:repeat-x;line-height:40px;font-family:Arial;height:40px;width:100%;width:100%;color:#5b5b5b; position:relative; z-index:200;}
 #siteNav .layout{margin:0 auto;width:1190px;height:40px;}
 .fr{float:right!important;}
 .siteNavMenu,.siteNavMenu li{float:left;}
 .siteNavMenu li{position:relative;}
 .siteNavMenu li a{text-decoration:none;color:#5b5b5b;}
 .siteNavMenu li a:hover{text-decoration:none;color:#2e2e2e; font-weight: normal;}
 .siteNavMenu li span,.siteNavMenu li a.login{float:left;cursor:pointer;}
 .followSina,.followTencent,.followWx{margin-top:8px;float:left;line-height:24px;display:block;}
 .followSina{background-position:-99px 0;}
 .siteNavMenu li.hover .followSina{background-position:-124px 0;}
 .followTencent{background-position:-49px 0;}
 .siteNavMenu li.hover .followTencent{background-position:-74px 0;}
 .followWx{background-position:1px 0px;float:left;margin:8px 0 0 -4px;_margin-left:0;}
 .siteNavMenu li.hover .followWx{background-position:-24px 0;}
 .arrDrop,.arrDropNo{width:7px;height:4px;line-height:0px;font-size:0;display:block;float:left;margin:18px 4px 0;background-position:-168px -25px;}
 .arrDropNo{ margin-right: 0px;}
 .siteNavMenu li.hover .arrDrop{background-position:-168px -30px;}
 .siteNavMenu li .menuShow{z-index:10009;padding:0 1px 0 7px;height:40px;cursor:pointer;float:left;position:relative;}
 .siteNavMenu li.hover .menuShow{background-color:#FFF;border:1px solid #dedede;border-bottom:0;border-top:0;padding:0 0 0 6px;height:40px;}
 .siteNavMenu li .menuHide{display:none;position:absolute;top:39px;left:0;_left:-1px;background-color:#FFF;border:1px solid #dedede;z-index:10008;}
 .code{padding:10px;}
 .siteNavMenu li .menuHide a{color:#4F4F4F;}
 .siteNavMenu li .menuHide a:hover{color:#186DC3;text-decoration:underline;}
 .siteNavMenu li .menuShow .message{margin:13px 2px 0;background-color:#FF6600;text-align:center;padding:0 4px;color:#FFF; border-radius:4px;font:normal 10px/12px Verdana;}
 .navIcon,.siteNavMenu li.hover .navIcon{width:12px;height:10px;margin:15px 4px 0 0;font-size:0;line-height:0;display:block;background-position:-149px 0;}
 .siteNavMenu li.hover .navIcon{background-position:-162px 0;}
 .menuHide ul.log .tipsText{color:#FF6600;}
 .menuHide ul.log,.thirdP{padding:10px;width:240px;line-height:26px;color:#9a9a9a;}
 .menuHide ul.log input{margin-bottom:10px;}
 .menuHide ul.log .inputText,.menuHide ul.log .inputTextOut{width:190px;padding:0 5px;height:30px;line-height:30px;border:1px solid #e1e1e1;border-radius:2px;}
 .menuHide ul.log input:hover{border:1px solid #FF7800;border-radius:2px;}
 .menuHide ul.log .inputTextOut{border:1px solid #ff9900;}
 .menuHide ul.log .submit{width:240px;height:34px;margin-bottom:5px;border-radius:2px;background-color:#ff9900;border:0;color:#FFF;font:bold 14px/34px normal;cursor:pointer;}
 .menuHide ul.log .check{margin:7px 2px 0 0;*margin-top:3px;vertical-align:middle;}
 .remember{text-align:right;}
 .remember label{float:left;text-align:left;}
 .remember label *{float:left;}
 .siteNavMenu li .menuHide .remember a{color:#186DC3;}
 .thirdP{border-top:1px solid #e1e1e1;background-color:#f9f9f9;padding:0 10px 6px;}
 .thirdP a{margin-right:10px;}
 .thirdP .qq,.thirdP .sina{display:inline-block;color:#FFF!important;font:normal 12px/24px normal;width:55px;height:24px;padding-left:28px;margin:0 10px 4px 0;}
 .thirdP .qq{background-position:0 -50px;}
 .thirdP .qq:hover{background-position:-84px -50px;}
 .thirdP .sina{background-position:0 -25px;}
 .thirdP .sina:hover{background-position:-84px -25px;}
 .thirdP .qq:hover,.thirdP .sina:hover{text-decoration:none!important;}
 .guideList{width:948px;float:left;background-color:#FFF;height:140px;}
 .guideList li{border-right:1px solid #ededed;width:174px;padding:5px 0 0 10px;height:135px;cursor:default;line-height:28px;}
 .guideList li.client{width:198px}
 .guideList li.last{border:0;}
 .siteNavMenu li .menuHide .guideList li h4 a,.siteNavMenu li .menuHide .guideList li h4{color:#ff6600;font:bold 16px/30px normal;}
 .guideList li ul{width:100%;}
 .guideList li ul li{width:50%;height:auto;display:inline;padding:0;border:0;}
 .guideList li ul li a{position:relative;display:inline-block;}
 .siteNavMenu li .menuHide .guideList li ul li strong a{color:#F42916;}
 .guideList li ul li a span{display:block;width:11px;height:11px;overflow:hidden;position:absolute;right:-8px;top:-2px;_top:-2px;}
 .guideList li ul li a span.newIcon{background-position:-149px -13px;}
 .guideList li ul li a span.hotIcon{background-position:-161px -13px;}
 .rb{background-position:right -75px;padding-right:7px;margin-right:6px;}
 .lb{background-position:left -75px;padding-left:10px;margin-left:10px;}
 .menuHide .userPanel{padding:10px;width:280px;height:100px;line-height:26px;}
 .menuHide .userFace{width:100px;height:100px; margin-right:10px;float:left;display:inline;}
 .menuHide .userInfo{float:left;}
 .menuHide .userInfo a{color:#186DC3;}
 .menuHide .userInfo .rb{background-position:right -86px;}
 .menuHide .userInfo a em{color:#ff6600;}
 .r10{right:7px;left:auto!important}
 .r0{right:0;left:auto!important;}
 #topDMainBox{right:7px;_right:-6px;left:auto;}
 #topAdapt{ padding-right: 7px;}
 #topAdapt span{float: none;}
 #siteNav{font-size:12px;} 
/*header*/
.header{width:1200px;height:120px;margin:0 auto;clear:both;}
.header .siteLogo{float:left;margin-top:23px;width:340px;height:80px;display:block;background:url(../logo/ng_logo.png) no-repeat;text-indent:-999em;overflow:hidden;}
.search{float:right;padding-top:40px;font-size:12px;}
.searchBor{height:34px;border:2px solid #F6505C;position:relative;}
.searchBor .txt{height:29px;padding:2px 0 2px 10px;width:482px;font-size:14px;border:0px;outline:none;line-height:29px;color:#888;}
.searchBor .submit{width:80px;height:34px;font-size:16px;border:none;background:#F6505C;color:#fff;padding:0px;margin-right:-1px;}
.searchBor .submit:hover{background-color:#ec3845;}
.search p{padding-top:6px;font-size:12px;clear:both;}
.search a{color:#888;margin-right:8px;}
.search a:hover,.search a.red,.search p em a{color:#ec3845;}
.S_hot{padding-left:90px;background:url(../images/S_hot.gif) no-repeat 0px -3px;position:relative;z-index:4;}
/*search select start*/
.srcType{width:79px;height:34px;text-align:center;position:relative;background:#f7f7f7;border-right:1px solid #EDEDED;float:left;line-height:34px;}
.srcType span{position:absolute;top:15px;right:8px;display:block;width:9px;height:4px;background:url(../images/srcArr.png) no-repeat;line-height:0;font-size:0;z-index:3;}
.tzSelect{position:relative;top:-34px;}
.tzSelect .selectBox{position:absolute;height:102px;width:79px;text-align:center;cursor:pointer;line-height:102px;z-index:3;background:url(../images/selectBox.gif) no-repeat;}
.tzSelect .dropDown{position:absolute;top:32px;left:-2px;width:82px;height:81px;padding-top:10px;display:block;list-style:none;z-index:5; background:url(../images/dropDown.gif) no-repeat;}
.tzSelect li{cursor:pointer;padding:2px;text-align:center;width:73px;height:20px;line-height:20px;margin-left:2px;}
.tzSelect li:hover{color:#ec3845;}
.ac_results {padding: 0px; border: 2px solid #F64C57; border-top:0px;background:#eee;overflow: hidden;z-index: 99999;color:#555;height:200px;width:415px;}
.ac_results ul {width: 100%;list-style-position: outside;list-style: none;padding: 0;margin: 0;}
.ac_results li {margin: 0px;padding: 2px 0 2px 8px;cursor: default;display: inline;line-height:25px;height:25px;float:left;width:415px;cursor:pointer;overflow:hidden;border-left:1px solid #E0E0E0;border-bottom:1px solid #E0E0E0;font-size: 12px;font-weight: 800; overflow: hidden;}
.ac_results li  span{float:right;width:60px;font-weight:normal;}
.ac_results li strong {font-weight:500;}
.ac_loading,.ac_odd {background: white;}
.ac_over {background-color:#F5F5F5;color:#ec3845;}
/*search select end*/
.srcType span.up{background-position:0 -5px;}
.srcResultList{position:absolute;width:438px;background-color:#fff;border:1px solid #DCDCDC;left:80px;top:34px;z-index:1000;}
.srcResultList li{background-color:#fff;border-top:1px dotted #E2E2E2;float:left;height:40px;margin-top:-1px;width:100%;}
.srcResultList li a{display:block;line-height:40px;padding:0 60px 0 10px;margin:0;color:#333;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;position:relative;}
.srcResultList li a em{color:#ec3845;}
.srcResultList li a:hover{background-color:#F6F6F6;text-decoration:none;}
.srcResultList li a img{float:left;margin:5px 6px 0 0;width:30px;height:30px;}
.srcResultList li a span{position:absolute;top:8px;right:10px;}
.srcResultList li a .aBtn,.srcResultList li a .iBtn{width:24px;height:24px;display:inline-block;margin:0 2px;background:url(../images/listIcon.png) no-repeat;}
.srcResultList li a .aBtn{background-position:2px -508px;}
.srcResultList li a .iBtn{background-position:2px -484px;}
.itemHide{display:none;}
.srcResultList li.microblog{background-color:#F6F6F6;text-decoration:none;}
.nav,.nav2{height:40px;background:#404952;width:100%;}
.nav ul,.nav2 ul{width:1200px;margin:auto;background:#404952;height:40px;}
.nav li,.nav2 li{float:left;width:12.5%;position:relative;font-size:18px;text-align:center;line-height:40px;}
.nav a,.nav2 a{display:block;color:#fff;}
.nav a:hover,.nav2 a:hover{background-color:#f6505c;}
.nav .curr a,.nav .curr a:hover,.nav2 .curr a,.nav2 .curr a:hover{background:#1F272B;color:#fff;border-bottom:3px #F6505C solid;line-height:37px;height:37px;}
.nav a:hover,.nav .curr a:hover,.nav2 a:hover,.nav2 .curr a:hover{text-decoration:none;color:#fff;}
.nav li .navIcon,.nav2 li .navIcon{background:url(../images/nav_new.png) no-repeat;position:absolute;top:-24px;right:5px;width:35px;height:23px;}
.noFind{width:1000px;text-align:center;margin:auto;}
.noFind img{margin:20px 0 0 0;}
.noFind .ts{font-size:20px;border-top:1px dashed #DEDEDE;padding:30px 0;line-height:40px;}
.noFind .tst{font-size:14px;color:#999;}
.noFind .searic{width:16px;height:16px;background:url(../images/icon.png) 0 -1712px no-repeat;padding-left:20px;margin:0 5px;}
.ngGprs{color:#555;line-height:25px;height:25px;font-size:12px;width:100%;text-align:left;margin-top:10px;margin-bottom:10px;}
.gprs{height:16px;width:16px;background:url(../images/icon.png) 0 -894px no-repeat;display:inline-block;float:left;}
.ngTitle{width:100%;height:40px;line-height:40px;border-bottom:1px #ECECEC solid;position:relative;}
.ngTitle .red{font-size:22px;}
.ngTitle h1,.ngTitle h2,.ngTitle h3,.ngTitle strong{font-size:20px;border-bottom:1px #EB3849 solid;width:140px;float:left;line-height:40px;height:40px;display:block;overflow:hidden;position:absolute;left:0;right:0;color:#333;}
.ngTitle .more{width:40px;height:40px;background:url(../images/icon.png) no-repeat;display:block;float:right;}
.ngTitle a.more{background-position:0 -277px;}
.ngTitle a:hover.more{background-position:0 -323px;}
.ngTitle a:hover{text-decoration:none;}
.pageBox{text-align:right;}
.pageBox a,.pageBox b{display:inline-block;padding:0 8px;margin-left:5px;}
.pageBox a:hover,.pageBox b{color:#fff;}
.pageBox a:hover{text-decoration:none;background-color:#f6505c;}
.pageBox b{background-color:#404952;}
.pageBox span.num{display:none;}
.andisoShow{width:271px;position:absolute;z-index:10001;display:none;padding-top:14px;background:url(../images/androidShowbg.png) no-repeat 0 0;}
.andisoShow1{width:271px;position:absolute;z-index:999;display:none;padding-bottom:14px;background:url(../images/androidShowbg1.png) no-repeat bottom;}
.andisoShowSub{width:265px;border:3px solid #E2E2E2;border-top:0 none;background-color:#fff;}
.andisoShow1 .lined{border:3px solid #E2E2E2;border-bottom:0 none;}
.andisoShowSub .ddown{width:251px;padding:5px 7px 0 7px;font-size:14px;color:#333;}
.andisoShowSub .ddown p{width:251px;padding:5px 0 15px 0;line-height:22px;text-align:left;}
.andisoShowSub .ddown a.and{display:block;width:231px;height:auto;padding:5px 10px;margin-top:5px;font-size:14px;color:#fff;line-height:20px;background:none #7ABB15;text-align:center;}
.andisoShowSub .ddown a:hover.and{color:#fff;background:none #EB3849;text-decoration:none;}
.andisoShowSub .ddown a.ios{display:block;width:231px;height:auto;padding:5px 10px;margin-top:5px;font-size:14px;color:#fff;line-height:20px;background:none #3A8EDD;text-align:center;}
.andisoShowSub .ddown a:hover.ios{color:#fff;background:none #EB3849;text-decoration:none;}
.gamejsBox{width:245px;border:3px solid #E2E2E2;border-top:0 none;background-color:#fff;padding:10px;}

/*返回顶部及收藏*/
.backtotop{display:none; position:fixed;width:56px;height:160px;overflow:hidden; _position: absolute;_top:expression(documentElement.scrollTop +document.documentElement.clientHeight/2 - 58 + "px");}
.backtotop a {width:48px; height:48px; overflow:hidden; text-indent:-99em;float:left;display:block;cursor:pointer;background:#E1E1E1;}
.backtotop span {background:url('/style/images/two_code2.png') no-repeat;width:48px; height:48px;display:block;margin:0 auto;}
.backtotop .erweima {margin-bottom:6px;}
.backtotop .erweima span {background-position:0 0;}
.backtotop .erweima span:hover {background-position:-52px 0px;}
.backtotop .fave_b {margin-bottom:6px;}
.backtotop .fave_b span {background-position:0px -53px;}
.backtotop .fave_b span:hover {background-position:-52px -53px;}
.backtotop .totop span {background-position:0 -105px;}
.backtotop .totop span:hover {background-position:-52px -105px;}
.backtotop a:hover {background:#c5c5c5;}
.erweipic{background:url('/style/images/two_code.png') no-repeat; width:170px; height:184px; display:none; position:absolute; z-index:9999;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/style/images/two_code.png"); _background-image: none;_top:expression(documentElement.scrollTop +380 + "px");}
.erweipic img{margin:10px 0px 0px 5px;width:150px;height:150px;overflow:hidden;}

.side{position:fixed;right:40px;top:400px;}
.service .touch,.comment{width:46px;height:66px;display:block;text-align:center;border:1px solid #b1b4b7;color:#888;font-size:12px;cursor:pointer;background-color:#fff;}
.service.hover .touch{background-color:#f6505c;color:#fff;border:1px solid #f6505c;text-decoration:none;font-size:12px;}
.service .sIcon{width:29px;height:29px;display:block;margin:8px auto 2px;background:url(../images/listIcon.png) 0 -594px;}
.service.hover .sIcon{background-position:0 -625px;}
.serviceCon{position:absolute;top:0;right:47px;background-color:#fff;border:1px solid #f6505c;padding:10px;font-size:12px;white-space:nowrap;color:#333;display:none;}
i{font-style:normal;color:#f6505c;padding-right:4px;font-size:12px;}
.comment{margin-top:4px;}
.comment:hover{background-color:#f6505c;color:#fff;border:1px solid #f6505c;text-decoration:none;font-size:12px;}
.comment .cIcon{width:29px;height:29px;display:block;margin:8px auto 2px;background:url(../images/listIcon.png) 0 -820px;}
.comment:hover .cIcon{background-position:0 -851px;}
.commentCon{background-color:#fff;font-size:12px;color:#333;position:absolute;top:200px;left:50%;margin-left:-458.5px;z-index:10000;}
.commentCon .znping{width:875px;float:left;background-color:#fff;padding:10px 20px 20px 20px;border:1px solid #f6505c;}
.commentCon .pingText{border:1px #CECECE solid;margin-top:15px;width:871px;float:left;}
.commentCon .pingText textarea{border-top:2px #F5F5F5 solid;border-right:none;border-bottom:none;border-left:none;width:851px;padding:10px;line-height:20px;}
.commentCon .tjpl{width:100%;float:left;margin:15px 0;}
.commentCon .tjpl .fl a{color:#0078B6;line-height:35px;}
.commentCon .tjpl .pingBtn{width:120px;height:35px;color:#fff;background:#EB3849;border:0 none;font-size:16px;}
.commentCon .tjpl .yzmsr{border:1px #CECECE solid;line-height:25px;height:25px;padding:2px;margin:0 5px;}
.commentCon .pingList{float:left;width:100%;border-top:1px dotted #D9D9D9;margin:10px 0 10px 0;overflow-x:hidden;overflow-y:auto;height:425px;}
.commentCon .bengc{float:left;width:875px;height:225px;position:absolute;background:#F5F5F5;z-index:2;padding-top:200px;text-align:center;opacity:.8;filter:alpha(opacity=80);}
.commentCon .bengc img{width:24px;height:24px;border:0;float:none;}
.commentCon a.more{color:#0078b6;float:right;padding-top:10px;}
.commentCon .pingList li{margin-top:15px;border-bottom:1px dotted #D9D9D9;float:left;width:100%;}
.commentCon .pingList .ntime{width:789px;float:left;font-size:12px;color:#777;padding-left:10px;}
.commentCon .pingList .txt{width:789px;float:left;font-size:14px;padding:5px 0 15px 10px;color:#333;}
.commentCon .pingList li img{width:52px;height:52px;border:1px #CECECE solid;float:left;}
.commentCon .znewsList p{width:100%;line-height:25px;float:left;margin-top:5px;color:#666;}
.commentCon .znewsList p a{font-size:12px;}
.commentCon a.close{float:right;width:26px;height:26px;background:url(../images/listIcon.png) 0 -886px no-repeat;display:block;cursor:pointer;margin-top:5px;}
.commentCon a:hover.close{float:right;width:26px;height:26px;background:url(../images/listIcon.png) 0 -916px no-repeat;display:block;cursor:pointer;}
.mywish p{font-size:14px;color:#333;line-height:30px;padding:10px 0;float:left;width:100%;}
.mywish p a{color:#0078b6;}
.mywish .sina{background:url(../images/login.png) no-repeat;}
.mywish .qq{background:url(../images/login.png) -84px 0 no-repeat;margin-left:10px;}
.mywish .sina,.mywish .qq{color:#fff;font-family:"Microsoft YaHei"!important;cursor:pointer;font-size:12px;width:55px;height:24px;line-height:24px;border:none;display:inline-block;padding-left:28px;}
#footer{width:100%;clear:both;float:left;border-top:3px solid #8E8E8E;background:#1F272B;display:block;margin-top:30px;color:#63696E;}
.link{width:1200px;margin:auto;border-bottom:1px #363D41 solid;padding-bottom:20px;}
.link h2{width:1200px;color:#63696E;font-size:16px;margin:20px 0 10px 0;}
.link a{width:109px;float:left;font-size:12px;color:#63696E;line-height:22px;}
.siteMap{color:#63696E;width:1200px;margin:auto;text-align:center;line-height:25px;}
.siteMap .map{width:100%;float:left;padding:20px 0;font-size:12px;}
.siteMap a{color:#63696E;padding:0 10px;}
.nodown,.nogift{width:30px;height:30px;background:url(../images/icon.png) no-repeat;margin:0 auto;display:block;}
.nodown{background-position:0 -1754px;}
.nogift{background-position:0 -1878px;}
.noResult{font-size:22px;line-height:36px;height:215px;width:400px;background:url(../images/noresult.gif) no-repeat;color:#333;margin:60px auto 20px;padding:90px 0 0 260px;}
.toTop{position:fixed;right:40px;top:544px;width:48px;height:48px;display:block;background:url(../images/listIcon.png) 13px -538px no-repeat #b1b4b7;text-indent:-999em;overflow:hidden;}
.toTop:hover{background-color:#f6505c;}
.tb_downyxh {
    background: url(app.gif) no-repeat left center;
    padding: 12px 0 10px 17px;
    color: #f60;
    margin-left: 0;
}
.game-detail-btn {
    margin-top: 10px;
}
.game-detail-btn .into-area {
    background: #75BE40;
}
.game-detail-btn a {
    float: left;
    display: inline;
    width: 105px;
    height: 35px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 35px;
    overflow: hidden;
    margin-right: 20px;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}
.game-detail-btn .into-discuss {
    background: #e5e5e5;
}
.game-detail-btn a {
    float: left;
    display: inline;
    width: 105px;
    height: 35px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 35px;
    overflow: hidden;
    margin-right: 20px;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}

.kobe{position:relative;margin-top:20px;}

  @-webkit-keyframes aniBlow {
            0% {
                -webkit-transform: scale(1, 1);
            }
            100% {
                -webkit-transform: scale(.9, .9);
            }
        }

        @-moz-keyframes aniBlow {
            0% {
                -moz-transform: scale(1, 1);
            }
            100% {
                -moz-transform: scale(.9, .9);
            }
        }

        @-o-keyframes aniBlow {
            0% {
                -o-transform: scale(1, 1);
            }
            100% {
                -o-transform: scale(.9, .9);
            }
        }

        @-ms-keyframes aniBlow {
            0% {
                -ms-transform: scale(1, 1);
            }
            100% {
                -ms-transform: scale(.9, .9);
            }
        }

        @keyframes aniBlow {
            0% {
                transform: scale(1, 1);
            }
            100% {
                transform: scale(.9, .9);
            }
        }

        .aniBlow {
			width: 140px;
			position: absolute;
			bottom: 19px;
			left: 75px;
            -webkit-animation: aniBlow 600ms ease-in 200ms infinite alternate;
            -moz-animation: aniBlow 600ms ease-in 200ms infinite alternate;
            -ms-animation: aniBlow 600ms ease-in 200ms infinite alternate;
            animation: aniBlow 600ms ease-in 200ms infinite alternate;
        }