<extend name="Base/base" />
<block name="body">
    <style>
        #pro_nav a button{
            margin-left: 100px;
        }
        #pro_nav button a{

        }
    </style>
    <!-- main content -->
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa icon-home"></i></a></li>
        <li><a href="{:U('index')}">游戏列表</a></li>
        <li class="active">{$item['id']?'修改新闻':'添加新闻'}</li>
    </ol>
    <div class="headline">
        <h3>{$item['id']?'修改新闻':'添加新闻'}</h3>
    </div>
    <p></p>
    <hr>
        <form   action="{:U($url)}" method="post"  enctype="multipart/form-data">
            <input type="hidden" name="pro_id" value="{$item.id}">
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label for="pro_name">新闻标题</label>
                        <input placeholder="新闻标题" name="title" id="pro_name" value="{$item.title}" class="form-control" style="width:40%;">
                    </div>

                    <div class="form-group">
                        <label for="pro_name">封面图(没有可以不用上传)</label>
                        <input placeholder="封面图" type="file" name="fm"  style="width:40%;">
                        <input type="hidden" name="oldfm" value="{$item.fm}">
                    </div>
                    <div class="form-group">
                        <label for="pro_name">类别</label>
                        <select name="newslabel"  id="cate" class="form-control" style="width:40%;">
                        <?php foreach ($newslabel as $key => $value) {
                            $select='';
                           if($item['newslabel']==$value['newlabelid']){
                                $select="selected";
                           }
                        ?>
                            <option value="<?php echo $value['newlabelid']?>" <?php echo $select;?>><?php echo $value['newlabelname']?></option>
                        <?php }?>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <?php if(!empty($item['game'])){
                                $gameinfo=M('Gameinfo')->find($item['game']);
                                $gameName=$gameinfo['gamename'];
                                $gameid=$gameinfo['id'];
                            }?>
                        <label for="pro_name">关联游戏名称</label>
                        <input placeholder="游戏名称"  id="pro_game" value="<?php echo $gameName?>" class="form-control" style="width:40%;">
                        <label for="pro_name">你是不是在找:</label>
                        <label for="pro_name" id="alink"></label>
                        <input type="hidden" name="game" value="<?php echo $gameid;?>">
                    </div>
                    <div class="form-group">
                        <label for="shelf">是否审核</label>
                        <input type="checkbox" name="status[]" value="1" checked>是
                        <input type="checkbox" name="status[]" value="2">否
                    </div>
                    <div class="form-group">
                        <label for="note" class="required" >简介:<span></span></label>
                        <textarea  id="note" class="form-control" name="intro" type="text/plain" rows="2" placeholder="游戏简介">{$item.intro}</textarea>
                    </div>
                    <div class="form-group">
                         <label for="editor">详情</label>
                         <div class="form-group">
                          <textarea  id="editor"  name="content" type="text/plain" rows="5" placeholder="游戏详情">
                                    {$item.content}
                               </textarea>
                            </div>
                    </div>

       
      
            <button type="submit" class="btn btn-info" >提交</button>
              <!-- <input type="submit" class="btn btn-info" value="提交"> -->

    </div>
     </div>
  </form>
</block>
<block name="script">

    <script type="text/javascript">
        // alert($);
        $("#pro_game").blur(function(){
            var name=$(this).val();
            if(name!=""){
                $.ajax({
                    type:"GET",
                    data:"name="+name,
                    url:"__MODULE__/News/getGame",
                    success:function(data){
                        $("input[name='game']").val("");
                        $("input[name='game']").val(data[0].id);
                        $("#alink").empty();
                        for(var i=0;i<data.length;i++){
                            var alink="<a href='javascript:selectid("+data[i].id+");' data-name="+data[i].gamename+" id='selectida"+data[i].id+"' >"+data[i].gamename+"</a>&nbsp;";
                            $("#alink").append(alink);
                        }
                    }
                });
            }
        });


        function selectid(id){
            var name=$("#selectida"+id).data('name');
            $("input[name='game']").val(id);
            $("#pro_game").val(name);
        }   
    </script>


     <link href="__PUBLIC__/Static/plugins/UE/themes/default/css/ueditor.css" rel="stylesheet">
      <script src="__PUBLIC__/Static/plugins/UE/ueditor.config.js"></script>
      <script src="__PUBLIC__/Static/plugins/UE/ueditor.all.js"></script>
     <script>
         var um = UE.getEditor("editor", {
             initialFrameWidth: 'auto',
             initialFrameHeight: 400,
             autoHeightEnabled: true,
             autoFloatEnabled: false,
         })
     </script>
</block>