<extend name="Base/base" />
<block name="body">
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa icon-home"></i></a></li>
        <li><a href="{:U('/')}">{$channelName}</a></li>
        <li class="active">{:isset($item['id'])?'Edit':'Add'}</li>
    </ol>
    <div>
        <div class="headline">
            <h4>{:isset($item['id'])?'Edit':'Add'}</h4>
        </div>
        <p><i class="fa fa-asterisk color-red"></i>&nbsp;&nbsp;required</p>
        <form class="" id="submitForm" method="post" role="form" action="{:U()}">
            <input type="text" name="id" value="{$item['id']}" hidden />
            <div id="base-info" class="row">
                <div class="col-xs-12">
                    <h3>Basic Info</h3>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div id="uploader" class="wu-example">
                        <div id="avatar">
                            <img class="img-responsive" src="{$item['logo']}">
                        </div>
                        <div class="queueList text-center">
                            <div id="dndArea" class="placeholder">
                                <div id="filePicker"></div>
                            </div>
                        </div>
                        <div class="statusBar" style="display:none;">
                            <div class="progress">
                                <span class="text">0%</span>
                                <span class="percentage"></span>
                            </div>
                            <div class="info"></div>
                            <div class="btns">
                                <div class="uploadBtn">Start Upload</div>
                            </div>
                        </div>
                        <div class="requirement">
                            <p>Type：PNG, JPEG, or GIF</p>
                            <p>Pixel：Recommend 190*190</p>
                            <p>Size：max size 1MB</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="short_name" class="required">Brand Name<span></span></label>
                                <input type="text" class="form-control" name="short_name" id="short_name" value="{$item.short_name}" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name" class="required">Company Name</label>
                                <input type="text" class="form-control" name="cname" id="name" value="{$item.name}" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="size">Company Size<span class="check-tips"></span></label>
                                <select name="size" class="form-control">
                                    <volist name="size" id="value">
                                        <if condition="$key eq $item['size']">
                                            <option value="{$key}" selected>{$value}</option>
                                            <else />
                                            <option value="{$key}">{$value}</option>
                                        </if>
                                    </volist>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="industry">Main Company Industry<span class="check-tips"></span></label>
                                <select name="industry" class="form-control">
                                    <volist name="industries" id="value">
                                        <if condition="$key eq $item['industry']">
                                            <option value="{$key}" selected>{$value}</option>
                                            <else />
                                            <option value="{$key}">{$value}</option>
                                        </if>
                                    </volist>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="type">Company Type</label>
                                <select name="type" class="form-control">
                                    <volist name="companyTypes" id="value">
                                        <if condition="$key eq $item['size']">
                                            <option value="{$key}" selected>{$value}</option>
                                            <else />
                                            <option value="{$key}">{$value}</option>
                                        </if>
                                    </volist>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="industry">Company Location City<span class="check-tips"></span></label>
                                <select name="city" class="form-control">
                                    <volist name="cities" id="value">
                                        <if condition="$key eq $item['city']">
                                            <option value="{$key}" selected>{$value}</option>
                                            <else />
                                            <option value="{$key}">{$value}</option>
                                        </if>
                                    </volist>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" name="email" id="email" value="{$item.email}" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Founded<span></span></label>
                                <input type="text" class="form-control" name="found_year" value="{$item.found_year}" placeholder="such as 2014" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="site">Company Website URL</label>
                                <input type="text" class="form-control" name="site" id="site" value="{$item.site}" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="address">Company Location</label>
                                <input type="text" class="form-control" name="address" id="address" value="{$item.address}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="summary">
                <h3>Summary</h3>
                <div class="form-group">
                    <label for="tags">Company Specialties<span>(separated by ',')</span></label>
                    <input type="text" class="form-control" name="tags" id="tags" value="{$item.tags}">
                </div>
                <div class="form-group">
                    <label for="editor" class="required">Company Description</label>
                    <script id="editor" name="content" type="text/plain">{$item.content}</script>
                </div>
            </div>
            <div class="form-group">
                <label for="keywords">Keywords(关键字)（for seo）</label>
                <input type="text" class="form-control" name="keywords" id="keywords" value="{$item['keywords']}" />
            </div>
            <div class="form-group">
                <label for="description">Description(描述)（for seo）</label>
                <textarea class="form-control" name="description">{$item['description']}</textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-info">Save</button>
                <button type="reset" class="btn btn-danger">Cancel</button>
            </div>
        </form>
    </div>
</block>
<block name="script">
    <link rel="stylesheet" href="__CSS__/webuploader-theme.css">
    <script src="__JS__/webuploader-picture-en.js"></script>
    <script>
        var swfPath = "__STATIC__/plugins/webuploader/Uploader.swf";
        var serverPath = "{:U('logo', array('id' => $item['id']))}";
        picture(swfPath, serverPath, 'logo', 2);

        var ue = UE.getEditor("editor", {
            initialFrameHeight: 400,
            autoHeightEnabled: true,
            serverUrl: "{:U('editorUpload')}",
            lang: 'en'
        });
    </script>
</block>