<block name="title">
    <title>{$data['gameinfo']['gamename']}特权礼包_{$data['gameinfo']['gamename']}最新礼包_{$data['gameinfo']['gamename']}礼包领取_115手机游戏</title>
</block>
<block name="keywords">
    <meta name="keywords" content="{$data['gameinfo']['gamename']}特权礼包,{$data['gameinfo']['gamename']}最新礼包,{$data['gameinfo']['gamename']}礼包领取">
</block>
<block name="description">
    <meta name="description" content="115游戏礼包中心提供{$data['gameinfo']['gamename']}特权礼包领取服务,方便玩家了解{$data['gameinfo']['gamename']}怎么领取激活和{$data['gameinfo']['gamename']}特权礼包特权礼包有什么,欢迎领取{$data['gameinfo']['gamename']}战特权礼包">
</block>
<extend name="Public:main" />
<block name="main">
<style>
    body{
      background:white;
    }
</style>
    <link rel="stylesheet" href="__PUBLIC__/Home/lbxq/newfah.css" />
<script type="text/javascript" src="__PUBLIC__/Home/lbxq/newfah.js"></script> 
        <div class='main'>
            <div class="weizhi">
                <p>
                    当前位置：<a href="/index.html">首页</a>&nbsp;>&nbsp;<a href="__MODULE__/Index">礼包</a>&nbsp;>&nbsp;<a href="__MODULE__/Lb">{$data['lbinfo']['lbname']}</a>           
                </p>
            </div>
            <div class="wrap clearfix">
                <div class="main_lf">
                    <div class="wrap3">
                        <div class="wrap3_title">{$data['lbinfo']['lbname']}</div>
                                        
                        <div class="wrap3_list clearfix">
                            <div class="wrap3_lf">
                                <p class="pimg">
                                    <img src="__PUBLIC__/Upload/Product/{$data['gameinfo']['logo']}" alt="{$data['lbinfo']['lbname']}">
                                </p>
                                <p class="ptxt">{$data['gameinfo']['gamename']}</p>
                                <p class="ppt">
                                    <?php 
                                            $os=explode(",",$data['lbinfo']['os']);
                                            if($os[0]==1){
                                        ?>
                                        <span class="az" style="display:display "></span>
                                         <?php } if($os[1]==2  OR $os[0]==2){?>    
                                        <span class="ios" style="display:display "></span>
                                         <?php }?>   
                                    
                                </p>
                            </div>
                        <div class="wrap3_md">
                                <dl class="clearfix">
                                <?php 
                                    $file=$data['lbinfo']['path'];
                                    $count=count(file($file));
                                    $jilu=$data['lbinfo']['jilu'];
                                    $countLB=100-(round($jilu/($count+$jilu),2)*100);
                                    ?>
                                    <dt>剩&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;余：</dt>
                                    <dd class="clearfix">

                                        <span class="spanbox"><span class="ht" style="width:<?php echo $countLB;?>%;" id="countper"></span></span>
                                        <em class="sl" id='shengyu'>剩余<?php echo $count;?>个</em>
                                    </dd>
                                </dl>
                                <dl class="clearfix">
                                    <dt>操作系统：</dt>
                                     <?php 
                                            $os=explode(",",$data['lbinfo']['os']);
                                            if($os[0]==1){
                                                $osname1="安卓";
                                             } if($os[1]==2  OR $os[0]==2){
                                                $osname2="|苹果";
                                             }
                                        ?>
                                    <dd class="clearfix"><?php echo $osname1.$osname2;?></dd>
                                </dl>
                                <dl class="clearfix">
                                    <dt>游戏下载：</dt>
                                    <dd class="clearfix"><a href="<?php echo U('listseo/'.$data['gameinfo']['seourl']);?>" target="_blank">进入下载</a></dd>
                                </dl>
                    <style>
                        .linghao{
                            width:400px;
                            height:40px;
                            background:#75BE40;
                            
                            text-align:center;
                        }
                         .linghao a{
                            line-height:40px;
                            /*font-size:17px;*/
                         }
                    </style>
                                <dl class="linghao">
                                   <a style="color:white;" href="javascript:linghao('<?php echo $data['lbinfo']['id']?>');" id="linghaoa">领号</a>
                                </dl>

                <script>
                    function linghao(id){
                      
                        $.ajax({
                              type:"GET",
                              url:"__MODULE__/Linghao/"+id,
                              success:function(data){
                                  if(data==2){
                                    $("#linghaoa").html('领完啦,请联系客服获取哦!');
                                  }else if(data==3){
                                    alert("您今天已经领取过了哦,请联系客服获取!");
                                  }else{
                                    $("#linghaoa").html(data);
                                  }
                              }
                        });
                    }
                   
                </script>
                                
                                <br /><br /><br />
                                <dl class="clearfix red">
                                    <dt>[温馨提示]</dt>
                                    <dd class="clearfix">
                                        <p style="width: 500px">请领取礼包的用户尽快使用！</p>
                                        <p class="ttips" style="width: 500px"><a href="<?php echo WEB_QQQUN;?>">点击此链接加入<?php echo WEB_NAME;?>游戏礼包群，了解最新礼包资讯！</a></p>
                                    </dd>
                                </dl>
                            </div>
                            <div class="wrap3_rg">
                                <!-- 如果后台配置是1 就显示在PC端领取 如果为2 就在手游宝领取 -->
                                <a href="javascript:void(0)" onclick="libaobox();" class="lh">
                                    <img src="<?php echo substr(WEB_WX,1);?>" width="150" height="150">
                                        <em class="emtxt">关注微信公众号</em>
                                </a>
                            </div>
                        </div>
                    </div>
                    <a name="goto"> </a>

                    <!-- 此处不能删除 -->
    <div style="display:block;" id="thlb2">
        <div class="wrap4" style="margin-top: 20px;">
            <div class="wrap_tt"><span></span>礼包详情</div>
            <div class="wrap4_list">
                <dl class="clearfix">
                    <dt><span>1</span>礼包内容：</dt>
                    <dd>{$data['lbinfo']['content']}</dd>
                </dl>
                <dl class="clearfix">
                    <dt><span>2</span>使用方法：</dt>
                    <dd>{$data['lbinfo']['lq']}</dd>
                </dl>
                <dl class="clearfix">
                    <dt><span>3</span>注意事项：</dt>
                    <dd>
                    礼包每个角色只限使用1次;每个激活码只限使用1次;每个ID限领一次<p></p>
                    </dd>
                </dl>
            </div>
        </div>
                        <div class="wrap5">
                            <div class="wrap_tt"><span></span>相关礼包</div>
                            <div class="warp2_list">
                                <ul class="clearfix">
                        <?php 
                            foreach($data['lbdata'] as $key1=>$val1){
                                if($val1['id']!=$data['lbinfo']['id']){
                                $Game1=M('Gameinfo')->where("id=".$val1['gamename'])->find();
                            ?>
                                   <li>
                                         <div class="imgli">
                                            <a href="<?php echo U("Lbname/".$Game1['id']);?>" target="_blank"><img src="__PUBLIC__/Upload/Product/<?php echo $Game1['logo']?>" alt="<?php echo $val1['lbname']?>">
                                            </a>
                                        </div>
                                        <div class="txtli">
                                            <p class="ptitle"><a href="<?php echo U("Lbname/".$Game1['id']);?>" target="_blank"><?php echo $val1['lbname']?></a>
                                            </p>
                                            <p class="ptxt"><?php echo $val1['content']?></p>
                                    <?php 
                                        $file=$val1['path'];
                                        $count=count(file($file));
                                        $jilu=$val1['jilu'];
                                        $countLB=100-(round($jilu/($count+$jilu),2)*100);
                                    ?>
                                            <p class="plq"><em>剩余：  <?php echo $countLB?>%</em>
                                                <a href="<?php echo U("Lbxq/".$val1['id']);?>" target="_blank" class="qh">
                                                    领取        
                                                 </a>
                                            </p>
                                        </div>
                                    </li>
                        <?php } }?>               
                                </ul>
                            </div>
                        </div>
                        <div class="wrap6">
                            <div class="wrap_tt"><span></span>相关资讯</div>
                            <div class="rtlist clearfix">
                <?php $aa=1; foreach($data['gmnews'] as $key2=>$val2){?>
                              <dl>
                                    <dt>
                                        <!-- <span class="fir"></span> -->
                                    </dt>
                                    <dd class="ddimg">
                                        <a href="<?php echo U('Newslist/'.$val2['id']);?>" target="_blank"><img src='__PUBLIC__/Upload/huodong/<?php echo $val2['fm']?>' alt="<?php echo $val2['title']?>">
                                        </a>
                                    </dd>
                                    <dd class="ddtxt">
                                        <p class="ptitle"><a href="<?php echo U('Newslist/'.$val2['id']);?>" target="_blank"><?php echo mb_substr($val2['title'],0,50,"utf8");?></a></p>
                                        <p class="ptxt"><?php echo mb_substr($val2['intro'],0,100,"utf8")?></p>
                                        <p class="pxx"><a href="<?php echo U('Newslist/'.$val2['id']);?>" target="_blank">详细</a>
                                        </p>
                                    </dd>
                                </dl>
                <?php }?>                                          
                            </div>
                        </div>
                    </div>
                    <!-- 此处不能删除 -->
                   
                </div>
                <div class="main_rg">
                   
                    


                    <div class="main6_rg">
                        <div class="main6_title">
                            <ul id="test_kfkc_list">
                                <li class="last">开服表</li>
                                <li style="visibility: hidden;"></li>
                            </ul>
                        </div>
                        <div class="kfkc_list kfkc_list_1">
                            <dl>
                                <dt>
                                    <ul>
                                        <li class="time">时间</li>
                                        <li class="name">游戏名称</li>
                                        <li class="fwq">服务器</li>
                                        <li class="lb">礼包</li>
                                    </ul>
                                </dt>
                                <dd class="">
                                    <ul>
                                    <?php foreach($data['kaifu'] as $key3=>$val3){?>
                                        <li class="time">
                                            <?php echo date('m-d',$val3['kfday']);?>
                                            
                                        </li>
                                        <li class="name">
                                            <a href="<?php echo U('Search/'.$val3['gamename'])?>" target="_blank">
                                             <?php echo $val3['gamename']?>                       
                                             </a>
                                        </li>
                                        <li class="fwq">
                                            <?php echo $val3['server']?>
                                        </li>
                                        <li class="lb">
                                            <a href="javascript:void(0)" target="_blank">领</a>
                                            --  
                                         </li>  
                                    <?php }?>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="rmlb_list">
                        <div class="wrap_tt"><span></span>热门礼包</div>
                        <div class="listbox">
                            <ul class="clearfix">
                        <?php
                             foreach($data['rementj'] as $key4=>$v4){
                                $Game=M('Gameinfo')->field('logo,id')->where("id=".$v4['gamename'])->find();
                            ?>
                                <li>
                                    <div class="prediv"><span><?php echo $v4['lbname']?></span>
                                        <a href="<?php echo U("Lbxq/".$v4['id']);?>"  target="_blank">领取</a></div>
                                    <div class="hoverdiv">
                                        <div class="imgdiv"><a href="<?php echo U("Lbxq/".$v4['id']);?>" target="_blank">
                                                <img src="__PUBLIC__/Upload/Product/<?php echo $Game['logo']?>" alt="<?php echo $v4['lbname']?>" /></a></div>
                                        <div class="txtdiv">
                                            <p class="ptitle"><a href="<?php echo U("Lbxq/".$v4['id']);?>" target="_blank"><?php echo $v4['lbname']?></a></p>
                                     <?php 
                                        $file=$v4['path'];
                                        $count=count(file($file));
                                        $jilu=$v4['jilu'];
                                        $countLB=100-(round($jilu/($count+$jilu),2)*100);
                                    ?>
                                            <p class="psl">剩余：<?php echo $countLB?>%<a href="<?php echo U("Lbxq/".$v4['id']);?>" class="qh"  target="_blank">领取</a></p>
                                        </div>
                                    </div>
                                </li>
                        <?php }?>                                        
                            </ul>
                        </div>
                    </div>
                </div>
            </div>   
        </div>


</block>