body {
    background-color: #f8f8f8;
}

#header {
    margin-bottom: 0;
}

#sidebar {
    float: left;
    width: 200px;
}

#sidebar .fa{
    margin-right: 10px;
}

.sidebar-nav {
    margin-left: -15px;
    margin-right: -15px;
}

#sidebar .nav-second-level li a {
    padding-left: 37px;
}

#sidebar .nav-third-level li a {
    padding-left: 52px;
}

#sidebar ul li a.active {
    background-color: #eee;
}

#side-menu {
}

#main-content {
    margin-left: 215px;
    padding-top: 15px;
    background-color: #fff;
}

table i.fa {
    margin-right: 3px;
}
/*jaafar*/
.fr{
    float: right;
}