<!-- <div id="floatTools" class="float0831">
  <div id="divFloatToolsView" class="floatR">
    <div class="tp"></div>
    <div class="cn">
      <ul>
        <li class="top">
          <h3 class="titZx">QQ咨询</h3>
        </li>
        <li><span class="icoZx">在线咨询</span> </li>
        <li><a class="icoTc" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1942329047&site=qq&menu=yes" rel="nofollow">返利咨询</a> </li>
        <li><a class="icoTc" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3201994506&site=qq&menu=yes" rel="nofollow">礼包咨询</a> </li>
        <li><a class="icoTc" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3067175948&site=qq&menu=yes" rel="nofollow">开服咨询</a> </li>
        <li><a class="icoTc" target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=61ea82e8b1d81b757b0e7d934a2554b7bcb58372c03b53fb210e0201ce83fc63" rel="nofollow">玩家QQ群1</a> </li>
        <li><a class="icoTc" target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=fca39f7651e47a00004f02c2b952e2ddf27cb077467c60ecbc7d71ddfb604c76" rel="nofollow">玩家QQ群2</a> </li>
        <li class="bot"><a class="icoTc" target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=7b97144dc7693412953f40946ead58ab44f2a7c7361477fdc8e3803b5ba1d11f" rel="nofollow">玩家QQ群3</a> </li>
      </ul>
    </div>
  </div>
</div> -->