<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="baidu-site-verification" content="0nCT1SGHHK" />
        <link rel="shortcut icon" href="/ico.ico" />
         <block name="keywords"><meta name="keywords" content="<?php echo WEB_KEYWORD;?>"></block>
          <block name="description"><meta name="description" content="<?php echo WEB_DESC;?>"></block> 
          <block name="title"><title><?php echo WEB_TITLE;?></title></block>
          
   <link rel="shortcut icon" href="/favicon.ico" />

  <meta name="renderer" content="webkit">
<!--   <meta name="360-site-verification" content="b2077b52765382ea7c25d7b3e371c8ed" /> -->
  <meta name="360-site-verification" content="7fd60915948c4dbc9462fa6639719b04" />
    </head>
<body >
    <include file="Public:style" />
    <!-- 头部 -->
    <block name="menu"><include file="Public:header" /></block>
   
    <block name="left"><include file="Public:left" /></block>
    <!-- 主要内容 -->
    <block name="main">
         
    </block>
    <!-- 底部 -->
    <block name="footer"><include file="Public:footer" /></block>
    <!-- javascript区域-->
    <block name="script"></block>
  
</body>
</html>