<extend name="Base/base" />
<block name="body">
    <style>
        #pro_nav a button{
            margin-left: 100px;
        }
        #pro_nav button a{

        }
    </style>
    <!-- main content -->
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa icon-home"></i></a></li>
        <li><a href="{:U('index')}">游戏列表</a></li>
        <li class="active">{$item['id']?'修改礼包':'添加礼包'}</li>
    </ol>
    <div class="headline">
        <h3>{$item['id']?'修改礼包':'添加礼包'}</h3>
    </div>
    <p></p>
    <hr>
        <form   action="{:U($url)}" method="post"  enctype="multipart/form-data">
            <input type="hidden" name="pro_id" value="{$item.id}">
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label for="pro_name">礼包标题</label>
                        <input placeholder="礼包标题" name="lbname" id="pro_name" value="{$item.lbname}" class="form-control" style="width:40%;">
                    </div>
                    <div class="form-group">
                        <label for="pro_name">厂商</label>
                        <select name="plat"  id="cate" class="form-control" style="width:40%;">
                        <?php foreach ($newslabel as $key => $value) {
                            $select='';
                           if($item['plat']==$value['id']){
                                $select="selected";
                           }
                        ?>
                            <option value="<?php echo $value['id']?>" <?php echo $select;?>><?php echo $value['name']?></option>
                        <?php }?>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <?php if(!empty($item['gamename'])){
                                $gameinfo=M('Gameinfo')->find($item['gamename']);
                                $gameName=$gameinfo['gamename'];
                                $gameid=$gameinfo['id'];
                            }?>
                        <label for="pro_name">关联游戏名称</label>
                        <input placeholder="游戏名称"  id="pro_game" value="<?php echo $gameName?>" class="form-control" style="width:40%;">
                        <label for="pro_name">你是不是在找:</label>
                        <label for="pro_name" id="alink"></label>
                        <input type="hidden" name="game" value="<?php echo $gameid;?>">
                    </div>
                    <div class="form-group">
                        <label for="shelf">是否推荐</label>
                        <input type="radio" name="istj" value="0" <?php echo $item['istj']==0?"":"checked";?>checked>否
                        <input type="radio" name="istj" value="1" <?php echo $item['istj']==1?"checked":"";?>>是
                    </div>
                    <div class="form-group">
                        <label for="shelf">系统</label>
                        <?php 
                            $os=explode(',',$item['os']);
                                $os_name='';
                                if($os[0]==1){
                                    $os_name1="checked";
                                }
                                if($os[1]==2){
                                    $os_name2="checked";
                                }
                           
                        ?>
                        <input type="checkbox" name="os[]" value="1" <?php echo $os_name1; ?> checked>安卓
                        <input type="checkbox" name="os[]" value="2" <?php echo $os_name2; ?> >IOS
                    </div>
                    <div class="form-group">
                        <label for="shelf">礼包号</label>
                        <input type="file" name="path">
                        <input type="hidden" name='oldpath' value="<?php echo $item['path']?>">
                    </div>
                    <div class="form-group">
                        <label for="note" class="required" >礼包内容:<span></span></label>
                        <textarea  id="note" class="form-control" name="content" type="text/plain" rows="2" placeholder="游戏简介">{$item.content}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="note" class="required" >领取详情:<span></span></label>
                        <textarea  id="note" class="form-control" name="lingqu" type="text/plain" rows="2" placeholder="游戏简介">{$item.lq}</textarea>
                    </div>
            <button type="submit" class="btn btn-info" >提交</button>
              <!-- <input type="submit" class="btn btn-info" value="提交"> -->

    </div>
     </div>
  </form>
</block>
<block name="script">

    <script type="text/javascript">
        // alert($);
        $("#pro_game").blur(function(){
            var name=$(this).val();
            if(name!=""){
                $.ajax({
                    type:"GET",
                    data:"name="+name,
                    url:"__MODULE__/News/getGame",
                    success:function(data){
                        $("input[name='game']").val("");
                        $("input[name='game']").val(data[0].id);
                        $("#alink").empty();
                        for(var i=0;i<data.length;i++){
                            var alink="<a href='javascript:selectid("+data[i].id+");' data-name="+data[i].gamename+" id='selectida"+data[i].id+"' >"+data[i].gamename+"</a>&nbsp;";
                            $("#alink").append(alink);
                        }
                    }
                });
            }
        });


        function selectid(id){
            var name=$("#selectida"+id).data('name');
            $("input[name='game']").val(id);
            $("#pro_game").val(name);
        }   
    </script>


     <link href="__PUBLIC__/Static/plugins/UE/themes/default/css/ueditor.css" rel="stylesheet">
      <script src="__PUBLIC__/Static/plugins/UE/ueditor.config.js"></script>
      <script src="__PUBLIC__/Static/plugins/UE/ueditor.all.js"></script>
     <script>
         var um = UE.getEditor("editor", {
             initialFrameWidth: 'auto',
             initialFrameHeight: 400,
             autoHeightEnabled: true,
             autoFloatEnabled: false,
         })
     </script>
</block>