<extend name="Base/base"/>
<block name="body">
    <ul class="breadcrumb">
        <li><a href="/"><i class="fa icon-home"></i></a></li>
        <li>{$channelName}</li>
    </ul>
    <div class="headline">
        <h2>{$channelName}</h2>
    </div>
    <p class="pull-left">
        <ul class="nav nav-tabs">
            <li class="<?php if($_GET['type']==4){echo 'active';}?>"><a href="{:U('Libao/Add')}">+添加礼包</a></li>
<!--             <li class="<?php if($_GET['type']==1){echo 'active';}?>" ><a href="{:U('Order/index',array('type'=>1))}">已审核</a></li>
            <li class="<?php if($_GET['type']==2){echo 'active';}?>"  ><a href="{:U('Order/index',array('type'=>2))}">未审核</a></li> -->
           <!--  <li class="<?php if($_GET['type']==3){echo 'active';}?>" ><a href="{:U('Order/index',array('type'=>3))}">下架</a></li> -->
        </ul>
    </p>
    <form action="{:U('Index')}" method="post" class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <label for="order">礼包名称:</label>
            <input type="text" name="lbname" id="order">
        </div>
        <button type="submit" class="btn btn-primary" id="search">搜索</button>
    </form>
    <table class="table table-bordered table-striped" style="text-align:center;">
        <tr >
            <th style="text-align:center;">选择</th>
            <th style="text-align:center;">平台</th>
            <th style="text-align:center;">礼包名称</th>
            <th style="text-align:center;">系统</th>
            <th style="text-align:center;">剩余</th>
            <th style="text-align:center;">添加时间</th>
            <th style="text-align:center;">推荐</th>
            <th style="text-align:center;">审核</th>
            <th style="text-align:center">操作</th>
        </tr>

            <?php foreach ($items as $key => $value) {
               
            ?>
                <tr>
                    <td><input type="checkbox" value="<?php echo $value['id']?>"></td>
                    
                    <td>
                        <?php 
                            // dump($value['id']);die;
                            foreach ($Platform as $kp => $kv) {
                               if($value['plat']==$kv['id']){
                                    echo $kv['name'];
                               }
                            }
                        ?>
                    </td>
                    <td><?php echo $value['lbname'];?></td>
                    <td><?php   
                                $os=explode(',',$value['os']);
                                $os_name='';
                                if($os[0]==1){
                                    $os_name.="安卓";
                                }
                                if($os[1]==2){
                                    $os_name.="/IOS";
                                }
                                echo $os_name;


                        ?></td>
                    <td>
                        <?php 
                            $file=$value['path'];
                            $count=count(file($file));
                            echo $count;
                        ?>
                    </td>
                    <td><?php echo date('Y-m-d H:i:s',$value['create_time']);?></td>
                    
                    <td><?php 
                            if($value['istj']==1){
                                echo "是";
                            }else{
                                echo "否";
                            }
                    ?></td>
                    <td><?php 
                            if($value['status']==1){
                                echo "是";
                            }else{
                                echo "否";
                            }
                    ?></td>
                   
                    <td>
                        <a href="__MODULE__/Libao/Update/id/<?php echo $value['id']?>">编辑</a>
                        <a href="__MODULE__/Libao/Delete/id/<?php echo $value['id']?>">删除</a>
                    </td>
                </tr>
          <?php }?>


    </table>
    <center>
    {$pagination}
    </center>
    <section>
      <button onclick="checked(1)" class="link_btn">全选</button>
      <button onclick="checked(3)" class="link_btn">反选</button>
      <button onclick="checked(2)" class="link_btn">取消</button>
      <button onclick="chedel()" class="link_btn">批量删除</button>
      <button onclick="tuijian()" class="link_btn">推荐</button>
      <button onclick="qxtuijian()" class="link_btn">取消推荐</button>
      <button onclick="shenhe()" class="link_btn">审核</button>
      <button onclick="xiajia()" class="link_btn">下架</button>
      <button onclick="newtime()" class="link_btn">设为最新</button>
   </section>
</block>
<block name="script">
    <script>

     function chedel(){
        //获取选中的文本
        var box=$("input:checked");
        id=new Array();
        if(confirm("确定要删除选中的吗？")){
             box.each(function(i){
             id[i]=$(this).val();

        });
        window.location.href="__MODULE__/Libao/Delete/id/"+id;
      }
   }
      function tuijian(){
        //获取选中的文本
        var box=$("input:checked");
        id=new Array();
      
        box.each(function(i){
             id[i]=$(this).val();

        });
        window.location.href="__MODULE__/Libao/Tuijian/id/"+id;
      

     }

      function shenhe(){
        //获取选中的文本
        var box=$("input:checked");
        id=new Array();
      
        box.each(function(i){
             id[i]=$(this).val();

        });
        window.location.href="__MODULE__/Libao/Shenhe/id/"+id;
      

     }

     function xiajia(){
        //获取选中的文本
        var box=$("input:checked");
        id=new Array();
      
        box.each(function(i){
             id[i]=$(this).val();

        });
        window.location.href="__MODULE__/Libao/Xiajia/id/"+id;
      

     }

      function newtime(){
        //获取选中的文本
        var box=$("input:checked");
        id=new Array();
      
        box.each(function(i){
             id[i]=$(this).val();

        });
        window.location.href="__MODULE__/Libao/Newtime/id/"+id;
      

     }


       function qxtuijian(){
         //获取选中的文本
        var box=$("input:checked");
        id=new Array();
      
        box.each(function(i){
             id[i]=$(this).val();

        });
        window.location.href="__MODULE__/Libao/QXtuijian/id/"+id;   
       }
     function checked(a){
                    //获取input的checkbox
                    var input=document.getElementsByTagName("input");
                       for(i=0;i<input.length;i++){
                        //判断inputid的类型是否跟checkbox
                        //多选按钮一致，增强代码的严密性
                        if(input[i].type=="checkbox"){
                            //使用switch语句获取点击穿过来相应的值，使其产生相对的变化
                        switch(a){
                            case 1:
                                input[i].checked=!input[i].checked;
                            break;
                            case 2:
                                input[i].checked=false;
                            break;
                            case 3:
                               input[i].checked=!input[i].checked;
                            break;
                            }
                        }
                      }
                    }
         // function opendiv(id){
         //     window.open ('__MODULE__/Order/fahuo/id/'+id, 'newwindow', 'width=750,height=565,top=80,left=80,top=200,left=400, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no') 
         // }
    // 判断锁定
        // $('.ajax-partner').click(function(){
        //     var that = this;
        //     var id = $(this).parent().siblings('.id').text();
        //     var status = $(this).attr('status');
        //     if ($(this).hasClass('confirm')) {
        //         if (!confirm('Are you sure you want to do this?')) {
        //             return false;
        //         }
        //     }
        //     $.ajax({
        //         url: "{:U('updatePartner')}",
        //         type: 'post',
        //         data: {
        //             'id': id,
        //             'status': status
        //         },
        //         success: function(data) {
        //             $(that).attr('disabled', 'disabled')
        //         }
        //     });
        // });
        // $('.ajax-status').click(function(){
        //     var that = this;
        //     var id = $(this).parent().siblings('.id').text();
        //     var status = $(this).attr('status');
        //     if ($(this).hasClass('confirm')) {
        //         if (!confirm('Are you sure you want to do this?')) {
        //             return false;
        //         }
        //     }
        //     $.ajax({
        //         url: "{:U('updateStatus')}",
        //         type: 'post',
        //         data: {
        //             'id': id,
        //             'status': status
        //         },
        //         success: function(data) {
        //             $(that).attr('disabled', 'disabled')
        //         }
        //     });
        // });
    </script>
</block>
