<extend name="Base/base" />
<block name="body">
    <style>
        #pro_nav a button{
            margin-left: 100px;
        }
        #pro_nav button a{

        }
    </style>
    <!-- main content -->
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa icon-home"></i></a></li>
        <li><a href="{:U('index')}">游戏列表</a></li>
        <li class="active">{$item['id']?'修改游戏':'添加游戏'}</li>
    </ol>
    <div class="headline">
        <h3>{$item['id']?'修改游戏':'添加游戏'}</h3>
    </div>
    <!--<nav class="nav nav-tabs">-->
        <!--<li role="presentation" class="<if condition='$type eq 1'>active</if>"><a href="{:U('BaseInfo',array('id'=>$item['pro_id']))}">基本信息</a></li>-->
        <!--<li role="presentation" class="<if condition='$type eq 2'>active</if>"><a href="{:U('Standard',array('id'=>$item['pro_id']))}">规格参数</a></li>-->
        <!--&lt;!&ndash;<li role="presentation" class="<if condition='$type eq 3'>active</if>"><a href="{:U('Extinfo',array('id'=>$item['pro_id']))}">其他说明</a></li>&ndash;&gt;-->
        <!--<li role="presentation" class="<if condition='$type eq 4'>active</if>"><a href="{:U('GroupBuy',array('id'=>$item['pro_id']))}">团购设置</a></li>-->
    <!--</nav>-->
   
    <p></p>
    <hr>
        <form  class="" method="post" role="form" action="{:U('Game/GameAddUp')}" id="product_form"   enctype="multipart/form-data">
            <input type="hidden" name="pro_id" value="{$item.pro_id}">
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label for="pro_name">游戏名称</label>
                        <input placeholder="游戏名称" name="gamename" id="pro_name" value="{$item.game_name}" class="form-control" style="width:40%;">
                    </div>
                    <div class="form-group">
                        <label for="pro_name">SEO字母小写</label>
                        <input placeholder="例如:梦幻神武,填写mhsw即可" name="seourl" id="pro_name" value="{$item.game_name}" class="form-control" style="width:40%;">
                    </div>
                    <div class="form-group">
                        <label for="pro_name">平台</label>
                        <select name="platform"  id="cate" class="form-control" style="width:40%;">
                            <option value="1">sy115</option>
                            <option value="2">手游迷</option>
                            <option value="3">C游</option>
                            <option value="4">B游</option>
                            <option value="5">麦游</option>
                            <option value="7">百年</option>
                            <option value="8">乱码</option>
                            <option value="9">穷游</option>
                            <option value="10">乐海海</option>
                            <option value="11">六成</option>
                            <option value="12">米娱</option>
                            <option value="13">七忍</option>

                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="pro_name">游戏LOGO</label>
                        <input placeholder="商品描述" name="logo" type="file" class="form-control" style="width:40%;">
                        <input type="hidden" name="oldfile" value="{$item.logo}">
                    </div>
                 <!--  <div class="form-group">
                        <label for="pro_name">详细页形象图(1920x550):</label>
                        <input placeholder="商品描述" name="bjpic" type="file" class="form-control" style="width:40%;">
                        <input type="hidden" name="oldbjpic" value="{$item.bjpic}">
                    </div> -->
                    <div class="form-group">
                        <label for="weight">下载次数</label>
                        <input type="text" id="weight" name="downloadcount" placeholder="" class="form-control" value="{$item.downloadcount}" style="width:40%;">
                    </div>
                    <div class="form-group">
                        <label for="place">游戏大小</label>
                        <input type="text" id="place" name="gamesize" placeholder="游戏大小" class="form-control" value="{$item.gamesize}" style="width:40%;">
                    </div>
                    <!-- <div class="form-group">
                        <label for="shelf">更新时间</label>
                        <input type="date" id="shelf" name="gametime" placeholder="更新时间" class="form-control" value="{$item.gametime}" required style="width:20%;">
                    </div> -->
                    <div class="form-group">
                        <label for="editor" class="required">游戏标签:</label>
                        <input type="checkbox" name="label[]" value="1">即时
                        <input type="checkbox" name="label[]" value="2">卡牌
                        <input type="checkbox" name="label[]" value="3">动作
                        <input type="checkbox" name="label[]" value="4">策略
                        <input type="checkbox" name="label[]" value="5">回合
                        <input type="checkbox" name="label[]" value="6">3D
                        <input type="checkbox" name="label[]" value="7">传奇
                        <input type="checkbox" name="label[]" value="8">挂机
                        <input type="checkbox" name="label[]" value="9">Q版
                        <input type="checkbox" name="label[]" value="10">魔兽
                        <input type="checkbox" name="label[]" value="11">三国
                        <input type="checkbox" name="label[]" value="12">武侠
                        <input type="checkbox" name="label[]" value="13">动漫
                        <input type="checkbox" name="label[]" value="14">RPG
                        <input type="checkbox" name="label[]" value="15">塔防
                        <input type="checkbox" name="label[]" value="16">仙侠
                        <input type="checkbox" name="label[]" value="17">格斗
                        <input type="checkbox" name="label[]" value="18">角色扮演
                        <input type="checkbox" name="label[]" value="19">满VIP
                    </div>
                    <div class="form-group">
                        <label for="shelf">是否审核</label>
                        <input type="checkbox" name="state[]" value="1" checked>是
                        <input type="checkbox" name="state[]" value="2">否
                    </div>
                   
                    <div class="form-group">
                        <label for="note" class="required" >赠送VIP简介:<span></span></label>
                        <input type="text" id="place" name="duction" placeholder="请用英文逗号隔开,否则前台失效,不要过长,2个逗号内" class="form-control" value="{$item.duction}" style="width:40%;">
                      
                    </div>
                    <div class="form-group">
                         <label for="editor">游戏介绍</label>
                    <div class="form-group">
                          <textarea  id="note" class="form-control" name="details" type="text/plain" rows="5" placeholder="游戏介绍"><?php echo trim($item['details']);?></textarea>
                            </div>
                    </div>
                    <div class="form-group">
                         <label for="editor">游戏福利</label>
                    <div class="form-group">
                          <textarea  id="editor3" name="gamets" type="text/plain" rows="5" placeholder="游戏特色"><?php echo trim($item['gamets']);?></textarea>
                            </div>
                    </div>
                    <div class="form-group">
                         <label for="editor">充值返利</label>
                    <div class="form-group">
                          <textarea  id="editor2" name="gamefl" type="text/plain" rows="5" placeholder="充值返利"><?php echo trim($item['gamefl']);?></textarea>
                            </div>
                    </div>
                    <div class="form-group">
                         <label for="editor">VIP价格表</label>
                    <div class="form-group">
                          <textarea  id="editor1"  name="gamevip" type="text/plain" rows="5" placeholder="VIP价格表"><?php echo trim($item['gamevip']);?></textarea>
                            </div>
                    </div>
                    <div class="form-group">
                        <label for="shelf">安卓</label>
                        <input type="text" id="shelf" name="androiddownload" placeholder="下载地址" class="form-control" value="{$item.androiddownload}" required style="width:40%;">
                        <input type="text" id="shelf" name="androidname" placeholder="下载名称" class="form-control" value="{$item.androidname}" required style="width:40%;">
                    </div>
                    <div class="form-group">
                        <label for="shelf">IOS</label>
                        <input type="text" id="shelf" name="iosdownload" placeholder="下载地址(没有可以不填写)" class="form-control" value="{$item.iosdownload}" required style="width:40%;">
                        <input type="text" id="shelf" name="iosname" placeholder="下载名称(没有可以不填写)" class="form-control" value="{$item.iosname}" required style="width:40%;">
                    </div>
                </div>

            </div>
            
            <input type="hidden" name="cover" value="{$item.cover}" id="cover">
            <input type="hidden" name="bg_pic" value="{$item.bg_pic}" id="bg_pic">
            <div class="clearfix"></div>
            <div style="width:100%;height:40px;text-align:center;background-color:#FFF68A;border:1px solid #FFEFE4;">
                <a id="clickaa1" href="javascript:selectclick(1);" style="font-size:20px;">+更多选项</a>
                <a id="clickaa2" href="javascript:selectclick(2);" style="font-size:20px;display:none;" >-收起选项</a>
            </div>
    <div id="displayxuanxiang" style="display:none;">
       <hr>
        <div class="form-group">
            <label for="weight">评分</label>
            <input type="text" id="weight" name="score" placeholder="可选,可以不用填写" class="form-control" value="{$item.score}" style="width:40%;">
        </div>
        <div class="form-group">
            <label for="weight">总点击</label>
            <input type="text" id="weight" name="alwaysclick" placeholder="可选,可以不用填写" class="form-control" value="{$item.alwaysclick}" style="width:40%;">
        </div>
        <div class="form-group">
            <label for="weight">周点击</label>
            <input type="text" id="weight" name="weekclick" placeholder="可选,可以不用填写" class="form-control" value="{$item.weekclick}" style="width:40%;">
        </div>
        <div class="form-group">
            <label for="weight">日点击</label>
            <input type="text" id="weight" name="dayclick" placeholder="可选,可以不用填写" class="form-control" value="{$item.dayclick}" style="width:40%;">
        </div>
        <div class="form-group">
            <label for="pro_name">首页广告图(586*300,需要推荐才填,不需要推荐不用填)</label>
            <input placeholder="首页广告图" name="adpictureurl" type="file" class="form-control" style="width:40%;">
            <input type="hidden" name="adpictureurloldfile" value="{$item.adpictureurl}">
        </div>
        <div class="form-group">
            <label for="pro_name">wap/APP广告图:(500*250,需要推荐才填,不需要推荐不用填)</label>
            <input placeholder="首页广告图" name="wapadpic" type="file" class="form-control" style="width:40%;">
            <input type="hidden" name="wapadpicoldfile" value="{$item.wapadpic}">
        </div>
        <div class="form-group">
            <label for="weight">SEO标题</label>
            <input type="text" id="weight" name="seotitle" placeholder="可选,可以不用填写" class="form-control" value="{$item.seotitle}" >
        </div>
        <div class="form-group">
            <label for="weight">SEO关键字</label>
            <input type="text" id="weight" name="seokeyword" placeholder="可选,可以不用填写" class="form-control" value="{$item.seokeyword}" >
        </div>
        <div class="form-group">
            <label for="weight">SEO描述</label>
            <input type="text" id="weight" name="seodescription" placeholder="可选,可以不用填写" class="form-control" value="{$item.seokeyword}" >
        </div>
    </div>
        <div id="imgjietu"></div>
        <hr>
         <form role="form">
            <div class="form-group">
                <label for="editor" class="required" style="font-size:20px;">上传游戏截图(建议5张,320*480)</label>
            </div>
            <input id="cover_upload" type="file" multiple="true" class="uploadify" placeholder="多图上传">
            <div id="sizeimg" style="width:1000px;height:500px;display:none;">
            <empty name="item.cover">
               <!--  <img id="preview_cover" name="gamepic[]" class="gamepic"  /> -->
            <else />
                <img src="__ROOT__{$item.cover}"/>
            </empty>
            </div>
        </form>

       
        <div class="form-group">
            <button type="button" class="btn btn-info" id="add_product">提交</button>
        </div>
    </div>
  </form>
</block>
<block name="script">
    <script src="__PUBLIC__/Static/plugins/uploadify/jquery.uploadify.min.js"></script>
    <script src="__PUBLIC__/Static/plugins/uploadify/uploadify.css"></script>

    <script type="text/javascript">

        function selectclick(sta){
            if(sta==1){
                $("#clickaa1").css('display','none');
                $("#displayxuanxiang").show(1000);
                $("#clickaa2").css('display','block');
            }else{
                $("#clickaa2").css('display','none');
                $("#displayxuanxiang").hide(500);
                $("#clickaa1").css('display','block');
            }
        }
        $(document).on('click',"#add_stock",function(){
            var clone = $(".clone").last().clone();
            $(this).remove();
            $(".clone").last().after(clone);
        });
        $(function(){
            $("#add_product").click(function(){
                $("#product_form").submit();
            });

            $('#cover_upload').uploadify({
                'swf'      : '__PUBLIC__/Static/plugins/uploadify/uploadify.swf',
                // 'uploader' : "{:U('product/uploadImg',array('session_id'=>session_id()))}", 
                'uploader' :'{:U("product/uploadImg",array("session_id"=>session_id()))}',
                'onUploadSuccess': funComplete,          //完成上传任务
                'OnError': funError                             //上传发生错误时
            });
            //图片上传发生的事件
             function funComplete(fileObj, response, data) {
                // alert('上传事件');
                 var res = JSON.parse(response);
                if (response == 0) {
                    alert('图片' + fileObj.name + '操作失败');
                    return false;
                }else{
                      deleteimg="<form action='__MODULE__/Game/GameDeletePic' method='get'><div style='float:left;'>";
                      deleteimg+="<img style='border:1px solid;' width='180' height='360' src="+res.img_path+"  /><br/><input type='submit' value='删除' /></div></form>";
                     
                      deleteimg1="<input type='hidden' name='imgall[]' value='"+res.img_path+"'>";
                     $('#sizeimg').css('overflowX','scroll');
                     $('#sizeimg').css('display','block');
                     $('#sizeimg').append(deleteimg);
                     $("#imgjietu").append(deleteimg1);
                     return true;
                }
             }
            $('#pic_upload').uploadify({
                'swf'      : '__PUBLIC__/Static/plugins/uploadify/uploadify.swf',
                // 'uploader' : "{:U('product/uploadPic',array('session_id'=>session_id()))}",
                'uploader' :'{:U("product/uploadPic",array('session_id'=>session_id()))}',
                
                'onUploadSuccess': funCompletePic,          //完成上传任务
                'OnError': funError                             //上传发生错误时
            });
             // //图片上传发生的事件
             function funCompletePic(fileObj, response, data) {
                // alert('上传事件');
                 var res = JSON.parse(response);
                if (response == 0) {
                    alert('图片' + fileObj.name + '操作失败');
                    return false;
                }else{
                     $('#preview_pic').attr('src',res.img_path);
                     $("#bg_pic").val(res.db_path);
                     return true;
                }
             }
             //上传发生错误时。
             function funError(event, ID, fileObj, errorObj) {
                alert(errorObj.info);
                return;
             }
        });
    </script>


     <link href="__PUBLIC__/Static/plugins/UE/themes/default/css/ueditor.css" rel="stylesheet">
      <script src="__PUBLIC__/Static/plugins/UE/ueditor.config.js"></script>
      <script src="__PUBLIC__/Static/plugins/UE/ueditor.all.js"></script>
     <script>
         var um = UE.getEditor("editor1", {
             initialFrameWidth: 'auto',
             initialFrameHeight: 100,
             autoHeightEnabled: true,
             autoFloatEnabled: false,
         })
         var um = UE.getEditor("editor2", {
             initialFrameWidth: 'auto',
             initialFrameHeight: 100,
             autoHeightEnabled: true,
             autoFloatEnabled: false,
         })
         var um = UE.getEditor("editor3", {
             initialFrameWidth: 'auto',
             initialFrameHeight: 100,
             autoHeightEnabled: true,
             autoFloatEnabled: false,
         })
     </script>
</block>