<extend name="Base/base"/>
<block name="body">
    <ul class="breadcrumb">
        <li><a href="/"><i class="fa icon-home"></i></a></li>
        <li>{$channelName}</li>
    </ul>
    <div class="headline">
        <h2>{$channelName}</h2>
    </div>
    <p class="pull-left">
        <ul class="nav nav-tabs">
            <li class="<?php if($_GET['type']==4){echo 'active';}?>"><a href="{:U('Game/Add')}">+发布新游</a></li>
            
<!--             <li class="<?php if($_GET['type']==1){echo 'active';}?>" ><a href="{:U('Order/index',array('type'=>1))}">已审核</a></li>
            <li class="<?php if($_GET['type']==2){echo 'active';}?>"  ><a href="{:U('Order/index',array('type'=>2))}">未审核</a></li> -->
           <!--  <li class="<?php if($_GET['type']==3){echo 'active';}?>" ><a href="{:U('Order/index',array('type'=>3))}">下架</a></li> -->
        </ul>
    </p>
    <form action="{:U('Game/Index')}" method="post" class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <label for="order">游戏名称:</label>
            <input type="text" name="gamename" id="order">
        </div>
        <div class="form-group">
            <label for="order">平台:</label>
            <select name="platform"  id="cate" class="form-control" style="width:70%;">
            <option value="">--请选择--</option>
            <?php 
                foreach($Platform as $keyPlatform=>$vp1){
            ?>
                      <option value="<?php echo $vp1['id']?>"><?php echo $vp1['name']?></option>

             <?php   } ?>
            </select>
        </div>
         <div class="form-group">
            <label for="order">状态:</label>
            <select name="status" id="cate" class="form-control">
                <option value="">--请选择--</option>
                <option value="1">下架</option>
                <option value="2">广告图</option>
                <option value="3">wap广告图</option>
                <option value="4">总点击</option>
                <option value="5">推荐</option>
            </select>
        </div>
         <div class="form-group">
            <label for="order">游戏类型:</label>
            <select name="label" id="cate" class="form-control">
                <option value="">--请选择--</option>
               <?php 
                foreach($gametype as $kt=>$vt1){
            ?>
                      <option value="<?php echo $vt1['labelid']?>"><?php echo $vt1['labelname']?></option>

             <?php   } ?>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" id="search">搜索</button>
    </form>
    <table class="table table-bordered table-striped" style="text-align:center;">
        <tr>
            <th style="text-align:center;">一共{$count}/款游戏</th>
        </tr>
        <tr >
            <th style="text-align:center;">序号</th>
            <th style="text-align:center;">选择</th>
            <th style="text-align:center;">游戏名称</th>
            <th style="text-align:center;">平台</th>
            <th style="text-align:center;">广告</th>
            <th style="text-align:center;">入库时间</th>
            <th style="text-align:center;">总点击</th>
            <th style="text-align:center;">下载次数</th>
            <th style="text-align:center;">推荐</th>
            <th style="text-align:center;">审核</th>
            <th style="text-align:center">操作</th>
        </tr>
            
            <?php 
                $cc=1;
                foreach ($items as $key => $value) {
               
            ?>
                
                <tr>

                    <td><?php echo $cc;?></td>
                    <td><input type="checkbox" value="<?php echo $value['id']?>"></td>
                    <td><?php echo $value['gamename'];?></td>
                    <td>
                        <?php 
                            foreach ($Platform as $kp => $kv) {
                               if($value['platform']==$kv['id']){
                                    echo $kv['name'];
                               }
                            }
                        ?>
                    </td>
                    <td><?php if(empty($value['adpictureurl']) OR empty($value['wapadpic'])){
                            echo "无";
                        }else{
                            echo "<img src='__PUBLIC__/Upload/Product/".$value['adpictureurl']."' width='80' height='20'>";
                            }?></td>
                    
                    <td><?php echo date('Y-m-d',$value['gametime']);?></td>
                    <td><?php echo $value['alwaysclick']?></td>
                    <td><?php echo $value['downloadcount']?></td>
                    <td><?php if($value['istj']==1){
                                    echo "<a href='__MODULE__/Game/Updateistj/type/1/id/".$value['id']."' >是</a>";
                        }else{
                                    echo "<a href='__MODULE__/Game/Updateistj/type/2/id/".$value['id']."' >否</a>";
                            }?></td>
                    <td>
                        <?php if($value['state']==1){
                                    echo "是";
                        }else{
                                    echo "否";
                            }?>
                    </td>
                    <td>
                        <a href="__MODULE__/Game/SaveGame/id/<?php echo $value['id']?>">编辑</a>
                        <a href="__MODULE__/Game/DeleteGame/id/<?php echo $value['id']?>">删除</a>
                    </td>
                </tr>
          <?php $cc++;}?>


    </table>
    <center>
    {$pagination}
    </center>
    <section>
      <button onclick="checked(1)" class="link_btn">全选</button>
      <button onclick="checked(3)" class="link_btn">反选</button>
      <button onclick="checked(2)" class="link_btn">取消</button>
      <button onclick="chedel()" class="link_btn">批量删除</button>
      <button onclick="tuijian()" class="link_btn">推荐</button>
      <button onclick="qxtuijian()" class="link_btn">取消推荐</button>
      <button onclick="shenhe()" class="link_btn">审核</button>
      <button onclick="xiajia()" class="link_btn">下架</button>
      <button onclick="newtime()" class="link_btn">设为最新</button>
   </section>
</block>
<block name="script">
    <script>

     function chedel(){
        //获取选中的文本
        var box=$("input:checked");
        id=new Array();
        if(confirm("确定要删除选中的吗？")){
             box.each(function(i){
             id[i]=$(this).val();

        });
        window.location.href="__MODULE__/Game/DeleteGame/id/"+id;
      }
   }
      function tuijian(){
        //获取选中的文本
        var box=$("input:checked");
        id=new Array();
      
        box.each(function(i){
             id[i]=$(this).val();

        });
        window.location.href="__MODULE__/Game/Tuijian/id/"+id;
      

     }

      function shenhe(){
        //获取选中的文本
        var box=$("input:checked");
        id=new Array();
      
        box.each(function(i){
             id[i]=$(this).val();

        });
        window.location.href="__MODULE__/Game/Shenhe/id/"+id;
      

     }

     function xiajia(){
        //获取选中的文本
        var box=$("input:checked");
        id=new Array();
      
        box.each(function(i){
             id[i]=$(this).val();

        });
        window.location.href="__MODULE__/Game/Xiajia/id/"+id;
      

     }

      function newtime(){
        //获取选中的文本
        var box=$("input:checked");
        id=new Array();
      
        box.each(function(i){
             id[i]=$(this).val();

        });
        window.location.href="__MODULE__/Game/Newtime/id/"+id;
      

     }


       function qxtuijian(){
         //获取选中的文本
        var box=$("input:checked");
        id=new Array();
      
        box.each(function(i){
             id[i]=$(this).val();

        });
        window.location.href="__MODULE__/Game/QXtuijian/id/"+id;   
       }
     function checked(a){
                    //获取input的checkbox
                    var input=document.getElementsByTagName("input");
                       for(i=0;i<input.length;i++){
                        //判断inputid的类型是否跟checkbox
                        //多选按钮一致，增强代码的严密性
                        if(input[i].type=="checkbox"){
                            //使用switch语句获取点击穿过来相应的值，使其产生相对的变化
                        switch(a){
                            case 1:
                                input[i].checked=!input[i].checked;
                            break;
                            case 2:
                                input[i].checked=false;
                            break;
                            case 3:
                               input[i].checked=!input[i].checked;
                            break;
                            }
                        }
                      }
                    }
         // function opendiv(id){
         //     window.open ('__MODULE__/Order/fahuo/id/'+id, 'newwindow', 'width=750,height=565,top=80,left=80,top=200,left=400, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no') 
         // }
    // 判断锁定
        // $('.ajax-partner').click(function(){
        //     var that = this;
        //     var id = $(this).parent().siblings('.id').text();
        //     var status = $(this).attr('status');
        //     if ($(this).hasClass('confirm')) {
        //         if (!confirm('Are you sure you want to do this?')) {
        //             return false;
        //         }
        //     }
        //     $.ajax({
        //         url: "{:U('updatePartner')}",
        //         type: 'post',
        //         data: {
        //             'id': id,
        //             'status': status
        //         },
        //         success: function(data) {
        //             $(that).attr('disabled', 'disabled')
        //         }
        //     });
        // });
        // $('.ajax-status').click(function(){
        //     var that = this;
        //     var id = $(this).parent().siblings('.id').text();
        //     var status = $(this).attr('status');
        //     if ($(this).hasClass('confirm')) {
        //         if (!confirm('Are you sure you want to do this?')) {
        //             return false;
        //         }
        //     }
        //     $.ajax({
        //         url: "{:U('updateStatus')}",
        //         type: 'post',
        //         data: {
        //             'id': id,
        //             'status': status
        //         },
        //         success: function(data) {
        //             $(that).attr('disabled', 'disabled')
        //         }
        //     });
        // });
    </script>
</block>
