<extend name="Base/base" />
<block name="body">
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa icon-home"></i></a></li>
        <li><a href="{:U('index')}">公司管理</a></li>
        <li class="active">详情</li>
    </ol>
    <h3 class="page-header">公司详情</h3>
  
    <div id="info" class="row">
        <div class="col-xs-12 headline">
            <h3>Basic Info</h3>
        </div>
        <div class="col-lg-3 col-md-4">
            <img class="img-responsive" src="__IMG__/{$item['clogo']}">
        </div>
        <div class="col-lg-9 col-md-8">
            <table class="table table-responsive">
    
                <tr>
                    <td>公司ID:</td>
                    <td>{$item.id}</td>
                </tr>

                <tr>
                    <td>公司全称:</td>
                    <td class="h4">{$item.cname}</td>
                </tr>
                <tr>
                    <td>公司状态:</td>
                    <td><if condition="$item.cstatus eq 0">激活<else/>被锁定</if></td>
                </tr>
                <tr>
                    <td>联系方式:</td>
                    <td>{$item.cphone}</td>
                </tr>
                  <tr>
                    <td>公司主页:</td>
                    <td>{$item.site}</td>
                </tr>
                <tr>
                    <td>公司类型:</td>
                    <td>{$item.ctype}</td>
                </tr>
                <tr>
                    <td>公司规模:</td>
                    <td>{$item.csize}</td>
                </tr>
                <tr>
                    <td>注册时间:</td>
                    <td>{$item.ctime}</td>
                </tr>
              
                <tr>
                    <td>公司地址:</td>
                    <td>{$item.cadd}</td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    <div id="summary" class="headline">
        <h3>公司描述</h3><br>
        {$item.cbrief}
    </div>
</block>

<block name="script">
    <script>
        var uploader = WebUploader.create({
            swf: "__STATIC__/plugins/webuploader/Uploader.swf",
            server: "",
            pick: "#picker",
            resize: false
        })
        $('.ajax-status').click(function(){
            var that = this;
            var id = $(this).parent().siblings('.id').text();
            var status = $(this).attr('status');
            if ($(this).hasClass('confirm')) {
                if (!confirm('Are you sure you want to do this?')) {
                    return false;
                }
            }
            $.ajax({
                url: "{:U('position/updateStatus')}",
                type: 'post',
                data: {
                    'id': id,
                    'status': status
                },
                success: function(data) {
                    if (status == -1) {
                        $(that).parents('tr').remove();
                    } else {
                        $(that).attr('disabled', 'disabled');
                    }
                }
            });
        });
    </script>
</block>