<extend name="Base/base"/>
<block name="body">
    <ul class="breadcrumb">
        <li><a href="/"><i class="fa icon-home"></i></a></li>
        <li>百度URL自动提交列表</li>
    </ul>
    <div class="headline">
        <h2>百度URL</h2>
    </div>

    <table class="table table-bordered table-striped" style="text-align:center;">
        <tr >
            <th style="text-align:center;">ID</th>

            <th style="text-align:center;">提交日期</th>
            <th style="text-align:center;">提交总数</th>
          
            <th style="text-align:center;">提交类型</th>
            

        </tr>

            <?php foreach ($data as $key => $value) {
               
            ?>
                <tr>
                    <td><?php echo $value['id'];?></td>
                    <td><?php echo date("Y-m-d H:i:s",$value['create_time']);?></td>
                    <td><?php echo $value['count'];?></td>
                    <td><?php echo $value['type'];?></td>
                    
                </tr>
          <?php }?>


    </table>
    <center>
    {$show}
    </center>

</block>
<block name="script">
    <script>

     
    </script>
</block>
