<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>{$title}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="icon" href="__IMG__/title.png">
    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="__PUBLIC__/Home/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__JS__/font-awesome/css/font-awesome.min.css">
    <!-- CSS Theme -->
    <!-- <link rel="stylesheet" href="__STATIC__/css/style.css"> -->
    <script src="__JS__/jquery-1.12.3.min.js"></script>
    <script src="__JS__/metisMenu/metisMenu.min.js"></script>
    <link rel="stylesheet" href="__JS__/metisMenu/metisMenu.min.css"/>
    <!-- <link rel="stylesheet" href="__STATIC__/plugins/webuploader/webuploader.css"/> -->
    <!-- CSS custom -->
    <link rel="stylesheet" href="__CSS__/layout.css">
    <link rel="stylesheet" href="__CSS__/bootstrap-reset.css">
    <link rel="stylesheet" href="__CSS__/custom.css">
    <!-- /底部 -->
    <!-- [if lt IE 9]> -->
    
    <!--[endif]-->
    <script src="__PUBLIC__/Home/bootstrap/js/bootstrap.min.js"></script>

    <!-- JS custom -->
     <script src="__JS__/common.js"></script>
     <script src="__JS__/ajax.js"></script>
</head>
<body>
    <include file="Base/header"/>
    <div id="page-container" class="container-fluid">
        <div id="sidebar">
            <include file="Base/sidebar"/>
        </div>
        <div class="row" id="main-content">
            <div class="col-sm-12">
                <notempty name="alerts">
                    <volist name="alerts" id="alert">
                        <if condition="$alert.c eq 0">
                            <div class="top-alert" class="alert alert-success alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                </button>
                                {$alert.msg}
                            </div>
                            <else/>
                            <div class="top-alert" class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                </button>
                                {$alert.msg}
                            </div>
                        </if>
                    </volist>
                </notempty>
                <div id="content">
                    <block name="body"></block>
                </div>
            </div>
        </div>
    </div>
    <include file="Base/footer"/>
    <script type="text/javascript">
        $(function(){
            $('.fa').click(function(){
                $(this).find('.fr').removeClass('icon-angle-right').addClass('icon-angle-down');
            })
        });
        highlight_nav('{$menu}');
    </script>
    <block name="script"></block>
</body>
</html>