<div id="header" class="navbar navbar-default">
    
    <div class="navbar-header">
        <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button> -->
        <a class="navbar-brand" href="<?php echo $_SERVER['HTTP_HOST']?>" target="_blank">
        <!-- <img src="__IMG__/logo.png" alt=""> -->
        网址首页</a>

    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">

                <a role="button" class="dropdown-toggle dropdown-toggle-avatar" data-toggle="dropdown">
                    <span>欢迎您:&nbsp;</span>{$Think.session.name}&nbsp;<i class="fa icon-caret-down"></i>
                </a>
                <ul class="dropdown-menu text-left" role="menu">
                    <li>
                        <a href="{:U('Public/edit')}">修改个人信息</a>
                    </li>
                    <li>
                        <!-- <a href="{:U('Public/password')}">修改密码</a> -->
                    </li>
                    <li>
                        <a href="{:U('Public/signout')}">登出</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>