<div class="sidebar-nav navbar-default navbar-collapse" role="navigation">
    <ul class="nav" id="side-menu">
        <li>
            <a href="http://www.sy115.com" target="_blank"><i class="fa icon-dashboard fa-fw"></i>网站首页<span class="fr icon-angle-right"></span></a>
        </li>
        <li>
            <a href="#"><i class="fa icon-dashboard fa-fw"></i>数据统计<span class="fr icon-angle-right"></span></a>
            <ul class="nav nav-second-level">
                <li><a href="{:U('Public/show')}">游戏下载统计</a></li>
                <li><a href="{:U('Public/game')}">营收明细</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa icon-shopping-cart fa-fw"></i>游戏管理<span class="fr icon-angle-right"></span></a>
            <ul class="nav nav-second-level">
                <li><a href="{:U('Game/Index')}">游戏列表</a></li>
                  <li><a href="{:U('News/Index')}">新闻列表</a></li>
                 <li><a href="{:U('Kaifu/Index')}">开服列表</a></li>
                 <li><a href="{:U('Libao/Index')}">礼包列表</a></li>
                 <li><a href="{:U('Kaifu/Seourl')}">百度URL提交列表</a></li>
                 <li><a href="{:U('Server/Index')}">系统设置</a></li>
                 <li><a href="{:U('Game/Addapp')}">APP广告</a></li>
                 <li><a href="{:U('Server/Clearcase')}">清除缓存</a></li>

                <!-- <li><a href="{:U('Apply/index')}">Applied Positions</a></li>
                <li><a href="{:U('Article/index')}">Single Page</a></li>
                <li><a href="{:U('Category/index')}">Category</a></li>
                <li><a href="{:U('Feedback/index')}">Feedback</a></li> -->
            </ul>
        </li>
         <!-- <li>
            <a href="#"><i class="fa icon-bullhorn fa-fw"></i>首页运营<span class="fr icon-angle-right"></span></a>
            <ul class="nav nav-second-level">
                <li><a href="{:U('Banner/index')}">大图管理</a></li>
               
                <li><a href="{:U('Product/index')}">商品管理</a></li>
                <li><a href="{:U('Video/index')}">视频管理</a></li>
            </ul>
        </li> -->
    <!--     <li>
            <a href="#"><i class="fa icon-group"></i>评论管理<span class="fr icon-angle-right"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="{:U('User/index')}">用户列表</a>
                </li>
                <li><a href="{:U('Comment/index')}">评论管理</a>
                </li>
                 <li><a href="{:U('Comment/indexVideo')}">视频评论</a>
                </li>
            </ul>
        </li> -->
     <!--    <li>
            <a href="#"><i class="fa icon-rss"></i>其他管理<span class="fr icon-angle-right"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="{:U('commodity/index')}">品牌管理</a>
                </li>
                <li>
                    <a href="{:U('Commodity/editor_index')}">小编管理</a>
                </li>
                <li>
                    <a href="{:U('Volume/index')}">优惠卷管理</a>
                </li>
            </ul>
        </li> -->
    </ul>
</div>
