<block name="title">
    <title>热门苹果IOS,BT手游大全_苹果IOS满vip手游公益服_IOS手游无限元宝服下载_115手机游戏</title>
</block>
<block name="keywords">
    <meta name="keywords" content="IOS手游公益服,IOS手机游戏无限元宝公益服,IOS手机游戏公益服大全">
</block>
<block name="description">
    <meta name="description" content="115手游网,为IOS手游玩家提供海量免费手机游戏公益服下载,多款IOS手游公益服,gm版IOS手游公益服,IOS手机网游无限元宝服,IOS手游私服火爆开服中,玩IOS手机游戏就上115游戏社区！">
</block>
<extend name="Public:main" />
<block name="main">
<link rel="stylesheet" href="__PUBLIC__/Wap/css/gametype.css">
<div class="mui-content" style="padding-bottom: 50px;">
    <!--选项卡-->
    <div style="padding: 10px 10px;background-color: #ffffff;">
        <div id="segmentedControl" class="mui-segmented-control" my-status="1">
           
            <a class="mui-control-item mui-active" href="__MODULE__/IOS">
                IOS游戏
            </a>
            <!-- <a class="mui-control-item " href="#option3">
                游戏类型
            </a> -->
        </div>
    </div>
    <div>
             
       <div id="item1" class="mui-control-content mui-active">
            <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed">
            <?php 
                $b=1;
                for($i=0;$i<20;$i++){
                    if(!empty($game[$i]['id'])){


                ?>
                <li class="mui-table-view-cell mui-media" onclick="goDown(this,event)">
                    <div class="urlAdd" style="display: none;"><?php echo U("listseo/".$game[$i]['seourl'])?></div>
                    <div class="mui-media-body">
                        <div class="mui-table">
                            <div class="mui-table-cell mui-col-xs-1" style="vertical-align: middle;text-align: center;">
                                <div class="ln-tag lt<?php echo $b;?>" ><span style="color:#aeaeae"><?php echo $b;?></span><i></i></div>
                            </div>
                            <div class="mui-table-cell mui-col-xs-3" style="vertical-align: middle;text-align: center;">
                                <img class="mui-media-object" src="__PUBLIC__/Upload/Product/<?php echo $game[$i]['logo']?>">
                            </div>
                            <div class="mui-table-cell mui-col-xs-6" style="vertical-align: middle;">
                                <h4 class="mui-ellipsis"><?php echo $game[$i]['gamename']?></h4>
                                <h6> &nbsp;<?php echo $game[$i]['gamesize'];?>&nbsp; | 
                                <span style="color: #fb9143;">
                                <?php 

                                    if(!empty($game[$i]['iosdownload'])){
                                        echo "安卓/IOS";
                                    }else{
                                        echo "安卓";
                                    }
                                ?></span></h6>
                                <p class="mui-h6 mui-ellipsis"><?php 
                                    $span1="";
                                    $duction=explode(",",$game[$i]['duction']);
                                    $span1.="<b style='background:red;color:white;'>".$duction[0]."</b>&nbsp;";
                                    $span1.="<b style='background:blue;color:white;'>".$duction[1]."</b>&nbsp;";
                                    $span1.="<b style='background:limegreen;color:white;'>".$duction[2]."</b>";
                                    echo $span1;

                                ?></p>
                            </div>
                            <div class="mui-table-cell mui-col-xs-2 mui-text-right" style="vertical-align: middle;">
                         
                                    <button type="button" class="mui-btn download" style="width:100%;padding: 5px 0px;border: 0;">
                                     <a href="<?php echo U("listseo/".$game[$i]['seourl'])?>">下载</a>

                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            <?php } $b++; }?>
             </ul>
             <!-- <div class="dropload-down"><div class="dropload-refresh">↑上拉加载更多</div></div> -->
         </div>  
<script>
           $(function () {
    $.ajax({
         type:"POST",
         url:"__MODULE__/IOSdata",
         success:function(result){
            
            data=result;
        
    // var data = {
    //     "lists": [
    //         {
    //             "order":"21",
    //             "name": "择天情缘",
    //             "pic": "/data/upload/game/20170608/5938b4f21cd25.jpg",
    //             "rank": "8",
    //             "type": "即时",
    //             "version": "",
    //             "size": "  MB ",
    //             "description": "送VIP7-18000银元-500000铜币",
    //             "link": "/ztqy",
    //             "url": "/ztqy",
    //             "totaldown": "111946",
    //             "id": "359"

    //         }]
    // };

    var counter = 0;
    // 每页展示5个
    var num = 20;
    var pageStart = 1, pageEnd = 0;
    // alert(data['lists'][0]['id']);
    // dropload
    $('#item1').dropload({
        scrollArea: window,
        domDown: {
            domClass: 'dropload-down',
            domRefresh: '<div class="dropload-refresh">↑上拉加载更多</div>',
            domLoad: '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
            domNoData: '<div class="dropload-noData">暂无数据</div>'
        },
        loadDownFn: function (me) {

            var result = '';
            counter++; //1 2 3
            pageEnd = num * counter; //4*1 4*2 4*3 总条数
            pageStart = pageEnd - num; //4-4 8-4 12-4 下标
            var lt = '';
            // ab=$(".selecttd").length;
            for (var i = pageStart; i < pageEnd; i++) {
                if (i == 0) {
                    lt = 'lt1';
                } else if (i == 1) {
                    lt = 'lt2';
                } else if (i == 2) {
                    lt = 'lt3';
                } else {
                    lt = 'lt4';
                }

                if (i >= data['lists'].length) {
                    //alert(1);
                    // 锁定
                    me.lock();
                    // 无数据
                    me.noData();
                    break;
                }
                var typeaaa="";
                if(data['lists'][i]['iosdownload']!=""){
                    typeaaa="安卓/IOS";
                }else{
                    typeaaa="安卓";
                }
                var stra=data['lists'][i]['duction'];
                var duction=new Array();
                var duction=stra.split(",");
                var ductionstring1="";
                var ductionstring2="";
                var ductionstring3="";

                var ductionstring1="<span style='background:red;color:white;'>"+duction[0]+"</span>&nbsp;";
                var ductionstring2="<span style='background:blue;color:white;'>"+duction[1]+"</span>&nbsp;";
                var ductionstring3="<span style='background:limegreen;color:white;'>"+duction[2]+"</span>";
                var newductionstring=ductionstring1+ductionstring2+ductionstring3;
                
                result += '<li class="mui-table-view-cell mui-media" onclick="goDown(this,event)">' + '<div class="urlAdd" style="display: none;">/listseo/' + data['lists'][i]['seourl'] + '.html</div>'
                    + '<div class="mui-media-body">'
                    + '<div class="mui-table">'
                    + '<div class="mui-table-cell mui-col-xs-1" style="vertical-align: middle;text-align: center;">'
                    + '<div class="ln-tag"><span style="color:#aeaeae"></span><i></i></div></div>'
                    + '<div class="mui-table-cell mui-col-xs-3" style="vertical-align: middle;text-align: center;">'
                    + '<img class="mui-media-object" src="__PUBLIC__/Upload/Product/' + data['lists'][i]['logo'] + '"></div>'
                    + '<div class="mui-table-cell mui-col-xs-6" style="vertical-align: middle;">'
                    + '<h4 class="mui-ellipsis">' + data['lists'][i]['gamename'] + '</h4>'
                    + '<h6>' + data['lists'][i]['gamesize'] + ' | <span style="color: #fb9143;">' + typeaaa+ '</span></h6>'
                    + '<p class="mui-h6 mui-ellipsis">' + newductionstring + '</p>'
                    + '</div>'
                    + '<div class="mui-table-cell mui-col-xs-2 mui-text-right" style="vertical-align: middle;">'
                    + '<button type="button" class="mui-btn download" style="width:100%;padding: 5px 0px;border: 0;">'
                    + '<a  href="/listseo/'  + data['lists'][i]['seourl'] +  '.html">下载</a></button></div></div></div></li>';
                //+'<a  onclick="javascript:showDown('+data.lists[i].id+');" href="javascript:void(0);" class="down">下载</a></button></div></div></div></li>';
                // ab++;
            }
            // 为了测试，延迟1秒加载
            setTimeout(function () {
                $('#item1 ul').append(result);
                $('.down').each(function () {
                    $(this).click(function () {
                        $('.gmdetaDown,.full').fadeIn(1000);
                    })
                })
                $('.close').each(function () {
                    $(this).click(function () {
                        $('.gmdetaDown,.full').fadeOut(1000);
                    })

                })
                $('.mui-content').css({"padding-bottom": "50px"});
                // 每次数据加载完，必须重置
                me.resetload();
            }, 1000);

            me.unlock();
        },
        threshold: 10
    });

       }
    });


});
        </script>
<include file="Public:footer" />

<script type="text/javascript">
    $(document).ready(function () {
        $("#apkclose").click(function () {
            $(".ui-footer-btnall").hide();
        });
    });
</script>

 <script src="__PUBLIC__/Wap/js/mui.min.js"></script>

 <script type="text/javascript" src="__PUBLIC__/Wap/js/netgame.js"></script>
<script type="text/javascript" src="__PUBLIC__/Wap/js/iscroll.js"></script>
<script type="text/javascript" src="__PUBLIC__/Wap/js/sliderNew.js"></script>
<script src="__PUBLIC__/Wap/js/dropload.min.js"></script>
<script src="__PUBLIC__/Wap/js/common.js"></script>  
<script src="__PUBLIC__/Wap/js/swiper.min.js"></script>


<script type="text/javascript">
    $('#game1').addClass('mui-active');
</script>


<script type="text/javascript" charset="utf-8">
    //mui初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });
</script>
</block>