<block name="title">
    <title>最新手游公益服开服表,手机网游无限元宝公益服开服榜-115手机游戏</title>
</block>
<block name="keywords">
    <meta name="keywords" content="手游开服表,手游开服时间表,手机游戏开服表">
</block>
<block name="description">
    <meta name="description" content="手游开服表是由115游戏手游网为广大玩家提供的,内含最新手游公益服开服表、最新手机游戏开服时间,想要了解、查询手机网游无限元宝公益服开服榜的朋友可以在此处找到最详细的手游服开服信息!">
</block>
<extend name="Public:main" />
<block name="main">
<div class="mui-content">
    <!--选项卡-->
    <div style="padding: 10px 10px;background-color: #ffffff;">
        <div id="kfControl" class="mui-segmented-control">
            <a class="mui-control-item mui-active" href="__MODULE__/Kaifu">
                开服表
            </a>
          <!--   <a class="mui-control-item" href="http://m.185sy.com/kf.html#kf-item2">
                开测表
            </a> -->
        </div>
    </div>
        <div>
        <div id="kf-item1" class="mui-control-content mui-active">
            <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed">
                    <li class="mui-table-view-cell mui-media title">
                        <a href="__MODULE__/Kaifu"> <span class="yuan"></span>
                            <h4>今日开服&nbsp;&nbsp; <span><?php echo date("Y",time())."年".date("m",time())."月".date("d",time())."日";?> <?php echo "星期".mb_substr("日一二三四五六",date("w"),1,"utf-8");?></span></h4>
                        </a>
                    </li>
       <?php 
                //获取今天的时间戳
                // $day_0=strtotime(date('Y-m-d',time()));
                // $day_24=strtotime(date('Y-m-d',time()+60*60*24));
               
                foreach($kaifu as $key=>$v){
                  $Game=M('Gameinfo')->field("id,logo,duction,seourl")->where("gamename='".$v['gamename']."'")->find();
                  if(!empty($Game)){

            ?>
                <li class="mui-table-view-cell mui-media" onclick="goDown(this, event);">
                    <div class="urlAdd" style="display:none;">/listseo/<?php echo $Game['seourl']?>.html</div>
                    <div class="mui-media-body">
                        <div class="mui-table">
                            <div class="mui-table-cell mui-col-xs-3" style="vertical-align: middle;">
                                <img class="mui-media-object mui-pull-left" src="__PUBLIC__/Upload/Product/<?php echo $Game['logo']?>">
                            </div>
                            <div class="mui-table-cell mui-col-xs-7" style="vertical-align: middle;">
                                <h4 class="mui-ellipsis"><?php echo $v['gamename'];?></h4>
                                <h6 class="mui-ellipsis">时间：<span class="time">今天 <?php echo date("H:i",$v['kfday']);?>  <?php echo $v['server'];?></span></h6>
                                <p class="mui-h6 mui-ellipsis"><?php $span1="";
                                    $duction=explode(",",$Game['duction']);
                                    $span1.="<b style='background:red;color:white;'>".$duction[0]."</b>&nbsp;";
                                    $span1.="<b style='background:blue;color:white;'>".$duction[1]."</b>&nbsp;";
                                    $span1.="<b style='background:limegreen;color:white;'>".$duction[2]."</b>";
                                    echo $span1;?></p>
                            </div>
                            <div class="mui-table-cell mui-col-xs-2 mui-text-right" style="vertical-align: middle;">
                                <button type="button" class="mui-btn download" style="border:0;width:100%;padding:5px 0px;">
                                    <a href="<?php echo U("listseo/".$Game['seourl'])?>" class="down">下载</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
          <?php } }?>    
             </ul>           
         </div>
    </div>
</div>
<include file="Public:footer" />
<!-- <div style="display:none">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?22e8676ad1a872e908279ea0edd5d93c";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script src="__PUBLIC__/Wap/img/stat.php" language="JavaScript"></script><script src="__PUBLIC__/Wap/img/core.php" charset="utf-8" type="text/javascript"></script><a href="http://www.cnzz.com/stat/website.php?web_id=1256630799" target="_blank" title="站长统计">站长统计</a></div> -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#apkclose").click(function () {
            $(".ui-footer-btnall").hide();
        });
    });
</script>

<!-- <script src="__PUBLIC__/Wap/js/mui.min.js"></script>

<script type="text/javascript" src="__PUBLIC__/Wap/js/netgame.js"></script>
<script type="text/javascript" src="__PUBLIC__/Wap/js/iscroll.js"></script>
<script type="text/javascript" src="__PUBLIC__/Wap/js/sliderNew.js"></script>
<script src="__PUBLIC__/Wap/js/dropload.min.js"></script> -->
<script src="__PUBLIC__/Wap/js/common.js"></script>
<script src="__PUBLIC__/Wap/js/swiper.min.js"></script>


<!-- <script src="__PUBLIC__/Wap/js/common.js"></script>
<script src="__PUBLIC__/Wap/js/common-1.js"></script> -->
<script type="text/javascript">
    $('#kaifu').addClass('mui-active');
</script>
<script type="text/javascript" charset="utf-8">
    //mui初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });
</script>
</block>