<block name="title">
    <title>手游礼包,手游礼包领取中心,手机游戏礼包大全 礼包-115手机游戏</title>
</block>
<block name="keywords">
    <meta name="keywords" content="手游礼包,手游礼包领取中心,手游礼包大全">
</block>
<block name="description">
    <meta name="description" content="115游戏发号中心是手游玩家最喜爱的手游礼包领取平台，提供特权礼包、激活码、新手卡、新服礼包、礼包兑换码、发号内测账号等信息，免费手机游戏礼包等你来领取！">
</block>
<extend name="Public:main" />
<block name="main">
    <link href="__PUBLIC__/Wap/css/card.css" rel="stylesheet" type="text/css">
    <script src="__PUBLIC__/Wap/css/hm.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Wap/js/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Wap/js/card.right.js"></script>

<!-- <div class="content">
    <ul id="menu-bar">
        <div class="title"><a href="javascript:void(0)" class="userBtn2"></a></div>
        <a href="http://m.185sy.com/"><li>首页</li></a>
        <a href="http://m.185sy.com/game"><li>手机网游</li></a>
        <a href="http://m.185sy.com/news"><li>新闻资讯</li></a>
        <a href="http://m.185sy.com/kf"><li>开服表</li></a>
        <a href="http://m.185sy.com/top"><li>排行榜</li></a>
        <a href="http://m.185sy.com/card"><li>独家礼包</li></a>
        <a href="http://m.185sy.com/card-list-2-0.html"><li>新手卡</li></a>
        <a href="http://m.185sy.com/card-list-3-0.html"><li>激活码</li></a>
        <a href="http://m.185sy.com/card-user.html"><li>我的礼包</li></a>
    </ul>
    <div style="position:relative; height:50px;">
        <div class="header of fixed-f">
            <div class="logo fl">
                <a href="http://m.185sy.com/index.html">
                    <img src="__PUBLIC__/Wap/img/590c2943e83f8.png"></a>
                
            </div>
            <a class="menu" id="dot"></a> 
           <a id="userBtn1" class="mySelf"></a>
        </div>
    </div>
          <div class="userInfo" style="left: 20%;display:none">
            <div id="dl">
                <div class="title">
                    <a href="javascript:void(0)" class="userBtn2"></a>
                </div>
                <div class="loginR">
                    <div class="title">用户登录</div>
                    <form name="login" method="post" action="http://m.185sy.com/Login-login.html" id="login">
                        <div class="li">
                            <input class="input" name="username" type="text" id="username" placeholder="用户名/邮箱">
                        </div>
                        <div class="li">
                            <input class="input" name="password" type="password" id="password" placeholder="密码">
                        </div>
                        <div class="hr"></div>
                        <div class="li">
                            <a class="submit login" href="http://m.185sy.com/card.html#" name="submit">登录</a>
                            <a class="link" href="javascript:;" onclick="dl.style.display=&quot;none&quot;;zc.style.display=&quot;block&quot;">新用户注册</a>

                        </div>
                    </form>
                </div>
            </div>
            <div id="zc" style="display:none;">
                <div class="title">
                    <a href="javascript:void(0)" class="userBtn2"></a>
                </div>
                <div class="loginR">
                    <div class="title">新用户注册</div>
                    <form method="post" action="http://m.185sy.com/Login-register.html" id="reg">
                        <input type="hidden" name="enews" value="register">
                        <input type="hidden" name="siteid" value="1">
                        <input type="hidden" name="ecmsfrom" id="forward" value="9">
                        <div class="li">
                            <input class="input" type="text" id="regname" name="regname" placeholder="注册用户名">
                        </div>
                        <div class="li">
                            <input class="input" type="password" id="regpassword" name="regpassword" placeholder="设置登录密码">
                        </div>
                        <div class="li">
                            <input class="input" type="password" name="repassword" id="repassword" placeholder="再次输入确认密码">
                        </div>
                        <div class="li">
                            <input class="input" type="text" id="email" name="email" placeholder="注册邮箱，预定卡号时需要">
                        </div>
                        <div class="hr"></div>
                        <div class="li">
                            <input type="checkbox" name="protocol" id="protocol" checked="" style="display:none;">
                            <a class="submit reg" href="http://m.185sy.com/card.html#" name="submit">注册</a>
                            <a class="link" href="javascript:;" onclick="zc.style.display=&quot;none&quot;;dl.style.display=&quot;block&quot;">已有帐号</a>
                        </div>
                    </form>
                </div>
            </div>
            <div id="qhts"></div>
        </div>    <div class="full"></div>
    <div class="nav of">
        <ul>
            <a href="http://m.185sy.com/">
                <li>首页</li>
            </a>
            <a id="t_card18" href="__PUBLIC__/Wap/img/独家礼包-185手游.html" style="color:#f6505c;">
                <li>独家礼包</li>
            </a>
            <a id="t_card19" href="http://m.185sy.com/card-list-2-0.html">
                <li>新手卡</li>
            </a>
            <a id="t_card20" href="http://m.185sy.com/card-list-3-0.html">
                <li>激活码</li>
            </a>
            <a id="t_card_user" href="http://m.185sy.com/card-user.html">
                <li>我的礼包</li>
            </a>
        </ul>
    </div> -->
<!-- <div class="search clearfix">
<form action="http://m.185sy.com/search_packs" method="post" id="search_sub">
    	<input name="key" type="text" placeholder="请输入搜索内容" value="">
	        <input type="button" id="search" class="searchBtn" value="">
      </form>
    </div> -->
    <div class="tabs1 of">
        <ul id="menu">
            <li class=" tabs1li tabActive"><a href="__MODULE__/Game">全部</a></li>
            <!-- <li class="tabs1li "><a href="http://m.185sy.com/card-list-1-1.html">进行中</a></li>
            <li class="tabs1li "><a href="http://m.185sy.com/card-list-1-2.html">预定号</a></li>
            <li class="tabs1li "><a href="http://m.185sy.com/card-list-1-3.html">已结束</a></li> -->
        </ul>
    </div>
    <ul class="gameList tabsUl">
    <?php foreach ($Lb as $key => $value) {
        $Game=M('Gameinfo')->field("id,logo,duction")->where("id='".$value['gamename']."'")->find();
                  if(!empty($Game)){
    ?>
    <li>
            <a class="game" href="__MODULE__/Lbxq/<?php echo $value['id']?>">
                <div class="gameImg fl">
                    <img src="__PUBLIC__/Upload/Product/<?php echo $Game['logo']?>">
                </div>
                <div class="gameDetail">
                    <h2 class="gameName"><?php echo $value['lbname']?></h2>
                    <p class="giftDesc">
                    <span class="explainStatusBg">
                    <?php 
                    $file=$value['path'];
                    $count=count(file($file));
                    $jilu=$value['jilu'];
                    $countLB=100-(round($jilu/($count+$jilu),2)*100);
                ?> 
                    <span class="explainStatusOver" style="width:<?php echo $countLB?>%">
                    </span></span><span class="orange">剩余<?php echo $countLB?>%</span></p>
                </div>
                <span class="enterIcon"></span>
            </a>
        </li>
    <?php } }?>
        </ul>
    <!-- <a class="likeMore" href="javascript:getMoreSortAppInfo()" id="moreSortApps" style="display: block;">查看更多</a> -->
    <!-- <a class="likeMore" id="noMore" style="display:none">没有更多内容了</a> -->
    <!-- <a class="likeMore" id="loading" style="display: none;"><img src="__PUBLIC__/Wap/img/loading.gif" width="20" height="20"></a>
    <input id="pageNo" type="hidden" value="1">
    <input id="pageCnt" type="hidden" value="2"> -->
</div>

<script type="text/javascript">
    // $('#pageNo').val(0);
    // function getMoreSortAppInfo() {
    //     $('#moreSortApps').hide();
    //     $('#loading').show();
    //     var pageNo = $('#pageNo').val();
    //     var pageCnt = $('#pageCnt').val();
    //     if (eval(pageNo) >= eval(pageCnt)) {
    //         $('#loading').hide();
    //         $('#noMore').show();
    //         return;
    //     } else {
    //         pageNo = eval(pageNo) + 1;
    //     }
    //     var error = 0;
    //     var type = $("#type").val();
    //     var toUrl = '/packs-index-p-' + pageNo + '-pack_type-1-type-0-method-1';

    //     $.ajax({
    //         url: toUrl,
    //         type: 'GET',
    //         cache: false,
    //         dataType: 'text',
    //         complete: function () {
    //             $('#loading').hide();
    //             if (error == 1) {
    //                 //$('#noMore').html('加载失败');
    //                 $('#moreSortApps').html('重新加载');
    //                 $('#noMore').show();
    //                 $('#moreSortApps').show();
    //             } else {
    //                 $('#moreSortApps').html('查看更多');
    //                 if (eval(pageNo) >= eval(pageCnt)) {
    //                     $('#noMore').show();
    //                 } else {
    //                     $('#moreSortApps').show();
    //                 }
    //             }
    //         },
    //         success: function (data) {
    //             if (data) {
   
    //             	$('.gameList').append(data);
    //                 $('#pageNo').val(pageNo);
                	    
    //             }

   
    //             else {
    //                 error = 1;
    //             }
    //         },
    //         error: function () {
    //             error = 1;
    //         }
    //     });

    // }
</script>
<!-- <a href="javascript:void(0);" title="返回顶部" class="goTop" style=""></a> -->
<include file="Public:footer" />
<!-- 

    <footer>
	<small>
		<p style="text-align:center;">
			<a id="_pingansec_bottomimagesmall_brand" href="http://si.trustutn.org/info?sn=697170401027744701222&certType=1"><img src="__PUBLIC__/Wap/img/brand_bottom_small.jpg"></a>
			<a key="5770d2caefbfb00a5a3c490d" logo_size="124x47" logo_type="realname" href="https://v.pinpaibao.com.cn/authenticate/cert/?site=m.185sy.com&at=realname" target="_blank">
				<script src="__PUBLIC__/Wap/img/aq_auth.js"></script><b id="aqLogoPIGRJ" style="display: none;"></b><img src="__PUBLIC__/Wap/img/sm_124x47.png" alt="安全联盟认证" width="124" height="47" style="border: none;">
			</a>
			健康游戏忠告：抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防上当受骗 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活&nbsp;&nbsp;
			开票信息－名称：江西腾王动漫产业服务有限公司&nbsp;&nbsp;识别号：913601085965055194&nbsp;&nbsp;开户行及帐号：中国民生银行南京路支行&nbsp;3508012830000124&nbsp;&nbsp;
			开户行地址：江西省南昌市青山湖区火炬大道579号绿悦软件大厦1楼&nbsp;&nbsp;地址、电话：江西省南昌市南昌经济技术开发区枫林西大街917号世纪新宸大厦办公楼2#写字楼2001室&nbsp;&nbsp;0791-87872577
		</p>
    </small>
    <nav>
        <a href="http://m.185sy.com/">首页</a>
		<a href="http://m.185sy.com/news.html">资讯</a>
		<a href="http://m.185sy.com/game.html">网游</a>
		<a href="http://m.185sy.com/top.html">排行</a>
		<a href="__PUBLIC__/Wap/img/独家礼包-185手游.html" style="width:15%">发号</a>
    </nav>
	<small>
					Copyright © 2015-2016 <a href="http://m.185sy.com/">www.185sy.com</a> All rights reserved&nbsp;<a href="http://www.miitbeian.gov.cn/" target="_blank">备案号：赣ICP备11008268号-5</a>&nbsp;赣网文[2015]2031-012号185手机游戏 版权所有&nbsp;&nbsp;
	</small>
</footer>
<div style="display:none">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?22e8676ad1a872e908279ea0edd5d93c";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script src="__PUBLIC__/Wap/img/stat.php" language="JavaScript"></script><script src="__PUBLIC__/Wap/img/core.php" charset="utf-8" type="text/javascript"></script><a href="http://www.cnzz.com/stat/website.php?web_id=1256630799" target="_blank" title="站长统计">站长统计</a></div> -->


<script>
// $('.searchBtn').click(function(){
//     var key = $(':input[name=key]').val();
//     if(key == ''){
//         alert('请输入搜索内容');
//         return false;
//     }
//     $('#search_sub').submit();
// });

 // $('.login').click(function(){
 //    var username = $('#username').val();
 //    var password = $('#password').val();
 //    if(username == '' || password == ''){
 //        alert('请输入用户名或密码');
 //        return false;
 //    }
 //    $('#login').submit();
//    $.post(url,{username:username,password:password},function(data){
//        if(data.status == 1){
//            $('.userInfo').css('left','100%');
//            $('.logbg').css('display','none');
//            $('#userBtn1').addClass('tlogin');
//            $('#zc').remove();
//            $('.loginR').remove();
//            var info = '<ul>';
//                info += '<li><img src="'+data.data.avatar+'"><a href="#">'+data.data.uname+'</a><span>普通会员</span></li>';
//                info += '<li>'+data.data.email+'</li>';
//                info += '<li><a href="#">我的礼包</a></li>';
//                info += '<li><a href="/Login-logout">退出</a></li></ul>';
//            $('.title').after(info);
//        }else{
//            alert(data.info);
//        }
//    })
// });
// $('.reg').click(function(){
//     var regname = $('#regname').val();
//     var regpassword = $('#regpassword').val();
//     var repassword = $('#repassword').val();
//     var email = $('#email').val();
//     var check =  /\w+[@]{1}\w+[.]\w+/;
//     if(regname == '' || regpassword == '' || repassword == '' || email == ''){
//         alert('请填写完整注册信息');
//         return false;
//     }
//     if(regpassword != repassword){
//         alert('两次输入密码不一致');
//         return false;
//     }
//     if(!check.test(email)){
//         alert('请输入正确邮箱格式');
//         return false;
//     }
//     $('#reg').submit();
// });
//  $(document).ready(function(){
 
   

//  });
</script>
<script type="text/javascript">
    $('#card').addClass('mui-active');
</script>
</block>