<block name="title">
    <title>{$data['news']['title']}_{$game[0]['gamename']}_115手机游戏</title>
</block>
<block name="keywords">
    <meta name="keywords" content="{$game[0]['gamename']}官网,{$game[0]['gamename']}私服,{$game[0]['gamename']}公益服,{$game[0]['gamename']}攻略">
</block>
<block name="description">
    <meta name="description" content="{$game[0]['details']}">
</block>
<extend name="Public:main" />
<block name="main">

    <link href="__PUBLIC__/Wap/css/mui.min.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/Wap/css/app.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/Wap/css/global.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/Wap/css/style.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/Wap/css/download.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/Wap/css/tabscroll.css" rel="stylesheet" type="text/css">
    <script src="__PUBLIC__/Wap/js/hm.js"></script><script type="text/javascript" src="__PUBLIC__/Wap/js/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Wap/js/netgame.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Wap/js/TouchSlide.1.1.js"></script>

<div class="cover-1"></div>
<style>
    
    .gamejs img{width: 90% !important}
</style>
<div class="logbg" style="display:none;"></div>
<div class="full"></div>
<div class="gamedeta" style="padding-bottom:0px;">
    <div class="az_title">
        <a href="__MODULE__/Index" class="green">首页</a> &gt;
        <a href="__MODULE__/News">资讯中心</a> <?php echo $data['news']['title']?></div>
    </div>
   
 <div class="gamejs" style="background:white;">
        <center style="margin-top: 10px;">
            <h4><?php echo $data['news']['title']?></h4>
            <br>
            
            <span style="font-size:12px;">&nbsp;浏览量:<?php echo $data['news']['clicknumber']?></span>
            <span style="font-size:12px;">发布时间:<?php echo date("Y-m-d H:i:s",$data['news']['createtimenews']);?></span>
        </center>
        <div style="margin-top: 10px;border: 1px solid #ccc;">
           <?php echo $data['news']['content']?>
        </div>
<div id="leftTabBox" class="tabBox line padding-right padding-left">
            
    <style>
        .download-notice {
            border: 1px solid #E5E7DB;
            color: #FDAA62;
            padding: 15px 10px;
            margin: 10px 0;
            overflow: hidden;
            background: #FBFDF5 url(__PUBLIC__/Wap/img/icon-download-notice.gif) no-repeat 10px center;
            padding-left: 50px;
        }
        .download-notice li {
    background: url(__PUBLIC__/Wap/img/icon-download-notice-li.gif) no-repeat left center;
                    padding-left: 13px;
                    font-size: 14px;
                    line-height: 20px;
                    color: #FF7200;
                }
        }
    </style>
           
            <div id="item1" class="mui-control-content mui-active">
            <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed">
            <?php 
                $b=1;
                for($i=0;$i<2;$i++){
                    if(!empty($game[$i]['id'])){


                ?>
                <li class="mui-table-view-cell mui-media" onclick="goDown(this,event)">
                    <div class="urlAdd" style="display: none;"><?php echo U("listseo/".$game[$i]['seourl'])?></div>
                    <div class="mui-media-body">
                        <div class="mui-table">
                            <!-- <div class="mui-table-cell mui-col-xs-1" style="vertical-align: middle;text-align: center;">
                                <div class="ln-tag lt<?php echo $b;?>" ><span style="color:#aeaeae"><?php echo $b;?></span><i></i></div>
                            </div> -->
                            <div class="mui-table-cell mui-col-xs-3" style="vertical-align: middle;text-align: center;">
                                <img class="mui-media-object" src="__PUBLIC__/Upload/Product/<?php echo $game[$i]['logo']?>">
                            </div>
                            <div class="mui-table-cell mui-col-xs-6" style="vertical-align: middle;">
                                <h4 class="mui-ellipsis"><?php echo $game[$i]['gamename']?></h4>
                                <p> &nbsp;<?php echo $game[$i]['gamesize'];?>&nbsp; | 
                                <span style="color: #fb9143;"><?php if(!empty($game[$i]['iosdownload'])){
                                        echo "安卓/IOS";
                                    }else{
                                        echo "安卓";
                                    }
                                ?></span></p>
                                <p class="mui-h8 mui-ellipsis"><?php echo $game[$i]['duction']?></p>
                            </div>
                            <div class="mui-table-cell mui-col-xs-2 mui-text-right" style="vertical-align: middle;">
                         
                                    <button type="button" class="mui-btn download" style="width:100%;padding: 5px 0px;border: 0;">
                                     <a href="<?php echo U("listseo/".$game[$i]['seourl'])?>">下载</a>

                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            <?php } $b++; }?>
             </ul>
             <!-- <div class="dropload-down"><div class="dropload-refresh">↑上拉加载更多</div></div> -->
         </div>  
          <ul class="download-notice">
                         <li>游戏充值后，请在24小时内向客服申请返利！</li>
                         <li>客服1号QQ:390373977</li>
                         <li>客服1号微信:btsy115</li>

            </ul>
           <!--  <div class="tempWrap">
                <div class="tempWrap" style="overflow: hidden; position: relative; height: 305px;"><div class="bd" id="tabBox1-bd" style="width: 3987px; position: relative; overflow: hidden; padding: 0px; margin: 0px; transition-duration: 200ms; transform: translate(0px, 0px) translateZ(0px);">
                    <div class="con" style="display: table-cell; vertical-align: top; width: 1329px;">
                      
                        <ul> -->
                            <div class="text-left text-small text-gray">
                                 <?php echo $Game['gamets']?>                            
                            </div>
        <!--                 </ul>
                    </div>
                   
                </div>
            </div>
        </div> -->

    </div>
 </div>
    <div class="gamegift">
    </div>
    <div class="download-bottom" style="vertical-align: middle;text-align: center;width: 100%;height:auto;">
        <!--<a class="addqq" style="width:45%" target="_blank"-->
           <!--href="http://wpa.qq.com/msgrd?v=3&uin=1994509845&site=qq&menu=yes" >游戏客服-->
        <!--</a>-->
        <a class="addqq" style="width:45%" href="<?php echo WEB_KFQQ;?>" target="_blank" title="联系客服" >游戏客服</a>

        <a class="addqqqun" style="width:45%" target="_blank" title="玩家交流群" href="<?php echo WEB_QQQUN;?>">玩家交流群</a>    </div>
    <div class="gamegifb">
    </div>
    <div class="youLike">
        <h2>猜您喜欢</h2>
        <ul>
            <?php foreach($Gameremen as $k=>$v){?>
               <li>
                    <a href="<?php echo U("listseo/".$v['seourl'])?>">
                        <img src="__PUBLIC__/Upload/Product/<?php echo $v['logo']?>" style="height: 40px;width:40px">
                        <p class="mui-ellipsis"><?php echo $v['gamename']?></p>
                    </a>
                </li>
            <?php }?>
        </ul>
    </div>
</div>
<script>
    $(function () {
        TouchSlide({
            slideCell: "#leftTabBox",
            endFun: auto_height
        });
    });

    function auto_height(i) {
        var bd = document.getElementById("tabBox1-bd");
        bd.parentNode.style.height = bd.children[i].children[0].offsetHeight + "px";
        if (i > 0) bd.parentNode.style.transition = "200ms";//添加动画效果
    }
</script>

<a href="javascript:void(0);" title="返回顶部" class="goTop" style=""></a>

<include file="Public:footer" />

<script type="text/javascript">
    $(document).ready(function () {
        $("#apkclose").click(function () {
            $(".ui-footer-btnall").hide();
        });
    });
</script>

<script src="__PUBLIC__/Wap/js/mui.min.js"></script>

<script type="text/javascript" src="__PUBLIC__/Wap/js/netgame.js"></script>
<script type="text/javascript" src="__PUBLIC__/Wap/js/iscroll.js"></script>
<script type="text/javascript" src="__PUBLIC__/Wap/js/sliderNew.js"></script>
<script src="__PUBLIC__/Wap/js/dropload.min.js"></script>
<script src="__PUBLIC__/Wap/js/common.js"></script>
<script src="__PUBLIC__/Wap/js/swiper.min.js"></script>


<script type="text/javascript">
    $('#game').addClass('mui-active');
</script>
<script>
// $('.download').click(function(){
//     var url = "/Game-downloadRecord.html";
//     var gid = "399";
//     $.post(url,{gid:gid},function(){

//     });
// })
// $('.login').click(function(){
//     var username = $('#username').val();
//     var password = $('#password').val();
//     if(username == '' || password == ''){
//         alert('请输入用户名或密码');
//         return false;
//     }
//     $('#login').submit();
//    $.post(url,{username:username,password:password},function(data){
//        if(data.status == 1){
//            $('.userInfo').css('left','100%');
//            $('.logbg').css('display','none');
//            $('#userBtn1').addClass('tlogin');
//            $('#zc').remove();
//            $('.loginR').remove();
//            var info = '<ul>';
//                info += '<li><img src="'+data.data.avatar+'"><a href="#">'+data.data.uname+'</a><span>普通会员</span></li>';
//                info += '<li>'+data.data.email+'</li>';
//                info += '<li><a href="#">我的礼包</a></li>';
//                info += '<li><a href="/Login-logout">退出</a></li></ul>';
//            $('.title').after(info);
//        }else{
//            alert(data.info);
//        }
//    })
// })
// $('.reg').click(function(){
//     var regname = $('#regname').val();
//     var regpassword = $('#regpassword').val();
//     var repassword = $('#repassword').val();
//     var email = $('#email').val();
//     var check =  /\w+[@]{1}\w+[.]\w+/;
//     if(regname == '' || regpassword == '' || repassword == '' || email == ''){
//         alert('请填写完整注册信息');
//         return false;
//     }
//     if(regpassword != repassword){
//         alert('两次输入密码不一致');
//         return false;
//     }
//     if(!check.test(email)){
//         alert('请输入正确邮箱格式');
//         return false;
//     }
//     $('#reg').submit();
// })
</script>
</block>