<extend name="Base/base"/>
<block name="body">
    <ul class="breadcrumb">
        <li><a href="{:U('Industry/index')}"><i class="fa icon-home"></i></a></li>
        <li>{$channelName}</li>
    </ul>
    <div class="headline">
        <h2>{$channelName}</h2>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-2">
            
        </div>
        <div class="col-md-5 col-sm-8">
            <form role="form" action="{:U('Volume/setBanner')}" method="post" id="banner_form">
            <input type="hidden" name="v_id" value="{$item.v_id}">
                    <div class="form-group">
                        <label for="exampleInputFile">优惠卷名称</label>
                        <input type="text" class="form-control" name="vtitle" placeholder="例如:满100减20" id="link" value="{$item.vtitle}">
                    </div> 
                    <div class="form-group">
                        <label for="exampleInputFile">满金额</label>
                        <input type="text" class="form-control" name="vmony" placeholder="例如:100" id="link" value="{$item.vmony}">
                    </div> 
                      <div class="form-group">
                        <label for="exampleInputFile">减金额</label>
                        <input type="text" class="form-control" name="vjmony" placeholder="例如:100" id="link" value="{$item.vjmony}">
                    </div> 
                    <div class="form-group">
                        <label for="exampleInputFile">生效时间</label>
                        <input type="text" class="form-control" name="taketime" placeholder="格式:2016-05-18(注意:不要填写其他任意符号或小时,分钟,秒)" id="link" value="{$item.taketime}">
                    </div> 
                    <div class="form-group">
                        <label for="exampleInputFile">失效时间</label>
                        <input type="text" class="form-control" name="intime" placeholder="格式:2016-05-18(注意:不要填写其他任意符号或小时,分钟,秒)" id="link" value="{$item.intime}">
                    </div> 
                    <div class="form-group">
                        <label for="exampleInputFile">数量:</label>
                        <input type="number" class="form-control" name="number" placeholder="例如:100" id="link" value="{$item.number}">
                    </div> 
                  <div class="form-group">
                        <label for="exampleInputFile">是否发布:</label>
                       <select name="wh" >
                           <option value="" >选择</option>
                           <option value="0" <if condition="$item.wh eq 1">selected</if>>否</option>
                           <option value="1" <if condition="$item.wh eq 1">selected</if>>是</option>
                       </select>
                    </div> 
                    <button>确认</button>
            </form>
        </div>
    </div>
  
</block>
<block name="script">
    <script src="__STATIC__/plugins/uploadify/jquery.uploadify.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="__STATIC__/plugins/uploadify/uploadify.css">
    <script type="text/javascript">
        $(function(){
            $("#add_banner").click(function(){
                var link = $.trim($("#link").val());
                var cover = $.trim($("#cover").val());
                var weight = $.trim($("#weight").val());
                if(isNaN(weight)){
                    alert("请输入数字");
                    return false;
                }
                if(!link){
                    alert("请输入连接");
                    return false;
                }
                if(!cover){
                    alert("请上传图片");
                    return false;
                }
                $("#banner_form").submit();
            });

            <?php $timestamp = time();?>
            $('#file_upload').uploadify({
                'formData'     : {
                    'timestamp' : '<?php echo $timestamp;?>',
                    'token'     : '<?php echo md5('unique_salt' . $timestamp);?>'
                },
                'swf'      : '__STATIC__/plugins/uploadify/uploadify.swf',
                'uploader' : '{:U("banner/uploadImg")}',
                'onUploadSuccess': funComplete,          //完成上传任务
                'OnError': funError                             //上传发生错误时
            });
        
             //图片上传发生的事件
             function funComplete(fileObj, response, data) {
                // alert('上传事件');
                if (response == 0) {
                    alert('图片' + fileObj.name + '操作失败');
                    return false;
                }else{
                     $('#preview_img').attr('src',"__ROOT__/"+response);
                     $("#cover").val(response);
                     return true;
                }
             }
             //上传发生错误时。
             function funError(event, ID, fileObj, errorObj) {
                //alert('错误事件');
                alert(errorObj.info);
                return;
             }
        })
    </script>
</block>