<extend name="Base/base"/>
<block name="body">
    <ul class="breadcrumb">
        <li><a href="{:U('Industry/index')}"><i class="fa icon-home"></i></a></li>
        <li>{$channelName}</li>
    </ul>
    <div class="headline">
        <h2>{$channelName}</h2>
    </div>
    <p class="pull-left">
        <a class="btn btn-info btn-sm" href="{:U('Volume/Volumeadd')}" target="_blank"><i class="fa icon-plus-square"></i>添加优惠卷</a>
    </p>
    <!-- <form action="__SELF__" method="get" class="navbar-form navbar-right" role="search">
        <div class="form-group">
            <select name="cname" class="form-control">
                <option value="">--行业选择--</option>
                <volist name="list" id="vo">
                    <option value="{$vo.cname}" <if condition="$Think.get.cname eq $vo['cname']">selected</if> >{$vo.cname}
                    </option>
                </volist>
            </select>
        </div>
        <input type="text" name="pname" class="form-control" placeholder="输入分类名" value='{$Think.get.pname}'>
        <button type="submit" class="btn btn-default" id="search">搜索</button>
    </form> -->
    <table class="table table-bordered table-striped">
        <tr>
            <th>序号</th>
            <th>优惠卷名称</th>
            <th>满金额</th>
            <th>减金额</th>
            <th>生效时间</th>
            <th>失效时间</th>
            <th>数量</th>
            <th>状态</th>
            <th style="width: 230px;">操作</th>
        </tr>
        <volist name="items" id="item">
            <tr>
                <!-- <td class="id">{$item.id}</td> -->
                <td>{$item.v_id}</td>
                <td>{$item.vtitle}</td>
                <td>{$item.vmony}</td>
                <td>{$item.vjmony}</td>
                <td>{$item.taketime}</td>
                <td>{$item.intime}</td>
                <td>{$item.number}</td>
                <td>
                    <if condition="$item.wh eq 0 ">
                        未发布
                    <else />
                        已发布
                    </if>
                </td>
                <td class="options">
                        <a class="btn btn-sm btn-danger" href="{:U('Volume/delBanner', array('id' => $item['v_id']))}" ><i class="fa icon-trash"></i>&nbsp;删除</a>
                        <a class="btn btn-sm btn-info" href="{:U('editBanner', array('id' => $item['v_id']))}" ><i class="fa icon-edit"></i>&nbsp;编辑</a>
                    </if>
                </td>
            </tr>
        </volist>
    </table>
    <!-- <ul class="pagination">
        <li class="disabled"><span>&laquo;</span></li>
        <volist item='paginam'>
        <li class="active"><span>{$pagination}<span class="sr-only">(current)</span></span></li>
</ul> <-->
    <center>
        {$pagination}
    </center>
</block>