<extend name="Base/base" />
<block name="body">
    <ul class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i></a></li>
        <li>{$channelName}</li>
    </ul>
    <div class="headline">
        <h2>{$channelName}</h2>
    </div>
    <form action="__SELF__" method="get" class="navbar-form navbar-right" role="search">
        <input type="text" name="mid" class="form-control" placeholder="咪咻id"
               value='<if condition="$mid gt 0">{$mid}</if>'>
        <button type="submit" class="btn btn-primary" id="search">Search</button>
    </form>
    <table class="table table-bordered table-striped">
        <tr>
            <th>title</th>
            <th>chinese title</th>
            <th>start time</th>
            <th>end time</th>
            <th>viewed time</th>
            <th>status</th>
            <th>update time</th>
            <th style="width: 195px;">options</th>
        </tr>
        <notempty name="items">
            <volist name="items" id="item">
                <tr>
                    <td class="hidden id">{$item.id}</td>
                    <td><a href="{$siteConf['Main']['WebBaseUrl']}/position/{$item['encode_id']}.html" target="_blank">{$item.name}</a></td>
                    <td><a href="{:U('candidate/position', array('id'=>$item['encode_id']))}">{$item.name_cn}</a></td>
                    <td>{$item.start_time}</td>
                    <td>{$item.end_time}</td>
                    <td>{$item.view_count}</td>
                    <td>{$item.status|get_config_value="STATUS", ###}</td>
                    <td>{$item.update_time}</td>
                    <td class="options">
                        <a class="btn btn-sm btn-default" href="{:U('edit', array('id' => $item['encode_id']))}"><i class="fa fa-edit"></i>Edit</a>
                        <if condition="$item.status eq 1">
                            <button class="btn btn-sm btn-default confirm ajax-status" status="0"><i class="fa fa-ban"></i>Forbid</button>
                            <else />
                            <button class="btn btn-sm btn-default confirm ajax-status" status="1"><i class="fa fa-check"></i>Allow</button>
                        </if>
                        <button class="btn btn-sm btn-default confirm ajax-status" status="-1"><i class="fa fa-trash"></i>Delete</button>
                    </td>
                </tr>
            </volist>
        <else />
            <tr>
                <td colspan="8">please click <a href="{:U('add')}"><i class="fa fa-plus-square"></i>post a auction</a></td>
            </tr>
        </notempty>
    </table>
    {$pagination}
</block>
<block name="script">
    <script>
        $('.ajax-status').click(function(){
            var that = this;
            var id = $(this).parent().siblings('.id').text();
            var status = $(this).attr('status');
            if ($(this).hasClass('confirm')) {
                if (!confirm('Are you sure you want to do this?')) {
                    return false;
                }
            }
            $.ajax({
                url: "{:U('updateStatus')}",
                type: 'post',
                data: {
                    'id': id,
                    'status': status
                },
                success: function(data) {
                    if (status == -1) {
                        $(that).parents('tr').remove();
                    } else {
                        $(that).attr('disabled', 'disabled');
                    }
                }
            });
        });
    </script>
</block>