<extend name="Base/base" />
<block name="body">
    <ul class="breadcrumb">
        <li><a href="{:U('Index/index')}"><i class="fa icon-home"></i></a></li>
        <li>{$channelName}</li>
    </ul>
    <div class="headline">
        <h2>{$channelName}</h2>
    </div>
    <form action="__SELF__" method="get" class="navbar-form navbar-right" role="search">
        <input type="text" name="mid" class="form-control" placeholder="大黄狗"
               value='{$mid}'>
        <button type="submit" class="btn btn-primary" id="search">搜索</button>
    </form>
    <table class="table table-bordered table-striped" style="text-align:center;">
        <tr >
            <th style="text-align:center;">ID</th>
            <th style="text-align:center;">用户名</th>
            <th style="text-align:center;">手机号码</th>
            <th style="text-align:center;">properties</th>
            <th style="text-align:center;">lasttime</th>
            <th style="text-align:center;">注册时间</th>
            <th style="text-align:center;">权限</th>
            <th style="width:195px;text-align:center">操作</th>
        </tr>
        <notempty name="items">
            <volist name="items" id="item">
                <tr>
                    <td>{$item.id}</td>
                    <td>{$item.username}</td>
                    <td>{$item.phone}</td>
                    <td>{$item.properties}</td>
                    <td>{$item.lasttime|date="Y-m-d H:i:s", ###}</td>
                    <td>{$item.addtime|date="Y-m-d H:i:s", ###}</td>
                    <td>{$item.power}</td>
                    <td class="options">
                        <a class="btn btn-large btn-primary" status="-1" href="__MODULE__/Account/restore/id/{$item.id}"><i class="fa icon-share"></i>还原</a>
                        <a class="btn btn-danger" status="-1"href="__MODULE__/Account/del/id/{$item.id}"><i class="fa  icon-trash" ></i>Delete</a>
                    </td>
                </tr>
            </volist>
        </notempty>
    </table>
    <center>
    {$pagination}
    </center>
</block>
<block name="script">
    <script>
        $('.ajax-status').click(function(){
            var that = this;
            var id = $(this).parent().siblings('.id').text();
            var status = $(this).attr('status');
            if ($(this).hasClass('confirm')) {
                if (!confirm('Are you sure you want to do this?')) {
                    return false;
                }
            }
            $.ajax({
                url: "{:U('updateStatus')}",
                type: 'post',
                data: {
                    'id': id,
                    'status': status
                },
                success: function(data) {
                    if (status == -1) {
                        $(that).parents('tr').remove();
                    } else {
                        $(that).attr('disabled', 'disabled');
                    }
                }
            });
        });
    </script>
</block>