<extend name="Public:main" />

<block name="main">
<div id="main" class="layout">
  <div class="libao">
    <div class="lb_btit">
      <ul class="lb_nav">
        <li><a href="__PUBLIC__/Home/img/PC礼包.html" class="dangqian">全部</a></li>
<li><a href="http://www.985sy.com/packs/1/">礼包</a></li>
        <li><a href="http://www.985sy.com/packs/2/">新手卡</a></li>
        <li><a href="http://www.985sy.com/packs/3/">激活码</a></li>
        <li><a href="http://www.985sy.com/packs/4/">测试号</a></li>
              </ul>
      <p>礼包放号</p>
    </div>
    <div class="lb_tit">全部</div>
    <div class="lb_con">
        <table>
        <tbody>
          <tr>
            <th class="text_left">礼包名称</th>
            <th width="100">类型</th>
            <th width="100">游戏名称</th>
            <th width="100">结束时间</th>
            <th width="100">适用系统</th>
            <th width="100">适用区服</th>
            <th width="100">运营商</th>
            <th width="100">进入专区</th>
            <th width="100">领取礼包</th>
          </tr>
            <tr>
            <td class="text_left"><a href="http://www.985sy.com/packdetail/263.htm" target="_blank">酷酷爱魔兽-礼包</a></td>
            <td>礼包</td>
            <td><a href="http://www.985sy.com/app/157.htm" target="_blank">酷酷爱魔兽</a></td>
            <td>2018-06-15</td>
            <td> <img src="__PUBLIC__/Home/img/tu_an.jpg"></td>
            <td>全服通用</td>
            <td>985sy</td>
            <td><a href="http://www.985sy.com/packs/list/157.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packdetail/263.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
          </tr>
                   <tr>
            <td class="text_left"><a href="http://www.985sy.com/packdetail/128.htm" target="_blank">格斗之皇-金币礼包</a></td>
            <td>礼包</td>
            <td><a href="http://www.985sy.com/app/103.htm" target="_blank">格斗之皇</a></td>
            <td>2018-06-30</td>
            <td><img src="__PUBLIC__/Home/img/tu_ios.jpg"> <img src="__PUBLIC__/Home/img/tu_an.jpg"></td>
            <td>全服通用</td>
            <td>985sy</td>
            <td><a href="http://www.985sy.com/packs/list/103.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packdetail/128.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
          </tr>
                   <tr>
            <td class="text_left"><a href="http://www.985sy.com/packdetail/43.htm" target="_blank">大裁决（传奇1.76）-新手礼包</a></td>
            <td>礼包</td>
            <td><a href="http://www.985sy.com/app/39.htm" target="_blank">大裁决（传奇1.76）</a></td>
            <td>2018-06-30</td>
            <td> <img src="__PUBLIC__/Home/img/tu_an.jpg"></td>
            <td>全服通用</td>
            <td>985sy</td>
            <td><a href="http://www.985sy.com/packs/list/39.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packdetail/43.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
          </tr>
                   <tr>
            <td class="text_left"><a href="http://www.985sy.com/packdetail/335.htm" target="_blank">快打三国BT-超级礼包</a></td>
            <td>礼包</td>
            <td><a href="http://www.985sy.com/app/167.htm" target="_blank">快打三国BT</a></td>
            <td>2018-06-28</td>
            <td> <img src="__PUBLIC__/Home/img/tu_an.jpg"></td>
            <td>全服通用</td>
            <td>985sy</td>
            <td><a href="http://www.985sy.com/packs/list/167.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packdetail/335.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
          </tr>
                   <tr>
            <td class="text_left"><a href="http://www.985sy.com/packdetail/334.htm" target="_blank">快打三国BT-尊贵礼包</a></td>
            <td>礼包</td>
            <td><a href="http://www.985sy.com/app/167.htm" target="_blank">快打三国BT</a></td>
            <td>2018-06-21</td>
            <td> <img src="__PUBLIC__/Home/img/tu_an.jpg"></td>
            <td>全服通用</td>
            <td>985sy</td>
            <td><a href="http://www.985sy.com/packs/list/167.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packdetail/334.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
          </tr>
                   <tr>
            <td class="text_left"><a href="http://www.985sy.com/packdetail/333.htm" target="_blank">快打三国BT-专属礼包</a></td>
            <td>礼包</td>
            <td><a href="http://www.985sy.com/app/167.htm" target="_blank">快打三国BT</a></td>
            <td>2018-06-29</td>
            <td> <img src="__PUBLIC__/Home/img/tu_an.jpg"></td>
            <td>全服通用</td>
            <td>985sy</td>
            <td><a href="http://www.985sy.com/packs/list/167.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packdetail/333.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
          </tr>
                   <tr>
            <td class="text_left"><a href="http://www.985sy.com/packdetail/332.htm" target="_blank">快打三国BT-普通礼包</a></td>
            <td>礼包</td>
            <td><a href="http://www.985sy.com/app/167.htm" target="_blank">快打三国BT</a></td>
            <td>2018-06-22</td>
            <td> <img src="__PUBLIC__/Home/img/tu_an.jpg"></td>
            <td>全服通用</td>
            <td>985sy</td>
            <td><a href="http://www.985sy.com/packs/list/167.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packdetail/332.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
          </tr>
                   <tr>
            <td class="text_left"><a href="http://www.985sy.com/packdetail/331.htm" target="_blank">我要挂机-新手礼包</a></td>
            <td>礼包</td>
            <td><a href="http://www.985sy.com/app/74.htm" target="_blank">我要挂机-GM版</a></td>
            <td>2018-06-29</td>
            <td><img src="__PUBLIC__/Home/img/tu_ios.jpg"> <img src="__PUBLIC__/Home/img/tu_an.jpg"></td>
            <td>全服通用</td>
            <td>985sy</td>
            <td><a href="http://www.985sy.com/packs/list/74.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packdetail/331.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
          </tr>
                   <tr>
            <td class="text_left"><a href="http://www.985sy.com/packdetail/330.htm" target="_blank">沙城传奇-独家礼包</a></td>
            <td>礼包</td>
            <td><a href="http://www.985sy.com/app/19.htm" target="_blank">沙城传奇</a></td>
            <td>2018-06-29</td>
            <td><img src="__PUBLIC__/Home/img/tu_ios.jpg"> <img src="__PUBLIC__/Home/img/tu_an.jpg"></td>
            <td>全服通用</td>
            <td>985sy</td>
            <td><a href="http://www.985sy.com/packs/list/19.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packdetail/330.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
          </tr>
                   <tr>
            <td class="text_left"><a href="http://www.985sy.com/packdetail/329.htm" target="_blank">沙城传奇-新手礼包</a></td>
            <td>礼包</td>
            <td><a href="http://www.985sy.com/app/19.htm" target="_blank">沙城传奇</a></td>
            <td>2018-06-29</td>
            <td><img src="__PUBLIC__/Home/img/tu_ios.jpg"> <img src="__PUBLIC__/Home/img/tu_an.jpg"></td>
            <td>全服通用</td>
            <td>985sy</td>
            <td><a href="http://www.985sy.com/packs/list/19.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packdetail/329.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
          </tr>
                   <tr>
            <td class="text_left"><a href="http://www.985sy.com/packdetail/328.htm" target="_blank">仙魔变-黄金VIP礼包</a></td>
            <td>礼包</td>
            <td><a href="http://www.985sy.com/app/22.htm" target="_blank">仙魔变</a></td>
            <td>2018-06-29</td>
            <td><img src="__PUBLIC__/Home/img/tu_ios.jpg"> <img src="__PUBLIC__/Home/img/tu_an.jpg"></td>
            <td>全服通用</td>
            <td>985sy</td>
            <td><a href="http://www.985sy.com/packs/list/22.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packdetail/328.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
          </tr>
                   <tr>
            <td class="text_left"><a href="http://www.985sy.com/packdetail/26.htm" target="_blank">仙魔变-青铜礼包</a></td>
            <td>礼包</td>
            <td><a href="http://www.985sy.com/app/22.htm" target="_blank">仙魔变</a></td>
            <td>2018-06-29</td>
            <td><img src="__PUBLIC__/Home/img/tu_ios.jpg"> <img src="__PUBLIC__/Home/img/tu_an.jpg"></td>
            <td>全服通用</td>
            <td>985sy</td>
            <td><a href="http://www.985sy.com/packs/list/22.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packdetail/26.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
          </tr>
                   <tr>
            <td class="text_left"><a href="http://www.985sy.com/packdetail/326.htm" target="_blank">魔仙传-高级礼包</a></td>
            <td>礼包</td>
            <td><a href="http://www.985sy.com/app/60.htm" target="_blank">魔仙传</a></td>
            <td>2018-06-29</td>
            <td> <img src="__PUBLIC__/Home/img/tu_an.jpg"></td>
            <td>全服通用</td>
            <td>985sy</td>
            <td><a href="http://www.985sy.com/packs/list/60.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packdetail/326.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
          </tr>
                   <tr>
            <td class="text_left"><a href="http://www.985sy.com/packdetail/325.htm" target="_blank">乱舞三国志(X三国)-新手礼包</a></td>
            <td>礼包</td>
            <td><a href="http://www.985sy.com/app/85.htm" target="_blank">乱舞三国志(X三国)</a></td>
            <td>2018-06-29</td>
            <td><img src="__PUBLIC__/Home/img/tu_ios.jpg"> <img src="__PUBLIC__/Home/img/tu_an.jpg"></td>
            <td>全服通用</td>
            <td>985sy</td>
            <td><a href="http://www.985sy.com/packs/list/85.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packdetail/325.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
          </tr>
                   <tr>
            <td class="text_left"><a href="http://www.985sy.com/packdetail/324.htm" target="_blank">少年三国2-新手礼包</a></td>
            <td>礼包</td>
            <td><a href="http://www.985sy.com/app/76.htm" target="_blank">少年三国2</a></td>
            <td>2018-06-29</td>
            <td><img src="__PUBLIC__/Home/img/tu_ios.jpg"> <img src="__PUBLIC__/Home/img/tu_an.jpg"></td>
            <td>全服通用</td>
            <td>985sy</td>
            <td><a href="http://www.985sy.com/packs/list/76.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packdetail/324.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
          </tr>
                   <tr>
            <td class="text_left"><a href="http://www.985sy.com/packdetail/323.htm" target="_blank">风云三国挂机-50元礼包B</a></td>
            <td>礼包</td>
            <td><a href="http://www.985sy.com/app/97.htm" target="_blank">风云三国挂机</a></td>
            <td>2018-06-29</td>
            <td> <img src="__PUBLIC__/Home/img/tu_an.jpg"></td>
            <td>全服通用</td>
            <td>985sy</td>
            <td><a href="http://www.985sy.com/packs/list/97.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packdetail/323.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
          </tr>
                   <tr>
            <td class="text_left"><a href="http://www.985sy.com/packdetail/322.htm" target="_blank">风云三国挂机-50元礼包A</a></td>
            <td>礼包</td>
            <td><a href="http://www.985sy.com/app/97.htm" target="_blank">风云三国挂机</a></td>
            <td>2018-06-29</td>
            <td> <img src="__PUBLIC__/Home/img/tu_an.jpg"></td>
            <td>全服通用</td>
            <td>985sy</td>
            <td><a href="http://www.985sy.com/packs/list/97.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packdetail/322.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
          </tr>
                   <tr>
            <td class="text_left"><a href="http://www.985sy.com/packdetail/321.htm" target="_blank">风云三国挂机-20元礼包B</a></td>
            <td>礼包</td>
            <td><a href="http://www.985sy.com/app/97.htm" target="_blank">风云三国挂机</a></td>
            <td>2018-06-29</td>
            <td> <img src="__PUBLIC__/Home/img/tu_an.jpg"></td>
            <td>全服通用</td>
            <td>985sy</td>
            <td><a href="http://www.985sy.com/packs/list/97.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packdetail/321.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
          </tr>
                   <tr>
            <td class="text_left"><a href="http://www.985sy.com/packdetail/320.htm" target="_blank">风云三国挂机-20元礼包A</a></td>
            <td>礼包</td>
            <td><a href="http://www.985sy.com/app/97.htm" target="_blank">风云三国挂机</a></td>
            <td>2018-06-29</td>
            <td> <img src="__PUBLIC__/Home/img/tu_an.jpg"></td>
            <td>全服通用</td>
            <td>985sy</td>
            <td><a href="http://www.985sy.com/packs/list/97.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packdetail/320.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
          </tr>
                   <tr>
            <td class="text_left"><a href="http://www.985sy.com/packdetail/319.htm" target="_blank">霸斩屠龙-元宝礼包</a></td>
            <td>礼包</td>
            <td><a href="http://www.985sy.com/app/98.htm" target="_blank">霸斩屠龙</a></td>
            <td>2018-06-29</td>
            <td><img src="__PUBLIC__/Home/img/tu_ios.jpg"> <img src="__PUBLIC__/Home/img/tu_an.jpg"></td>
            <td>全服通用</td>
            <td>985sy</td>
            <td><a href="http://www.985sy.com/packs/list/98.htm" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="http://www.985sy.com/packdetail/319.htm" class="k_lqlb" target="_blank">领取礼包</a></td>
          </tr>
                 </tbody>
      </table>
  <div class="fenye"><span class="page_prev">上一页</span><span class="page_cur">1</span><a href="http://www.985sy.com/packs/index_2.htm">2</a><a href="http://www.985sy.com/packs/index_3.htm">3</a><a href="http://www.985sy.com/packs/index_4.htm">4</a><a href="http://www.985sy.com/packs/index_5.htm">5</a><a href="http://www.985sy.com/packs/index_6.htm">6</a><a href="http://www.985sy.com/packs/index_7.htm">7</a><a href="http://www.985sy.com/packs/index_8.htm">8</a><a href="http://www.985sy.com/packs/index_9.htm">9</a><a href="http://www.985sy.com/packs/index_10.htm">10</a><a href="http://www.985sy.com/packs/index_2.htm" class="page_next">下一页</a></div>
      </div>
  </div>
</div>
<div id="footer">
  <div class="f_content">
    <p>本站作品版权归原作者享有，如无意之中侵犯了您的版权，请联系我们，本网站将应您的要求删除。<a href="http://www.miitbeian.gov.cn/" target="_blank">陕ICP备16018422号-1</a>
<script type="text/javascript" src="__PUBLIC__/Home/img/kefu.js"></script>
</p><div id="floatTools" class="float0831">
  <div id="divFloatToolsView" class="floatR">
    <div class="tp"></div>
    <div class="cn">
      <ul>
        <li class="top">
          <h3 class="titZx">QQ咨询</h3>
        </li>
        <li><span class="icoZx">在线咨询</span> </li>
        <li><a class="icoTc" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1942329047&site=qq&menu=yes" rel="nofollow">返利咨询</a> </li>
        <li><a class="icoTc" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3201994506&site=qq&menu=yes" rel="nofollow">礼包咨询</a> </li>
		<li><a class="icoTc" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3067175948&site=qq&menu=yes" rel="nofollow">开服咨询</a> </li>
		<li><a class="icoTc" target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=61ea82e8b1d81b757b0e7d934a2554b7bcb58372c03b53fb210e0201ce83fc63" rel="nofollow">玩家QQ群1</a> </li>
		<li><a class="icoTc" target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=fca39f7651e47a00004f02c2b952e2ddf27cb077467c60ecbc7d71ddfb604c76" rel="nofollow">玩家QQ群2</a> </li>
        <li class="bot"><a class="icoTc" target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=7b97144dc7693412953f40946ead58ab44f2a7c7361477fdc8e3803b5ba1d11f" rel="nofollow">玩家QQ群3</a> </li>
      </ul>
    </div>
  </div>
</div>
<div style="display:none">
<script src="__PUBLIC__/Home/img/stat.php" language="JavaScript"></script><script src="__PUBLIC__/Home/img/core.php" charset="utf-8" type="text/javascript"></script><a href="http://www.cnzz.com/stat/website.php?web_id=1260977512" target="_blank" title="站长统计">站长统计</a>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?649b174b13028992c1cd159ab1f4dbf5";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</div><p></p>
    <div><a href="http://www.985sy.com/contact/comment.htm" target="_blank">客服中心</a> |
<a href="http://www.985sy.com/contact/copyright.htm" target="_blank">版权声明</a> | <a href="http://www.985sy.com/contact/upload.htm" target="_blank">新闻投递</a> |  <a href="http://www.985sy.com/contact/address.htm" target="_blank">联系我们</a>| <a href="http://www.985sy.com/sitemap_app/" target="_blank">网站地图</a> | <a href="http://www.985sy.com/rss.htm" target="_blank">RSS</a></div>
    <p class="f_copyright">
Copyright © 2013 www.985sy.com <a href="http://www.985sy.com/">985手游</a> All rights reserved.  
</p>
  </div>
</div>
</block>