<extend name="Public:main" />

<block name="main">
<div id="main" class="layout">
  <div class="paihang">
    <div class="paihang_tit"><a href="http://www.985sy.com/recommend/viewnum/" class="cur">总排行</a><a href="http://www.985sy.com/recommend/weeknum/">周排行</a><a href="http://www.985sy.com/recommend/daynum/">日排行</a>热榜排行</div>
    <ul class="paihang_con clearfix">
       
  <li>
          <a href="http://www.985sy.com/app/33.htm" class="app_90" target="_blank">
            <i class="app_img_90"></i>
            <img src="./PC排行榜_files/201703201489974897.jpg">
          </a>
          <p class="app_tit_90"><a href="http://www.985sy.com/app/33.htm" target="_blank">龙之谷</a></p>
          <p class="app_star_90"><span class="star bigstar50"></span></p>
          <div class="iremen_dwon"><a href="http://www.985sy.com/app/33.htm" target="_blank">立即下载</a></div>
      </li>
   
  <li>
          <a href="http://www.985sy.com/app/41.htm" class="app_90" target="_blank">
            <i class="app_img_90"></i>
            <img src="./PC排行榜_files/201704011491015725.jpg">
          </a>
          <p class="app_tit_90"><a href="http://www.985sy.com/app/41.htm" target="_blank">大话叁之神将在世</a></p>
          <p class="app_star_90"><span class="star bigstar50"></span></p>
          <div class="iremen_dwon"><a href="http://www.985sy.com/app/41.htm" target="_blank">立即下载</a></div>
      </li>
   
  <li>
          <a href="http://www.985sy.com/app/31.htm" class="app_90" target="_blank">
            <i class="app_img_90"></i>
            <img src="./PC排行榜_files/201704111491894896.jpg">
          </a>
          <p class="app_tit_90"><a href="http://www.985sy.com/app/31.htm" target="_blank">新少年三国</a></p>
          <p class="app_star_90"><span class="star bigstar50"></span></p>
          <div class="iremen_dwon"><a href="http://www.985sy.com/app/31.htm" target="_blank">立即下载</a></div>
      </li>
   
  <li>
          <a href="http://www.985sy.com/app/4.htm" class="app_90" target="_blank">
            <i class="app_img_90"></i>
            <img src="./PC排行榜_files/201703201489980235.jpg">
          </a>
          <p class="app_tit_90"><a href="http://www.985sy.com/app/4.htm" target="_blank">口袋有火影</a></p>
          <p class="app_star_90"><span class="star bigstar50"></span></p>
          <div class="iremen_dwon"><a href="http://www.985sy.com/app/4.htm" target="_blank">立即下载</a></div>
      </li>
   
  <li>
          <a href="http://www.985sy.com/app/118.htm" class="app_90" target="_blank">
            <i class="app_img_90"></i>
            <img src="./PC排行榜_files/201705111494485368.jpg">
          </a>
          <p class="app_tit_90"><a href="http://www.985sy.com/app/118.htm" target="_blank">梦幻加强版</a></p>
          <p class="app_star_90"><span class="star bigstar50"></span></p>
          <div class="iremen_dwon"><a href="http://www.985sy.com/app/118.htm" target="_blank">立即下载</a></div>
      </li>
   
  <li>
          <a href="http://www.985sy.com/app/8.htm" class="app_90" target="_blank">
            <i class="app_img_90"></i>
            <img src="./PC排行榜_files/201703201489978943.jpg">
          </a>
          <p class="app_tit_90"><a href="http://www.985sy.com/app/8.htm" target="_blank">倚天无极</a></p>
          <p class="app_star_90"><span class="star bigstar50"></span></p>
          <div class="iremen_dwon"><a href="http://www.985sy.com/app/8.htm" target="_blank">立即下载</a></div>
      </li>
   
  <li class="last">
          <a href="http://www.985sy.com/app/34.htm" class="app_90" target="_blank">
            <i class="app_img_90"></i>
            <img src="./PC排行榜_files/201702231487858482.jpg">
          </a>
          <p class="app_tit_90"><a href="http://www.985sy.com/app/34.htm" target="_blank">新梦幻西游</a></p>
          <p class="app_star_90"><span class="star bigstar30"></span></p>
          <div class="iremen_dwon"><a href="http://www.985sy.com/app/34.htm" target="_blank">立即下载</a></div>
      </li>
   
  <li>
          <a href="http://www.985sy.com/app/32.htm" class="app_90" target="_blank">
            <i class="app_img_90"></i>
            <img src="./PC排行榜_files/201705311496221301.jpg">
          </a>
          <p class="app_tit_90"><a href="http://www.985sy.com/app/32.htm" target="_blank">苍穹BT</a></p>
          <p class="app_star_90"><span class="star bigstar50"></span></p>
          <div class="iremen_dwon"><a href="http://www.985sy.com/app/32.htm" target="_blank">立即下载</a></div>
      </li>
   
  <li>
          <a href="http://www.985sy.com/app/56.htm" class="app_90" target="_blank">
            <i class="app_img_90"></i>
            <img src="./PC排行榜_files/201703161489646035.jpg">
          </a>
          <p class="app_tit_90"><a href="http://www.985sy.com/app/56.htm" target="_blank">忍者萌剑传-满V</a></p>
          <p class="app_star_90"><span class="star bigstar50"></span></p>
          <div class="iremen_dwon"><a href="http://www.985sy.com/app/56.htm" target="_blank">立即下载</a></div>
      </li>
   
  <li>
          <a href="http://www.985sy.com/app/25.htm" class="app_90" target="_blank">
            <i class="app_img_90"></i>
            <img src="./PC排行榜_files/201703201489982481.jpg">
          </a>
          <p class="app_tit_90"><a href="http://www.985sy.com/app/25.htm" target="_blank">地城与勇士-满V</a></p>
          <p class="app_star_90"><span class="star bigstar40"></span></p>
          <div class="iremen_dwon"><a href="http://www.985sy.com/app/25.htm" target="_blank">立即下载</a></div>
      </li>
   
  <li>
          <a href="http://www.985sy.com/app/3.htm" class="app_90" target="_blank">
            <i class="app_img_90"></i>
            <img src="./PC排行榜_files/201703271490603327.jpg">
          </a>
          <p class="app_tit_90"><a href="http://www.985sy.com/app/3.htm" target="_blank">沙城争霸</a></p>
          <p class="app_star_90"><span class="star bigstar50"></span></p>
          <div class="iremen_dwon"><a href="http://www.985sy.com/app/3.htm" target="_blank">立即下载</a></div>
      </li>
   
  <li>
          <a href="http://www.985sy.com/app/26.htm" class="app_90" target="_blank">
            <i class="app_img_90"></i>
            <img src="./PC排行榜_files/201701141484381891.jpg">
          </a>
          <p class="app_tit_90"><a href="http://www.985sy.com/app/26.htm" target="_blank">金庸群侠传</a></p>
          <p class="app_star_90"><span class="star bigstar30"></span></p>
          <div class="iremen_dwon"><a href="http://www.985sy.com/app/26.htm" target="_blank">立即下载</a></div>
      </li>
   
  <li>
          <a href="http://www.985sy.com/app/39.htm" class="app_90" target="_blank">
            <i class="app_img_90"></i>
            <img src="./PC排行榜_files/201703201489979381.jpg">
          </a>
          <p class="app_tit_90"><a href="http://www.985sy.com/app/39.htm" target="_blank">大裁决（传奇1.76）</a></p>
          <p class="app_star_90"><span class="star bigstar30"></span></p>
          <div class="iremen_dwon"><a href="http://www.985sy.com/app/39.htm" target="_blank">立即下载</a></div>
      </li>
   
  <li class="last">
          <a href="http://www.985sy.com/app/35.htm" class="app_90" target="_blank">
            <i class="app_img_90"></i>
            <img src="./PC排行榜_files/201702271488178516.jpg">
          </a>
          <p class="app_tit_90"><a href="http://www.985sy.com/app/35.htm" target="_blank">渡劫</a></p>
          <p class="app_star_90"><span class="star bigstar30"></span></p>
          <div class="iremen_dwon"><a href="http://www.985sy.com/app/35.htm" target="_blank">立即下载</a></div>
      </li>
   
  <li>
          <a href="http://www.985sy.com/app/36.htm" class="app_90" target="_blank">
            <i class="app_img_90"></i>
            <img src="./PC排行榜_files/201703201489977665.jpg">
          </a>
          <p class="app_tit_90"><a href="http://www.985sy.com/app/36.htm" target="_blank">剑魂传说</a></p>
          <p class="app_star_90"><span class="star bigstar45"></span></p>
          <div class="iremen_dwon"><a href="http://www.985sy.com/app/36.htm" target="_blank">立即下载</a></div>
      </li>
   
  <li>
          <a href="http://www.985sy.com/app/22.htm" class="app_90" target="_blank">
            <i class="app_img_90"></i>
            <img src="./PC排行榜_files/201703201489977769.jpg">
          </a>
          <p class="app_tit_90"><a href="http://www.985sy.com/app/22.htm" target="_blank">仙魔变</a></p>
          <p class="app_star_90"><span class="star bigstar50"></span></p>
          <div class="iremen_dwon"><a href="http://www.985sy.com/app/22.htm" target="_blank">立即下载</a></div>
      </li>
   
  <li>
          <a href="http://www.985sy.com/app/19.htm" class="app_90" target="_blank">
            <i class="app_img_90"></i>
            <img src="./PC排行榜_files/201703201489977855.jpg">
          </a>
          <p class="app_tit_90"><a href="http://www.985sy.com/app/19.htm" target="_blank">沙城传奇</a></p>
          <p class="app_star_90"><span class="star bigstar50"></span></p>
          <div class="iremen_dwon"><a href="http://www.985sy.com/app/19.htm" target="_blank">立即下载</a></div>
      </li>
   
  <li>
          <a href="http://www.985sy.com/app/10.htm" class="app_90" target="_blank">
            <i class="app_img_90"></i>
            <img src="./PC排行榜_files/201703201489981020.jpg">
          </a>
          <p class="app_tit_90"><a href="http://www.985sy.com/app/10.htm" target="_blank">侠客风云</a></p>
          <p class="app_star_90"><span class="star bigstar40"></span></p>
          <div class="iremen_dwon"><a href="http://www.985sy.com/app/10.htm" target="_blank">立即下载</a></div>
      </li>
   
  <li>
          <a href="http://www.985sy.com/app/28.htm" class="app_90" target="_blank">
            <i class="app_img_90"></i>
            <img src="./PC排行榜_files/201703201489982418.jpg">
          </a>
          <p class="app_tit_90"><a href="http://www.985sy.com/app/28.htm" target="_blank">真三国战纪</a></p>
          <p class="app_star_90"><span class="star bigstar30"></span></p>
          <div class="iremen_dwon"><a href="http://www.985sy.com/app/28.htm" target="_blank">立即下载</a></div>
      </li>
   
  <li>
          <a href="http://www.985sy.com/app/85.htm" class="app_90" target="_blank">
            <i class="app_img_90"></i>
            <img src="./PC排行榜_files/201704131492063100.jpg">
          </a>
          <p class="app_tit_90"><a href="http://www.985sy.com/app/85.htm" target="_blank">乱舞三国志(X三国)</a></p>
          <p class="app_star_90"><span class="star bigstar50"></span></p>
          <div class="iremen_dwon"><a href="http://www.985sy.com/app/85.htm" target="_blank">立即下载</a></div>
      </li>
   
  <li class="last">
          <a href="http://www.985sy.com/app/143.htm" class="app_90" target="_blank">
            <i class="app_img_90"></i>
            <img src="./PC排行榜_files/201706021496400916.jpg">
          </a>
          <p class="app_tit_90"><a href="http://www.985sy.com/app/143.htm" target="_blank">大天使归来</a></p>
          <p class="app_star_90"><span class="star bigstar50"></span></p>
          <div class="iremen_dwon"><a href="http://www.985sy.com/app/143.htm" target="_blank">立即下载</a></div>
      </li>
   
  <li>
          <a href="http://www.985sy.com/app/74.htm" class="app_90" target="_blank">
            <i class="app_img_90"></i>
            <img src="./PC排行榜_files/201704011491011854.jpg">
          </a>
          <p class="app_tit_90"><a href="http://www.985sy.com/app/74.htm" target="_blank">我要挂机-GM版</a></p>
          <p class="app_star_90"><span class="star bigstar45"></span></p>
          <div class="iremen_dwon"><a href="http://www.985sy.com/app/74.htm" target="_blank">立即下载</a></div>
      </li>
   
  <li>
          <a href="http://www.985sy.com/app/92.htm" class="app_90" target="_blank">
            <i class="app_img_90"></i>
            <img src="./PC排行榜_files/201704181492517674.jpg">
          </a>
          <p class="app_tit_90"><a href="http://www.985sy.com/app/92.htm" target="_blank">燃烧战歌-满V</a></p>
          <p class="app_star_90"><span class="star bigstar40"></span></p>
          <div class="iremen_dwon"><a href="http://www.985sy.com/app/92.htm" target="_blank">立即下载</a></div>
      </li>
   
  <li>
          <a href="http://www.985sy.com/app/79.htm" class="app_90" target="_blank">
            <i class="app_img_90"></i>
            <img src="./PC排行榜_files/201704111491882127.jpg">
          </a>
          <p class="app_tit_90"><a href="http://www.985sy.com/app/79.htm" target="_blank">新仙剑奇侠传</a></p>
          <p class="app_star_90"><span class="star bigstar50"></span></p>
          <div class="iremen_dwon"><a href="http://www.985sy.com/app/79.htm" target="_blank">立即下载</a></div>
      </li>
   
  <li>
          <a href="http://www.985sy.com/app/43.htm" class="app_90" target="_blank">
            <i class="app_img_90"></i>
            <img src="./PC排行榜_files/201703091489064825.jpg">
          </a>
          <p class="app_tit_90"><a href="http://www.985sy.com/app/43.htm" target="_blank">永恒奇迹</a></p>
          <p class="app_star_90"><span class="star bigstar50"></span></p>
          <div class="iremen_dwon"><a href="http://www.985sy.com/app/43.htm" target="_blank">立即下载</a></div>
      </li>
   
  <li>
          <a href="http://www.985sy.com/app/61.htm" class="app_90" target="_blank">
            <i class="app_img_90"></i>
            <img src="./PC排行榜_files/201703201489977409.jpg">
          </a>
          <p class="app_tit_90"><a href="http://www.985sy.com/app/61.htm" target="_blank">梦幻神武</a></p>
          <p class="app_star_90"><span class="star bigstar50"></span></p>
          <div class="iremen_dwon"><a href="http://www.985sy.com/app/61.htm" target="_blank">立即下载</a></div>
      </li>
   
  <li>
          <a href="http://www.985sy.com/app/44.htm" class="app_90" target="_blank">
            <i class="app_img_90"></i>
            <img src="./PC排行榜_files/201703101489117072.jpg">
          </a>
          <p class="app_tit_90"><a href="http://www.985sy.com/app/44.htm" target="_blank">皇途霸业</a></p>
          <p class="app_star_90"><span class="star bigstar50"></span></p>
          <div class="iremen_dwon"><a href="http://www.985sy.com/app/44.htm" target="_blank">立即下载</a></div>
      </li>
   
  <li class="last">
          <a href="http://www.985sy.com/app/67.htm" class="app_90" target="_blank">
            <i class="app_img_90"></i>
            <img src="./PC排行榜_files/201703241490351021.jpg">
          </a>
          <p class="app_tit_90"><a href="http://www.985sy.com/app/67.htm" target="_blank">放开三国2-满V</a></p>
          <p class="app_star_90"><span class="star bigstar30"></span></p>
          <div class="iremen_dwon"><a href="http://www.985sy.com/app/67.htm" target="_blank">立即下载</a></div>
      </li>
      </ul>
      <div class="fenye"><span class="page_prev">上一页</span><span class="page_cur">1</span><a href="http://www.985sy.com/recommend/viewnum/index_2.htm">2</a><a href="http://www.985sy.com/recommend/viewnum/index_3.htm">3</a><a href="http://www.985sy.com/recommend/viewnum/index_4.htm">4</a><a href="http://www.985sy.com/recommend/viewnum/index_5.htm">5</a><a href="http://www.985sy.com/recommend/viewnum/index_2.htm" class="page_next">下一页</a></div>
  </div>
</div>
<div id="footer">
  <div class="f_content">
    <p>本站作品版权归原作者享有，如无意之中侵犯了您的版权，请联系我们，本网站将应您的要求删除。<a href="http://www.miitbeian.gov.cn/" target="_blank">陕ICP备16018422号-1</a>
<script type="text/javascript" src="./PC排行榜_files/kefu.js"></script>
</p>
<div style="display:none">
<script src="./PC排行榜_files/stat.php" language="JavaScript"></script><script src="./PC排行榜_files/core.php" charset="utf-8" type="text/javascript"></script><a href="http://www.cnzz.com/stat/website.php?web_id=1260977512" target="_blank" title="站长统计">站长统计</a>

</div><p></p>
    <div><a href="http://www.985sy.com/contact/comment.htm" target="_blank">客服中心</a> |
<a href="http://www.985sy.com/contact/copyright.htm" target="_blank">版权声明</a> | <a href="http://www.985sy.com/contact/upload.htm" target="_blank">新闻投递</a> |  <a href="http://www.985sy.com/contact/address.htm" target="_blank">联系我们</a>| <a href="http://www.985sy.com/sitemap_app/" target="_blank">网站地图</a> | <a href="http://www.985sy.com/rss.htm" target="_blank">RSS</a></div>
    <p class="f_copyright">
Copyright © 2013 www.985sy.com <a href="http://www.985sy.com/">985手游</a> All rights reserved.  
</p>
  </div>
</div>

</block>