
<!--底部导航-->
<!-- <footer class="ui-footer ui-footer-btn ui-footer-btnall" style="display: none;">
    <div class="close2"><img id="apkclose" src="__PUBLIC__/Wap/img/close.png" width="25px"></div>
    <div class="dlogo"><img style="height:60px" src="__PUBLIC__/Wap/img/3733apk.png" height="40px"></div>
    <div class="down">
        <a href="#" class="ui-btn ui-btn-primary">免费下载</a>
    </div>
</footer> -->
<footer style="display: block;">
        <p style="text-align:center;">
      Copyright © 2015-2016 <a href="#"><?php echo $_SERVER['HTTP_HOST']?></a> All rights reserved&nbsp;<br><a href="javascript:;" target="_blank">备案号：京ICP备10326号</a>&nbsp;京网文[2017]1219-015号&nbsp;<?php echo WEB_NAME?>手机游戏 版权所有&nbsp;&nbsp;<br>
      <br><br><br>
    </p>
</footer>

<nav class="mui-bar mui-bar-tab">
    <a id="index" href="__MODULE__/Index" class="mui-active">
        <span class="mui-icon mui-icon-home"></span>
        <span class="mui-tab-label">首页</span>
    </a>
    <a id="game" class="" href="__MODULE__/Game">
        <span class="mui-icon mui-icon-gear"></span>
        <span class="mui-tab-label">安卓新游</span>
    </a>
    <a id="game1" class="" href="__MODULE__/IOS">
        <span class="mui-icon mui-icon-gear"></span>
        <span class="mui-tab-label">IOS新游</span>
    </a>
    <a id="kaifu" class="" href="__MODULE__/Kaifu">
        <span class="mui-icon mui-icon-list"></span>
        <span class="mui-tab-label">开服表</span>
    </a>
    <a id="top" class="" href="__MODULE__/News">
        <span class="mui-icon mui-icon-flag"></span>
        <span class="mui-tab-label">资讯</span>
    </a>
    <a id="card" class="" href="__MODULE__/Lb">
        <span class="mui-icon mui-icon-star"></span>
        <span class="mui-tab-label">礼包</span>
    </a>
</nav>