<header class="mui-bar mui-bar-nav" style="background:#F8C300;">
<?php echo BDTONGJI; ?>
    <div class="logo mui-table mui-pull-left">
        <div class="mui-table-cell">
            <a href="__MODULE__/Index"><img style="margin-left: -14px;width: 140%;" src="<?php echo substr(WAP_LOGO,1);?>"> </a>
        </div>
    </div>
    <div class="mui-input-row mui-search mui-pull-left">
        <input type="search" class="" placeholder="请输入游戏名称" onclick="goSearch();" readonly="readonly" data-input-search="1" ><!-- <span class="mui-placeholder"><span class="mui-icon mui-icon-search"></span><span>请输入游戏名称</span></span> -->
    </div>
    <div class="mui-pull-right header-right">
        <div class="mui-table">
            <div class="mui-table-cell mui-col-xs-12">
                <input type="button" value="">
            </div>
        </div>
    </div>
    <script>
        function goSearch(){
            window.location.href="__MODULE__/Search";
        }
    </script>
</header>