<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="/ico.ico" />
          <block name="title"><title><?php echo WEB_TITLE;?></title></block>
          <block name="keywords"><meta name="keywords" content="<?php echo WEB_KEYWORD;?>"></block>
          <block name="description"> <meta name="description" content="<?php echo WEB_DESC;?>"></block>
    <link rel="shortcut icon" href="/favicon.ico" />
  <?php echo BDTONGJI; ?>
  <meta name="renderer" content="webkit">
    </head>
<body >
    
    <include file="Public:style" />
    <!-- 头部 -->
    <block name="menu"><include file="Public:header" /></block>
   
    <block name="left"><include file="Public:left" /></block>
    <!-- 主要内容 -->
    <block name="main">
         
    </block>
    <!-- 底部 -->
    <block name="footer"></block>
    <!-- javascript区域-->
    <block name="script"></block>
  <p>115手机游戏私服发布网,是专业的手游私服发布网站,每周更新数款最新的手游私服,站内有最新的苹果IOS手机游戏私服,安卓手机游戏私服,类型有:无限元宝手游,卡牌类手游私服,仙侠类手游私服,武侠类手游私服,满VIP手游私服,回合类手游私服,各热门手游:青云志私服,大主宰私服,少年三国志私服,天龙八部私服,梦幻西游手游私服,大话西游手游私服,问道手游私服,苹果手游私服,除了这些之外,每天还更新最新的热门手机游戏私服开服表,游戏数量上千款,每天新开游戏上百款,欢迎大家光临本站!</p><br/>
</body>
</html>